<div class="content">
    <div class="extra">
        <div class="image">

        </div>
        <div class="location">
            <i class="sm-geo"></i>
            <span></span>
        </div>
    </div>
    <div class="new">发新消息...</div>
</div>
<div class="menu">
  <button class="btn btn-white act-create-content">发表</button>
  <button class="btn btn-white add-image">
    <i class="icon-camera"></i>
    <input class="image-selector" type="file" title="图片" />
  </button>

  <div class="length-limit">140</div>
  <img class="spinner" src="/assets/icn_loading_animated-vflff1Mjj.gif">
  <button class="btn btn-gray act-close-box">放弃</button>
</div>
