<div class="post-box-header">

</div>

<div class="post-box-editor">

</div>

<div class="post-box-menu">
  <button class="btn btn-blue act-create-content">发表</button>
  <img class="spinner" src="/assets/icn_loading_animated-vflff1Mjj.gif">
  <button class="btn btn-gray act-close-box">放弃</button>
</div>
