<div class="box">
  <ul class="content-types visual no-select">
    <li class="type" data-content-type="message">
      <span>消息</span>
    </li>
    <li class="type" data-content-type="private-message">
      <span>私密消息</span>
    </li>
    <li class="type" data-content-type="picture">
      <span>图像</span>
    </li>
    <li class="type" data-content-type="link">
      <span>超链接</span>
    </li>
    <li class="type" data-content-type="article">
      <span>日志</span>
    </li>
    <li class="type" data-content-type="quote">
      <span>引用</span>
    </li>
  </ul>
</div>
