<%
   liked = if user_signed_in? && content.liked_by?(current_user) then true else false end
   marked = if user_signed_in? && content.marked_by?(current_user) then true else false end
   shared = false
%>

<%= content_tag(:article,
    :class => "content",
    :'data-content-id' => content.id,
    :'data-content-type' => content.type,
    :'data-user-id' => content.user.id,
    :'data-liked' => liked,
    :'data-marked' => marked,
    :'data-shared' => shared,
    :'data-view-point' => 'showcase')
do -%>

  <%= yield %>

<% end -%>
