<%
liked  = if user_signed_in? && content.liked_by?(current_user)  then true else false end
marked = if user_signed_in? && content.marked_by?(current_user) then true else false end
shared = if user_signed_in? && content.shared_by?(current_user) then true else false end
is_author = if user_signed_in? && content.user_id == current_user.id then true else false end
%>

<ul class="content-menu" data-is-author=<%= is_author %>>

  <li class="content-menu-btn act-delete">
    <span class="content-menu-btn-w act-dropdown-toggler">
      <span class="content-menu-btn_i">
        <i class="icon-trash"></i>
      </span>
      <span class="content-menu-btn_tx">删除</span>
    </span>
  </li>

  <li class="content-menu-btn act-share <%= 'shared' if shared %>">
    <span class="content-menu-btn-w">
      <span class="content-menu-btn_i">
        <i class="icon-share"></i>
      </span>
      <span class="content-menu-btn_tx">分享</span>
      <span class="content-menu-btn_count <%= "not-zero" if content.shares_count != 0 %>"><%= content.shares_count %></span>
    </span>
  </li>

  <li class="content-menu-btn act-mark <%= 'marked' if marked %>">
    <span class="content-menu-btn-w">
      <span class="content-menu-btn_i">
        <i class="icon-star"></i>
      </span>
      <span class="content-menu-btn_tx">收藏</span>
      <span class="content-menu-btn_count <%= "not-zero" if content.marks_count != 0 %>"><%= content.marks_count %></span>
    </span>
  </li>

  <li class="content-menu-btn act-like <%= 'liked' if liked %>">
    <span class="content-menu-btn-w act-dropdown-toggler">
      <span class="content-menu-btn_i">
        <i class="icon-heart"></i>
      </span>
      <span class="content-menu-btn_tx">赞</span>
      <span class="content-menu-btn_count <%= "not-zero" if content.likes_count != 0 %>"><%= content.likes_count %></span>
    </span>
  </li>

</ul>
