<div class="post post-sa <%= "primer" if post.primer %> <%= "after-bar" if floor && floor == 2 %>"
     data-id="<%= post.id %>"
     data-content-id="<%= post.content.id %>">

  <div class="post-header">
    <%= render partial: 'users/anchor', locals: { :user => post.user } %>
    <div class="post-info">
      <% if defined?(floor) %>
        <span class="">-<%= floor %>-</span>
      <% end %>
    </div>
  </div>

  <div class="post-body">

    <%= render partial: 'contents/post_blocks', locals: { post: post } %>

  </div>

  <div class="post-footer">

    <% if !post.primer %>
      <%= render partial: 'contents/menu', locals: { :content => post.content } %>
    <% end %>

  </div>

</div>
