<div class="post-blocks">
  <% post.blocks.each do |block| %>
    <% type = block["type"] %>
    <div class="post-block post-block-<%= type %>">
      <% if type == "text" %>
        <%= block["content"] %>
      <% elsif type == "figure" %>
        <% i = PostImage.find_by_id(block["id"]) %>
        <%= image_tag(i.image.url) %>
      <% end %>
    </div>
  <% end %>
</div>
