<% content_for(:namespace, @user.username) %>
<% content_for(:namespace_type, 'user') %>
<% content_for(:namespace_title, "#{ @user.display_name } (#{ @user.username })") %>
<% content_for :identity do %>
  <% if logged_in? && current_user.id == @user.id then 'master' else 'guest' end %>
<% end %>

<% content_for :hero do %>
  <%= render partial: 'users/hero', locals: { :display => 'hide' } %>
<% end %>

<% content_for :slider do %>
  <div class="slider">
    <%= render partial: 'users/space' %>
  </div>
<% end %>


<%= render partial: 'users/frame' %>

<div class="slide-h-w"></div>

<% content_for :showcase do %>
  <%= render partial: "viewers/#{@content.type}", locals: { content: @content } %>
<% end %>
