<header>
  <ul class="switcher">
    <li data-page-name="upload">上传图像</li>
    <!--
    <li data-page-name="patterns">选择纹理</li>
     -->
  </ul>
  <div class="btn-close">
    <img src="/assets/cross_white.svg">
  </div>
</header>
<div class="bg-box_cnt"></div>
<div class="bg-box_overlay"></div>
