<div class="bg-box-page bg-box-page-upload">
  <div class="dropzone">
    <div class="help">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="60px" height="60px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
        <g id="svg-add-image">
          <path d="M50.772,31.358c-12.424,0-22.532,10.108-22.532,22.532s10.108,22.532,22.532,22.532c12.425,0,22.533-10.108,22.533-22.532
                S63.197,31.358,50.772,31.358z M50.772,72.423c-10.219,0-18.532-8.313-18.532-18.532s8.313-18.532,18.532-18.532
                c10.22,0,18.533,8.313,18.533,18.532S60.992,72.423,50.772,72.423z"></path>
          <path d="M50.939,39.608c-7.967,0-14.449,6.481-14.449,14.448c0,1.104,0.896,2,2,2s2-0.896,2-2c0-5.761,4.688-10.448,10.449-10.448
                c1.104,0,2-0.896,2-2S52.044,39.608,50.939,39.608z"></path>
          <path d="M83.442,25H71v-1.042C71,20.48,67.538,18,64.442,18h-28C33.289,18,31,20.437,31,23.958V25H17.443
                C12.06,25,8,29.213,8,34.958v38C8,78.615,12.06,83,17.443,83h65.999C89.165,83,94,78.337,94,72.958v-38
                C94,29.59,89.066,25,83.442,25z M90,72.958C90,76.113,86.936,79,83.442,79H17.443C14.289,79,12,76.39,12,72.958v-38
                C12,31.938,13.87,29,17.443,29H33c1.104,0,2-1.015,2-2.119v-2.923C35,23.611,35.069,22,36.442,22h28C65.662,22,67,22.968,67,23.958
                v2.923C67,27.985,67.896,29,69,29h14.442C86.875,29,90,31.777,90,34.958V72.958z"></path>
        </g>
      </svg>
      <div class="help_tx">点击或拖动至此以上传图像</div>
    </div>
    <div class="image">

    </div>
    <input type="file" title="背景">
    <div class="dropzone_overlay">
      <div class="image-upload-progress">
        <span class="bar"></span>
      </div>
    </div>
  </div>

  <div class="display-field"></div>
</div>
