<div class="img-picker_pointer">

</div>
<div class="img-picker_cnt">
  <div class="img-picker_box">
    <div class="img-picker_image">
    </div>
    <div class="img-picker_image-overlay"></div>
    <div class="img-picker_front">
      <div class="img-picker_front-cnt img-picker_front_top">
        <div class="btn-choose-image">
          选择图像...
          <input type="file" title="头像">
        </div>
      </div>
      <div class="img-picker_front-cnt img-picker_front_middle">
        <div class="img-picker_front_middle_overlay">
          <img src="/assets/spinner_42px_ffffff.gif">
        </div>
      </div>
      <div class="img-picker_front-cnt img-picker_front_bottom">
        <div class="img-picker_resizer">
          <span class="small-image"></span>
          <span class="img-picker_slider">
            <div class="track-after"></div>
            <div class="track-before"></div>
          </span>
          <span class="big-image"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="img-picker_ctrls">
    <span class="btn btn-transparent btn-act-cancel">取消</span>
    <span class="btn btn-transparent btn-act-ok">确定</span>
  </div>
</div>

<div class="img-picker_overlay"></div>
