<div class="default-invisible">
  <ul class="nav-tabs">
    <li class="nav-tabs_tab act-tab-space">
      <div class="i"></div>
      <div class="p"></div>
    </li>
    <li class="nav-tabs_tab act-tab-explorer">
      <i class="i icon-users"></i>
      <div class="p"></div>
    </li>
    <li class="nav-tabs_tab act-tab-settings">
      <div class="i"></div>
      <div class="p"></div>
    </li>
    <li class="nav-tabs_tab act-tab-logout">
      <div class="i"></div>
    </li>
  </ul>

  <div class="search">
    <div class="form">
      <i class="icon icon-search"></i>
      <input type="text" spellcheck="false" autocomplete="off" placeholder="搜寻人、标签和滑页...">
      </input>
    </div>
  </div>

  <div class="userpin"></div>
</div>
