<h3 class="topic-list-item-title">
  <a href="/{{ page.name }}/topics/{{ id }}" title="{{ title }}">{{ title }}</a>
</h3>

{{#if summary }}
<p class="topic-list-item-summary">
  {{ summary }}
</p>
{{/if}}

{{#if thumbnails }}
<ul class="topic-list-item-thumbs">
</ul>
{{/if}}

<div class="topic-list-item-info">

  <span style="float: right;" class="topic-list-item-views-count">
    <span>{{ views_count }}</span>
    <span>浏览</span>
  </span>
</div>
