body {
  font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

.no-script-alert {
  z-index: 9999999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-weight: bold;
  height: 45px;
  line-height: 45px;
  color: #211e14;
  background-color: #fae692;
  background-image: -moz-linear-gradient(#feefae, #fae692);
  background-image: -webkit-linear-gradient(#feefae, #fae692);
  background-image: linear-gradient(#feefae, #fae692);
  background-repeat: repeat-x;
  border-bottom: 1px solid #b3a569;
}
.incompatible-alert {
  color: #c09853;
  padding: 8px 14px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 2px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  width: 500px;
  margin: 160px auto;

  h4 {
    color: #c09853;
    font-size: 17.5px;
    font-family: inherit;
    font-weight: bold;
    line-height: 20px;
  }

  p {

  }
}
