#bg, #bg-back {
  position: fixed;
  width: 200%;
  height: 200%;
  left: -50%;
  background: #000;
  opacity: 0;
}

#bg {
  z-index: -1;
}

#bg-back {
  z-index: -100;
}

#bg > img, #bg-back > img {
  display: block;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
