.bg-box {
  position: relative;
  margin-top: 30px;
  background-color: rgba(0,0,0,.6);
  color: #FFF;
  font-size: 12px;
  border-radius: 2px;
  border-left: 2px solid #313131;
  border-right: 2px solid #313131;
  border-bottom: 2px solid #313131;

  header {
    position: relative;
    height: 28px;
    background: #272727;
    border-top: 1px solid #3D3D3D;
    color: #ccc;
    font-weight: 700;
    line-height: 20px;
    overflow: hidden;
    text-align: center;
    padding: 3px 4px 4px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;

    .btn-close {
      width: 26px;
      height: 26px;
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      opacity: .45;
      img { width: 100%; }
    }
    .btn-close:hover { opacity: 1; }

    .switcher {
      display: inline-block;
      margin: 0;

      li {
        display: inline-block;
        border-left: 1px solid #161616;
        border-right: 1px solid #303030;
        padding: 0 10px;
        color: #878787;
        cursor: pointer;
      }
      li.active { color: #fff; cursor: default; }
      li:first-child { border-left-width: 0; }
      li:last-child { border-right-width: 0; }
    }
  }

  .bg-box_cnt {
    padding: 20px;
    position: relative;
    min-height: 300px;
  }

  .bg-box_overlay {
    display: none;
    cursor: wait;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

}

.bg-box.has-image .dropzone { min-height: initial; }


.bg-box-page-upload {

  .dropzone {
    position: relative;
    width: 300px;
    min-height: 100px;
    margin: 10px auto 0;
    background: rgba(39,39,39,.75);
    border-radius: 5px;
    border: 4px dashed rgba(255, 255, 255, .3);
    text-align: center;
  }
  .dropzone:hover { border-color: rgba(255, 255, 255, .7); background: rgba(39, 39, 39, .9); }
  .dropzone:active, .dropzone.uploading { border-color: rgba(255, 255, 255, 1); background: rgba(39, 39, 39, .9); }

  .dropzone {
    input {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      opacity: 0;
      cursor: pointer;
    }
    .help { opacity: .35; margin: 50px 0 60px; }
    .help_tx {  }
    svg { fill: #fff; }

    .image {
      img {
        max-width: 300px;
        height: auto;
      }
    }
  }
  .dropzone:hover .help { opacity: .75; }
  .dropzone:active .help { opacity: 1; }

  .dropzone_overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .46);
    display: none;
    cursor: wait;
  }

  .display-field {
    width: 400px;
    margin: 20px auto;
    text-align: center;

    .field_ctrl {
      margin-left: 10px;
    }
  }
}


@import "compass/utilities/general/clearfix";


.bg-box-page-patterns {

  .act-refresh {
    color: #ccc;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 15px;
  }

  .act-refresh:hover {
    color: #fff;
  }

  .patterns {
    @include clearfix;
  }

  .pattern {
    float: left;
    cursor: pointer;
    width: 65px;
    background-color: rgba(0, 0, 0, .44);
    background-repeat: repeat;
    background-position: 50% 50%;
    background-size: cover;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
    height: 50px;
    margin: 10px 5px;
    border-radius: 5px;
  }

  .pattern.selected {
    box-shadow: 0 0 0 3px #5081BB;
  }
}
