.btn {
  cursor: pointer;

  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;

  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;

  box-sizing: border-box;
  -moz-box-sizing: border-box;

  display: inline-block;
  vertical-align: middle;

  border-width: 1px;
  border-style: solid;
  border-radius: 4px;

  text-decoration: none;
  text-align: center;
  white-space: nowrap;

  position: relative;

  outline: 0;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;

  -webkit-tap-highlight-color: rgba(26,26,26,0.300781);
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}



.btn:focus {
  box-shadow: 0 0 5px #5e9ed6 !important;
}

.btn:active {
}

.btn.disabled {
}

.btn.btn-blue {
  border-color: #5295cc;
  background-color: #529ecc;
  color: #fff;
}

.btn.btn-blue:active {
  border-color: #4e96c2;
  background-color: #4e96c2;
}

.btn.btn-orange {
  border-color: #E67E22;
  background-color: #E67E22;
  color: #fff;
}

.btn.btn-orange:active {
  border-color: #D35400;
  background-color: #D35400;
}

.btn.btn-gray {
  background-color: #acb3bb;
  border-color: #acb3bb;
  color: #fff;
}

.btn.btn-gray:active {
  background-color: #949ca5;
  border-color: #949ca5;
  color: rgba(255,255,255,0.8);
}

.btn.btn-white {
  background-color: #fff;
  border-color: #e1e8ed;
  color: #949494;
}

.btn.btn-white:active {
  background-color: #f5f8fa;
}

.btn.btb-white.active {
  border-color: #5295cc;
  color: #5295cc;
}

.btn.btn-green {
  background-color: #60AC52;
  border-color: #60AC52;
  color: #fff;
}

.btn.btn-green:active {
  background-color: #60AC52;
  border-color: #60AC52;
}

.btn.btn-transparent {
  background-color: transparent;
  border-color: transparent;
  color: #444;
}

.btn.btn-transparent:hover {
  background-color: #e6eff7;
  border-color: #e6eff7;
}

.btn.btn-black {
  background-color: #6a6e72;
  border-color: #6a6e72;
  color: #fff;
}

.btn.btn-black:active {
  background-color: #5c6163;
  border-color: #5c6163;
  color: rgba(255,255,255,0.8);
}

.btn.btn-red {
  background-color: #c74c4c;
  border-color: #c74c4c;
  color: #fff;
}

.btn.btn-red:active {
  background-color: #bd4848;
  border-color: #bd4848;
  color: #f2e2e2;
  color: rgba(255,255,255,0.8);
}

.btn-group {
  position: relative;
  display: inline-block;
  font-size: 0;
  white-space: normal;
  vertical-align: middle;
}

.btn-group > .btn {
  border-radius: 0;
  vertical-align: middle;
}

.btn-group > .btn:first-child {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-right-width: 0;
}

.btn-group > .btn.act-dropdown-toggler {
  margin-left: -1px;
  border-left-width: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.btn-group > .btn.act-dropdown-toggler:before {
  content: '';
  display: block;
  position: absolute;
  height: 15px;
  width: 1px;
  left: 0;
  background-color: rgba(255, 255, 255, .7);
}

.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-lg {
padding: 10px 16px;
font-size: 18px;
line-height: 1.33;
border-radius: 6px;
}

.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
