article[data-content-type="picture"][data-view-point="showcase"] {
  .image {
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 40px;

    text-align: center;
    
    img {
      position: relative;
      background-color: rgba(0, 0, 0, .75);
      box-shadow: 0 0 8px rgba(0,0,0,.6);
    }
  }
  
  .footer {
    height: 40px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
  }
}

