.comment-area {
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  display: block;

  a {
    text-decoration: none;
  }
}

.comment-area .add-comment {
  position: relative;

  .reply-to {
    display: none;

    .act-cancel-reply {
      cursor: pointer;
    }
  }
}

.comment-area .edit-comment .user-a {

  .user-a_avatar {

  }
}

.comment-area .edit-comment {
  position: relative;
}

.comment-area .add-comment .content {
  position: relative;
  overflow: hidden;

  box-sizing: border-box;
  -moz-box-sizing: border-box;

  .place-holder {
    cursor: text;
  }

  textarea {
    display: none;
    resize: none;
    border: 0px;
    margin: 0;
    outline: 0;
    word-wrap: break-word;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    background-color: transparent !important;
    font-family: inherit !important;
    color: inherit !important;
  }

  .extra {
    display: none;
    margin-top: 10px;

    .image {
      position: relative;
      display: inline-block;

      i {
        position: absolute;
        right: -22px;
        top: 0;
        font-size: 18px;
        opacity: .5;
        cursor: pointer;
      }
      i:hover {
        opacity: .7;
      }
      i:active {
        opacity: 1;
      }
    }
  }
}


.comment-area .add-comment .menu {
  position: relative;
  display: none;
  margin-top: 8px;
  text-align: right;
  padding-right: 5px;

  .add-image {
    margin-right: 5px;
    position: relative;
    overflow: hidden;

    .image-selector {
      opacity: 0;
      position: absolute;
      top: 0;
      right: 0;
      line-height: 28px;
      cursor: pointer;
    }
  }
}

.comment-area .add-comment .menu .add-image.has-image {
  border-color: #5295cc;
  color: #5295cc;
}

.comment-area .add-comment .content.active {
  .place-holder {
    display: none;
  }
  textarea {
    display: block;
  }
}

.comment-area .comments {
  list-style-type: none;
  margin: 0;
  padding: 0;
}



.comment-area {

  .comment {

    .comment_h {
      position: relative;

      .user-a {
        position: relative;

        .user-a_avatar {

        }

        strong {
          font-weight: normal;
        }

        span {
        }
      }

      .time {
        float: right;
      }
    }

    .comment_b {
    }

    .comment_menu {


      .comment_menu_btn {
        position: relative;
        cursor: pointer;
      }

      .comment_menu_btn:hover {

      }

      .vote-up, .vote-down {
        i {
          margin-left: 2px;
        }
      }

      .vote-up.voted {
        color: #2e9fff;
      }
      .vote-down.voted {
        color: #f55567;
      }

      .vote-down {
        border-left: 2px solid rgba(75,83,94,.1);
        padding-left: 6px;
        margin-left: 4px;
      }

      .act-reply {

      }

      .bullet {
        margin: 0 6px;
      }

    }

    .extra {
      display: none;

      .act-view-image {
        display: block;


        i {margin-right: 4px;}
      }
      .act-view-image:hover { text-decoration: underline; }

      img {
        display: block;
        max-width: 100%;
      }
    }

    .replies {
      display: none;
      list-style-type: none;

      .comments {
      }
      .comment {

      }
    }
  }
}
