.content-box {
  width: 540px;
  border-radius: 6px;
  color: #333;

  box-sizing: border-box;
  margin-bottom: 20px;

  a {
    text-decoration: none;
  }

  ol {
    padding: 0;
    margin: 0;
  }
}

.content-box_h {
  border-bottom: 1px solid #e8e8e8;

  .content-box_h_inner {
    min-height: 20px;
    padding: 12px 12px 10px 12px;
    background-color: #FFF;
    border-radius: 5px 5px 0 0;
    border: 1px solid rgba(0,0,0,.1);
    border-bottom-width: 0;
    box-sizing: border-box;

    h2 {
      font-size: 20px;
      font-weight: 200;
      margin: 0;
    }
  }
}

.content-box_f {
  margin-bottom: 14px;
  font-size: 13px;
  text-align: center;
  color: #777;
  border-radius: 0 0 6px 6px;

  .content-box_f_inner {
    padding: 16px 50px;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    border-left: 1px solid rgba(0,0,0,.1);
    border-right: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
  }

  .icon {
    display: block;
    margin: 0 auto;
    width: 45px;
    height: 45px;
    position: relative;
  }

  .content-box-logo {
    position: absolute;
    display: block;
    left: 0;
    top: 1px;
    width: 44px;
    height: 43px;
    background-image: url(/assets/logo_e5e5e5.png);
    background-repeat: no-repeat;
  }

  .content-box-spinner {
    position: absolute;
    top: 2px;
    left: 2px;
    display: none;
  }

  .indication {
    cursor: default;
    display: none;
    margin-top: 8px;
    color: #999;

    a {
      color: inherit;
      text-decoration: inherit;
    }
  }

}

.content-box_b {
  border-left: 1px solid rgba(0,0,0,.1);
  border-right: 1px solid rgba(0,0,0,.1);
  background-color: #fff;
}

.content-box_top-bar, .content-box_bottom-bar {
  background-color: #fff;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #e8e8e8;
  cursor: pointer;
  text-align: center;
  display: none;

  p {
    font-size: 12px;
    padding: 10px 20px 8px;
    color: #999;
  }
}
.content-box_top-bar.show, .content-box_bottom-bar.show { display: block; }

.content-box_bottom-bar:hover {
  background-color: #f7f9fa;
}
