.contents ol {
  list-style-type: none;
  padding: 0;
}

.content-tl {
  position: relative;

  box-sizing: border-box;

  border: 1px solid #ddd;
  border-radius: 6px;

  background-color: #fff;

  margin-bottom: 20px;
}

.contents-pagination {
  display: none;
}

.contents-load-more {

  text-align: center;

  .load-more-btn {
    border: 1px solid rgba(0,0,0,.15);
    color: rgba(0,0,0,.44);
    background: rgba(0,0,0,0);
    background-clip: padding-box;
    box-shadow: 0 1px 0 0 rgba(49,49,49,.03);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    padding: 5px 10px;
    display: inline-block;
    cursor: pointer;
    line-height: 22px;

    .spinner {
      display: none;
      vertical-align: top;
      position: relative;
      top: 1px;
    }
  }

  .load-more-btn:hover {
    background: rgba(0,0,0,0);
    color: rgba(0,0,0,.6);
    border-color: rgba(0,0,0,.3);
  }

}
