@import "compass/utilities/general/clearfix";


.content-menu {
  position: relative;
  margin: 0;
  padding: 0;
  @include pie-clearfix;
}


.content-menu-btn {
  position: relative;
  display: none;
}

.content-menu-btn-w {
  cursor: pointer;
}

.content-menu-btn_count {
  display: none;
}

.content-menu-btn_i {
  position: relative;
}

.content-menu[data-is-author="true"] {
  .act-edit,
  .act-delete {
    display: inline-block;
  }
}

.content-menu[data-is-author="false"] {
  .act-comment,
  .act-reply,
  .act-mark,
  .act-like,
  .act-share {
    display: inline-block;
  }
}

.message .content-menu,
.post .content-menu,
.topic-bar .content-menu {
  .act-edit { display: none !important; }
}

.content-menu {
  .act-share.shared {
    color: #609928;
    svg { fill: #609928; }
  }
  .act-like.liked { color: #d33015; }
  .act-mark.marked { color: #ff9b00; }
}

.content-menu {
  .act-share.shared,
  .act-mark.marked,
  .act-like.liked {
    .content-menu-btn_i, .content-menu-btn_i:hover { opacity: 1; }
  }
}

.content-menu {
  .act-share {
    svg {
      position: absolute;
      width: 23px;
      height: 23px;
      top: 7px;
      left: 3px;
    }
  }
}
