@import "compass/utilities/general/clearfix";

.content-footer {
  padding: 6px 12px;
  @include pie-clearfix;
  /* border-top: 1px solid #e5e5e5; */

  .content-footer_info {
    padding-left: 42px;
    float: left;
  }

  .user-a {
    line-height: 16px;

    .user-a_avatar {
      left: -42px;
      width: 32px;
      height: 32px;
      border-radius: 4px;
    }

    strong {
    }

    .user-a_suffix {
      font-size: 12px;
      color: #999;
    }
  }

  .content-footer_dtl {
    color: gray;
    font-size: 12px;

    .likes_count, .comments_count {
      cursor: pointer;
    }

    .likes_count:before {
      content: "\e007";
      position: relative;
      font-family: 'Batch-Custom';
      speak: none;
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      top: 1px;
      margin-right: 3px;
    }

    .comments_count:before {
      content: "\e002";
      position: relative;
      font-family: 'Batch-Custom';
      speak: none;
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      top: 1px;
      margin-right: 3px;
    }
  }

}


.content-footer .content-menu {

  .content-menu-btn { margin-left: 0px; }

  .content-menu-btn-w {
    position: relative;
    display: block;
    width: 100%;
  }

  .content-menu-btn_i {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    opacity: .31;

    i {
      position: absolute;
      font-size: 25px;
      top: 6px;
      left: 3px;
    }

  }
  .content-menu-btn_i:hover {
    opacity: .41;
  }


  .content-menu-btn_tx { display: none; }

  .act-share img {
    width: 15px;
  }

  .act-like .content-menu-btn_i i {
    font-size: 24px;
    top: 7px;
  }

  .act-mark .content-menu-btn_i i {
    font-size: 28px;
    top: 5px;
  }

  .act-share .content-menu-btn_i img {
    position: absolute;
    width: 20px;
    top: 7px;
    left: 4px;
  }

  .act-edit .content-menu-btn_i i {
    font-size: 24px;
    top: 8px;
  }

  .act-comment {
    .content-menu-btn_i i {
      font-size: 24px;
      top: 5px;
    }
  }

  .act-more {
    .dropdown {
      padding: 5px 0;
    }
  }

  .act-delete {
    .dropdown-menu {
      top: 126%;
      left: -9px;
    }
  }

}


.content-footer .content-menu {
  float: right;
}


.content-footer {
  position: relative;
  border-top: 1px solid #e1e8ed;
}
.content-footer-caret {
  border-width: 0 10px 8px;
  border-color: transparent;
  position: absolute;
  left: 17px;
  top: -8px;
  font-size: 0;
  border-style: solid;

  border-bottom-color: #e1e8ed;

  .content-footer-caret-inner {
    position: absolute;
    top: 2px;
    left: -9px;
    border-width: 0 9px 7px;
    border-color: transparent;
    border-style: solid;

    border-bottom-color: #fff;
  }
}
