/**
.dropdown {
  visibility: hidden;
  position: absolute;
  top: 130%;
  float: left;
  padding: 4px 0;
  margin: 2px 0 0;
  background-color: #fff;
  border-color: #999;
  border-color: rgba(0,0,0,0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  background-clip: padding-box;
  z-index: 700;
  

  .dropdown_caret {
    left: auto;
    right: 27px;
    position: absolute;
    top: -7px;
    left: 12px;
    width: 12px;
    height: 7px;
    float: left;
    overflow: hidden;

    .dropdown_caret_outer, .dropdown_caret_inner {
      top: 0;
      left: 0;
      display: inline-block;
      margin-left: -1px;
      position: absolute;
    }
    
    .dropdown_caret_outer {
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #aaa;
      border-bottom-color: rgba(0,0,0,0.2);
    }

    .dropdown_caret_inner {
      top: 1px;
      left: 1px;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 6px solid #fff;      
    }
  }
}

.post-footer .dropdown {

  padding: 10px 12px;

  .dropdown_h {
    margin-bottom: 6px;
    font-size: 15px;
    color: #666;

    i {
      font-size: 30px;
      display: block;
      text-align: center;
      margin-bottom: 6px;
    }
  }

  ul {
    padding: 0 4px;
  }

  li {
    .btn {
      width: 100px;
      margin-bottom: 6px;
      text-align: center;
    }
  }
}

**/

.dropdown {
  display: none;
  background-image: linear-gradient(rgba(0,0,0,0.26),rgba(0,0,0,0.45));
  cursor: default;
  position: absolute;
  top: 37px;
  right: 0;
  border-radius: 6px;
  z-index: 100;
  box-shadow: 0 4px 9px rgba(0,0,0,0.35);
  padding: 1px;
  font-size: initial;

  .dropdown_inner {
    padding: 3px 10px 3px 10px;
    border-radius: 6px;
    background: #fff;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.75);
    min-width: 50px;
    min-height: 50px;
  }
}

.dropdown:before {
  content: "";
  position: absolute;
  top: -12px;
  left: 50%;
  width: 0;
  height: 0;
  margin: 0 0 0 -13px;
  border-bottom: 13px solid rgba(0,0,0,0.25);
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
}
.dropdown:after {
  content: "";
  position: absolute;
  top: -11px;
  left: 50%;
  width: 0;
  height: 0;
  margin: 0 0 0 -13px;
  border-bottom: 13px solid #fff;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
}

.dropdown-menu {
  margin: 0 -10px;
  li {
    cursor: pointer;
  }
  .option {
    cursor: pointer;
    position: relative;
    padding: 5px 15px 5px 35px;
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    text-shadow: 0 1px #fff;
    word-wrap: break-word;
    text-overflow: ellipsis;
    color: #444;
    overflow: hidden;
    min-width: 100px;
  }
  .option:hover {
    color: #3f5265;
    background: #e6eff7;
    text-shadow: none;
  }
  .option.selected:before {
    content: "\e61b";
    left: 8px;
    position: absolute;
    background: transparent;
    width: 20px;
    height: 25px;
    top: 3px;
  }
}

.dropdown.caret-bottom {
  bottom: 37px;
  top: auto;
}
.dropdown.caret-bottom:before {
  top: auto;
  bottom: -12px;
  margin: 0 0 0 -13px;
  border-top: 13px solid rgba(0,0,0,0.25);
  border-bottom-width: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
}
.dropdown.caret-bottom:after {
  top: auto;
  bottom: -11px;
  margin: 0 0 0 -13px;
  border-top: 13px solid #fff;
  border-bottom-width: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
}