.delete-dropdown {
  width: 140px;

  p {
    font-size: 13px;
    text-align: center;
    margin: 8px 0;
    color: #666;
  }

  button {
    display: block;
    margin-bottom: 8px;
    width: 100%;
  }
}
