.switch-field {

  // the switcher
  .switch-field_s {
    display: inline-block;
    position: relative;
    width: 24px;
    height: 14px;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
  }

  .switch-field_track {
    display: inline-block;
    background: #9da6b0;
    width: 100%;
    height: 100%;
    border-radius: 7px;
  }

  .switch-field_button {
    background: #fff;
    position: absolute;
    top: 2px;
    bottom: 2px;
    border-radius: 5px;
    transition: left .1s ease-in-out,right .1s ease-in-out;
    -webkit-transition: left .1s ease-in-out,right .1s ease-in-out;
    left: 2px;
    right: 12px;
  }
}
.switch-field[data-value="true"] .switch-field_track { background: #529ecc; }
.switch-field[data-value="true"] .switch-field_button { left: 12px; right: 2px; }
.switch-field[data-value="false"] .switch-field_track { background: #9da6b0; }
.switch-field[data-value="false"] .switch-field_button { left: 2px; right: 12px; }