.fieldset-avatar {
  position: relative;
  padding: 20px 0 30px;
}

.avatar-field {

  .avatar {
    position: relative;
    cursor: pointer;
    width: 160px;
    height: 160px;
    margin: 0;
    border-radius: 80px;
    border: 1px solid #C6D0DD;
    overflow: hidden;
    box-sizing: border-box;
    -moz-box-sizing: border-box;

    .image {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;

      img {
        position: absolute;
        display: block;
      }
    }

    .overlay {
      position: absolute;
      display: none;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, .75);
      cursor: wait;

      img {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -12px;
        margin-top: -12px;
      }
    }

    .shade {
      background: rgba(0, 0, 0, .5);
      color: rgba(255, 255, 255, .9);
      text-align: center;

      position: absolute;
      width: 160px;
      height: 32px;
      bottom: -47px;
      left: 0;
      padding-top: 15px;

      transition: bottom 0.25s;
    }
  }

  .avatar:hover {
    .shade { bottom: 0; }
  }
}

