.ns-footer {
  position: fixed;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  bottom: 0;
  left: 0;
  right: 0;
  height: 65px;
  background: #fffaf6;
  color: #7e7975;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2), 0 1px 5px rgba(0,0,0,0.2), 0 0 0 12px rgba(255,255,255,0.4);
  z-index: 15000;

  .footer_in {
    position: relative;
    width: 1000px;
    margin: 0 auto;
    padding: 5px 30px 0;
    height: 100%;
  }

}
