.fm {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.fm_m {
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  min-width: 1024px;
}

.fm_bg, .fm_bg-overlay, .fm_bg-new {
  position: absolute;
  width: 100%;
  height: 100%;
}
.fm_bg { z-index: -2 }
.fm_bg-new { opacity: 0; z-index: -1; }

.fm_m::scrollbar {
  width: 0;
  height: 0;
}

.fm_m::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.fm-box {
  position: relative;
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;
  width: 100%;
  height: 100%;

  .fm_m {
    min-width: initial;
  }
}