@import 'shared/mixins';
@import "compass/utilities/general/clearfix";

$mainColor: #dee5f4;
$sideColor: #59afd2;

$mainColor: #fff;
$sideColor: #ececec;

.hero {
  width: 850px;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;

  .ns-footer {
    bottom: 0;
    transition: bottom 300ms;
    -webkit-transition: bottom 300ms;
  }

  transition: opacity 300ms;
  -webkit-transition: opacity 300ms;
}

.hero.hide {
  opacity: 0;
  z-index: 0;

  .ns-footer {
    bottom: -77px;
    transition: bottom 300ms;
    -webkit-transition: bottom 300ms;
  }
}

.hero_cnt {
  position: relative;
  left: 320px;
  width: 530px;
  padding: 60px 0 120px 80px;
  overflow: hidden;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.hero .sidebar {
  position: fixed;
  margin-top: 100px;
  width: 320px;
  background: $sideColor;
  border-radius: 3px;
  @include box-shadow(0 0 8px 1px rgba(black, .5));
  overflow: hidden;
}

.hero .sidebar {

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .side {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 3px 0 0 3px;

    a {
      display: block;
      position: relative;
      width: 36px;
      height: 38px;
      @include hide-text;
      @include transition(background .15s);
    }

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -10px 0 0 -10px;
    }

    .act-change-bg {
      position: absolute;
      bottom: 0;
      left: 0;
      background: darken($sideColor, 15%);
      border-top: 1px solid darken($sideColor, 20%);
      border-radius: 0 0 0 4px;
      @include box-shadow(inset 0 1px rgba(white, .15));

      .icon-wrench {
        position: relative;
        font-size: 14px;
        color: #333;
        margin: -7px 0 0 -7px;
      }

      &:hover {
        background: darken($sideColor, 11%);
        border-color: darken($sideColor, 15%);
      }
    }
  }

  .tabs {
    border-bottom: 1px solid lighten($sideColor, 8%);
    border-bottom: 1px solid rgba(white, .15);

    a {
      border-top: 1px solid lighten($sideColor, 8%);
      border-top: 1px solid rgba(white, .15);
      border-bottom: 1px solid darken($sideColor, 11%);

      &:hover { background: lighten($sideColor, 8%); }
    }

    li:first-child a {
      border-top: 0;
      border-radius: 4px 0 0 0;
    }

    .active a, a:active {
      z-index: 1;
      background: $mainColor;
      cursor: default;
    }

    &:active .active a:not(:active) {
      background: none;
    }
  }

  .main {
    position: relative;
    margin-left: 35px;
    background: $mainColor;
    border-left: 1px solid darken($sideColor, 20%);
    border-radius: 0 3px 3px 0;
    @include box-shadow(0 0 4px rgba(black, .3));

    overflow-x: hidden;
    overflow-y: hidden;
    height: 360px;



    a {
      color: #5d79ae;
      text-decoration: none;

      &:hover { text-decoration: underline; }
    }

    .cnt {

    }
  }

  .item {
    position: relative;
    padding: 12px 15px 12px 70px;
    line-height: 18px;
    font-size: 12px;
    color: #626c80;
    text-shadow: 0 1px rgba(white, .7);
    background: $mainColor;
    border-top: 1px solid lighten($mainColor, 3%);
    border-bottom: 1px solid darken($mainColor, 5%);
    @include linear-gradient(bottom left, $mainColor 85%, darken($mainColor, 6%));
    @include transition(background .15s);

    &:first-child {
      border-top: 0;
      border-radius: 0 4px 0 0;
    }

    &:last-child {
      border-bottom: 0;
      border-radius: 0 0 4px 0;
    }

    footer {
      margin: 6px 0 0;
      font-size: 10px;
    }

    time { color: darken($mainColor, 20%); }

    .avatar {
      display: block;
      position: absolute;
      top: 13px;
      left: 15px;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border: 1px solid rgba(black, .3);
        border-bottom-color: rgba(black, .4);
        border-radius: 3px;
        @include box-shadow(inset 0 1px rgba(white, .3));
      }

      img {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 3px;
      }
    }

    &:hover {
      background: darken($mainColor, 4%);
      border-color: darken($mainColor, 8%);
      cursor: pointer;
      @include box-shadow(inset 0 1px rgba(white, .25),
                          0 1px darken($mainColor, 1%),
                          0 -1px $mainColor);
    }

    &:active, &.selected {
      background: darken($mainColor, 8%);
      border-color: darken($mainColor, 25%);
      cursor: auto;
      @include box-shadow(inset 0 0 6px rgba(black, .3),
                          0 1px $mainColor,
                          0 -1px $mainColor);
    }
  }

  .lt-ie8 {
    .side a { vertical-align: top; }
    .main { margin: 0 35px 0 0; left: 35px; }
  }

  .tabs > li > a > i[class*="icon-"] {
    display: block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    @include hide-text;
  }

  .icon-user, .tabs .active i.icon-user {
    background-image: url(/assets/hero-side-user.png);
    background-size: cover;
  }

  .icon-message, .tabs .active i.icon-message {
    background-image: url(/assets/hero-side-message.png);
    background-size: cover;
  }

  .icon-camera, .tabs .active i.icon-camera {
    background-image: url(/assets/hero-side-camera.png);
    background-size: cover;
  }


}

.hero .sidebar .main .cnt-user {
  padding: 20px;

  text-align: center;

  .user-a {
    display: block;

    text-decoration: none;
    text-align: center;

    .user-a_avatar {
      position: relative;
      display: inline-block;
      height: 160px;
      width: 160px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border: 2px solid #e1e8ed;
      background-color: #e1e8ed;
    }

    .user-a_tx {
      display: block;
      margin: 17px 0 9px;
      .user-a_display-name {
        font-size: 28px;
        line-height: 28px;
        margin-bottom: 4px;
        display: block;
      }
      .user-a_suffix {
        font-size: 14px;
      }
      .user-a_username {
        font-size: 13px;
      }
    }
  }

  .follow-btn {
    color: #666;
  }

  .act-change-bg {
    background-color: #fff;
    border-color: #e1e8ed;
    border-radius: 4px;
    color: #666;
  }

  .act-change-bg i {
    margin-right: 5px;
  }

  .act-change-bg .fa-wrench {
    color: #006fe1;
  }

  .act-change-bg:active {
    background-color: #f5f8fa;
  }
}

.hero .sidebar .main .cnt-pictures {
  ul {
    @include clearfix;
    padding: 20px 20px 20px 30px;
  }

  li {
    display: inline-block;
    float: left;
    margin: 0 14px 9px 0;
    cursor: pointer;

    img {
      box-shadow: 0 1px 2px rgba(0,0,0,0.4), 0 0 0 1px rgba(0,0,0,0.15);
    }
  }
}

.hero .sidebar .main .item-message {
  p {
    font-size: 13px;
    color: #333;
    margin: 0;
  }

  .image {
    overflow: hidden;
    position: relative;
    margin-top: 4px;
    border-radius: 4px;

    img {
      position: absolute;
      left: 0;
      max-width: 100%;
    }
  }
}

.hero .sidebar .main .item-message > .user-a {
  font-size: 0;

  .user-a_tx {
    display: none;
  }
  .user-a_avatar {
    width: 40px;
    height: 40px;
    border-radius: 3px;
    left: -55px;
  }
}

.hero .sidebar .main .item-message footer .user-a {
  color: #5d79ae;
  font-size: 10px;

  .user-a_suffix {
    display: none;
  }
}

.hero .go {
  font-size: 54px;
  color: rgba(255, 255, 255, 1);
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.94);
  position: absolute;
  bottom: 0;
  left: 50%;
  cursor: pointer;
  i {
    display: block;
    margin-top: -34px;
  }
}


.hero .sidebar {
  margin-left: 300px;
  margin-left: 0;
}

.hero .message-popout {
  display: none;
  position: fixed;
  background-color: #f4f4f4;
  width: 284px;
  box-shadow: 0 5px 25px rgba(0,0,0,.4);
  border-radius: 3px;
  color: #414141;
  font-size: 12px;
  line-height: 12px;

  margin-left: 0;
  margin-top: 293px;

  .arrow {
    width: 0;
    height: 0;
    border: 7px solid transparent;
    position: absolute;
    border-top: 7px solid transparent;
    border-left: 7px solid #FFF;
    left: 100%;
    bottom: 9px;
    border-left-color: #EFEFEF;

  }

  header {
    position: relative;
    height: 31px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;

    background-color: #EFEFEF;
    border-bottom: 1px solid #CACDD2;

    .act-close-popout,
    .act-close-popout:hover,
    .act-close-popout:active {
      display: inline-block;
      width: 14px;
      height: 14px;
      cursor: pointer;
      position: absolute;
      right: 9px;
      top: 50%;
      margin-top: -7px;

      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAyElEQVR42o2SwQYDMRCG8wA5lVLK0ifZU+l12SdZeipL2XMea9lTrkspoQ9QciqlnWHC728POXxh/8wnk+y4EALihVGYhbcxW+axFqVWuAuff9hey2Knm5V0RdwIGTYudPIqDPCd1VFxgnC0DvbCzaSdZWeomzSIEDyEQ5FBaqiLqOGL7pCKDFKimqfTBUNsD05eqSZjqyw1htOM5PjzONReAnngx9nS77jSnRK9aFan3KPXsJKeR+5YMXInHDnEW6sLCItmPORfJE29hzCJ4u4AAAAASUVORK5CYII=");
    }

    .act-close-popout:hover {
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAx0lEQVR42o2SwQYDMRCG8wA5lVLK0ifZU+l12SdZ6aksZZ9t2VOuSymhD1ByKqWdYcLvbw85fGH/zCeT7LgQAuKFUZiFtzFb5rEWpVa4C59/2F7LYqeblXRF3AgZNi508ioM8J3VUXGCcLQO9sLNpJ1lZ6ibNIgQPIRDkUFqqIuo4YvukIoMUqKap9MFQ2wPTl6pJmOrLDWG04zk+PM41F4CeeDH2dLvuNKdEr1oVqfco9ewkp5H7lgxciccOcRbqwsIi2Y85F/tJ4HP3S5JJwAAAABJRU5ErkJggg==");
    }

    .act-close-popout:active {
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAyElEQVR42o2SwQYDMRCG8wA5lVLK0ifZU+kpLPskS09lKftsy55yXUoJfYCSUyntDBN+f3vI4Qv7Zz6ZZMeFEBAvjMIsvI3ZMo+1KLXCXfj8w/ZaFjvdrKQr4kbIsHGhk1dhgO+sjooThKN1sBduJu0sO0PdpEGE4CEcigxSQ11EDV90h1RkkBLVPJ0uGGJ7cPJKNRlbZakxnGYkx5/HofYSyAM/zpZ+x5XulOhFszrlHr2GlfQ8cseKkTvhyCHeWl1AWDTjIf8CsFMqhwnhmS8AAAAASUVORK5CYII=");
    }
  }

  .message-popout_b {
    background-color: #FFF;
    height: 100px;
  }

  footer {
    height: 31px;
    border-radius: 2px;
    background-color: #EFEFEF;
    font-size: 11px;
    border-top: 1px solid #d5d5d5;
  }
}

.hero .blank-state {
  .blank-state_indication {
    margin-top: 10px;
    text-align: center;
    color: #999;
    font-size: 12px;
    cursor: default;
    line-height: 18px;
  }

  .blank-state_icon {
    width: 60px;
    height: 60px;
    display: block;
    margin: 114px auto 0;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .3;
  }

  .blank-state_message-icon {
    background-image: url(/assets/hero-side-message.png);
  }
  .blank-state_picture-icon {
    background-image: url(/assets/hero-side-camera.png);
  }

}
