.img-picker {
  display: none;
  width: 220px;
  height: 330px;
  position: absolute;
  top: -35px;
  left: 390px;
  z-index: 100;
}
.img-picker:before {
  top: -4px;
  left: -4px;
  padding: 4px;
  width: 100%;
  height: 100%;
  background: #fdfdfd;
  position: absolute;
  bottom: 0px;
  border-radius: 8px;
  content: '';
  box-shadow: 0px 0px 15px rgba(0,0,0,0.15),0px 0px 1px 1px rgba(0,0,0,0.1);
}
.img-picker_pointer {
  background-image: url(/assets/icloud-packed-1.png);
  background-position: 0px -275px;
  background-repeat: no-repeat;
  position: absolute;
  width: 33px;
  height: 15px;
  left: -28px;
  top: 127px;
  -webkit-transform: rotate(90deg);
}
.img-picker_cnt {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 8px;
  overflow: hidden;
}
.img-picker_cnt:before {
  border: 1px solid #e5e5e5;
  border: 1px solid rgba(0,0,0,0.1);
  position: absolute;
  top: 0;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  content: '';
}
.img-picker_box {
  width: 220px;
  height: 285px;
  background: #D4D5DB;
  position: relative;
}
.img-picker_image, .img-picker_front, .img-picker_image-overlay, .img-picker_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
}
.img-picker_image {
  overflow: hidden;
  img {
    position: absolute;
    display: block;
  }
}
.img-picker_front {
  position: relative;
}
.img-picker_front_cnt {
}
.img-picker_front_top {
  height: 42px;

  .btn-choose-image {
    position: relative;
    color: rgba(255, 255, 255, .5);
    text-align: center;
    font-size: 14px;
    height: 42px;
    line-height: 42px;

    input {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }
  .btn-choose-image:hover  { color: rgba(255, 255, 255, .8); }
  .btn-choose-image:active { color: rgba(255, 255, 255, 1 ); }
}
.img-picker_front_middle {
  height: 200px;
  cursor: move;
  cursor: -webkit-grab;
  .img-picker_front_middle_overlay {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -21px;
      margin-top: -21px;
    }
  }
}
.img-picker_front_middle:active {
  cursor: -webkit-grabbing;
}
.img-picker_front_bottom {
  height: 43px;
  padding-top: 14px;
  box-sizing: border-box;
  text-align: center;
}
.img-picker_image-overlay {
  background-image: url(/assets/Photo_mask.png);
}
.img-picker_overlay { cursor: wait; display: none; }
.img-picker_ctrls {
  height: 45px;
  text-align: center;
  .btn {
    height: 45px;
    width: 110px;
    text-align: center;
    padding: 14px 0;
  }
  .btn:active {
    box-shadow: none;
  }
  .btn:first-child:after {
    position: absolute;
    content: '';
    display: block;
    right: -1px;
    top: 9px;
    width: 1px;
    height: 26px;
    background: #E9E8ED;
  }
  .btn:first-child { float: left; }
  .btn:last-child { float: right; }
}
.img-picker_resizer {
  .img-picker_slider {
    display: inline-block;
    position: relative;
    margin: 0 7px;
    width: 148px;
    height: 18px;
    .track-before, .track-after {
      position: absolute;
      height: 2px;
      top: 8px;
    }
    .track-before {
      width: 0%;
      left: 0px;
      background: #047cff;
    }
    .track-after {
      left: 0;
      right: 0;
      background: rgba(0,0,0,0.4);
    }
    .ui-slider-handle {
      display: block;
      position: absolute;
      width: 16px;
      height: 16px;
      top: 0;
      margin-top: 1px;
      margin-left: -8px;
      background-color: #fff;
      box-shadow: #000 0px 0px 2px;
      border-radius: 8px;
      cursor: pointer;
    }
  }
  .big-image, .small-image {
    vertical-align: top;
    display: inline-block;
  }
  .small-image {
    width: 9px;
    height: 7px;
    margin-top: 5px;
    background-image: url(/assets/icloud-stylesheet-1.png);
    background-position: -44px -216px;
  }
  .big-image {
    margin-top: 2px;
    width: 16px;
    height: 12px;
    background-image: url(/assets/icloud-stylesheet-1.png);
    background-position: -60px -204px;
  }
}

.img-picker.loading-image {
  .img-picker_box { background: #fff; }
  .img-picker_front_middle_overlay, .img-picker_overlay { display: block; }
}
