@import "compass/css3";

.message[data-view-point="showcase"].hide {
  opacity: 0;
  @include scale(0.7);
}

.message[data-view-point="showcase"] {
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
  min-height: 50px;
  border: 1px solid #e8e8e8;
  width: 540px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  cursor: default;
  font-size: 14px;
  line-height: 18px;

  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15), 0px 0px 1px 1px rgba(0, 0, 0, 0.1);

  .msg_b {
    margin-left: 0;
    padding: 25px 50px;
  }

  .msg_h {
    height: 48px;
    margin-left: 58px;
    margin-bottom: 15px;

    .user-a {

      display: block;

      .user-a_avatar {
        position: absolute;
        border-radius: 5px;
        top: 0;
        left: -58px;
        width: 48px;
        height: 48px;
      }
      strong {
        display: block;
        padding-top: 2px;
        margin-top: 3px;
        font-size: 18px;
        line-height: 1.25;
        font-weight: 500;
        color: #333;
      }
      span {
        font-size: 14px;
        color: #999;
      }
    }
    .user-a:hover strong {
      color: #0084B4;
    }
    .msg_h_time {
      float: right;
      display: none;
    }
  }

  .msg_tx {
    font-family: Georgia,"Times New Roman",serif;
    font-size: 22px;
    line-height: 28px;
    word-wrap: break-word;
    margin-bottom: 10px;
  }

  .msg_menu {
    font-size: 13px;
    line-height: 20px;
  }

  .msg_menu-left {
    display: none;
  }
  .msg_menu-right {
    float: none;
    color: #0084B4;
  }

  .msg_expand-cnt {
    display: block;
    height: auto;
    margin-bottom: 9px;

    font-size: 13px;
    line-height: 20px;

    .msg_info_report {
      float: right;
    }
  }

  .msg_con { margin-bottom: 9px; }

  .msg_info_detail-dot, .act-view-content {
    display: none;
  }

  .msg_img {
    margin: 9px 0;
    img {
      position: relative;
      max-width: 438px;
      border-radius: 5px;
    }
  }


  .message-sa .content-menu {


    .content-menu-btn {
      margin-right: 2px;
      cursor: pointer;
    }

    .content-menu-btn_i {
      display: inline-block;
      width: 20px;
      font-size: 18px;
    }

    .act-comment {
      .content-menu-btn_i {
        i {
        }
      }
    }

    .act-edit {
      .content-menu-btn_i {
        i {
        }
      }
    }

    .act-delete {
      .content-menu-btn_i {
        i {
        }
      }
    }

    .act-more {
      .content-menu-btn_i {
        i {
        }
      }
    }

    .act-share {
      .content-menu-btn_i {
        i {
        }
      }
    }

    .act-mark {
      .content-menu-btn_i {
        i {
        }
      }
    }

    .act-like {
      .content-menu-btn_i {
        i {
        }
      }
    }

  }

}
