@import "compass/utilities/general/clearfix";

.message-tl {
  cursor: pointer;
  transition: margin 0.1s;
}


.msg_h {

  margin-bottom: 2px;

  .user-a {
    color: #999;

    .user-a_avatar {
      height: 48px;
      width: 48px;
      left: -59px;
      border-radius: 5px;
    }

    strong {
      margin-top: 0;
      padding-top: 0;
      font-size: 14px;
      color: #333;
    }

    span {
      font-size: 12px;
    }

  }

  .msg_h_time {
    float: right;
    color: #ddd;
    font-size: 12px;
  }

}

.message-tl:hover .msg_h_time {
  color: #999;
}


.msg_b {
  position: relative;
  margin-left: 70px;
  padding: 10px 12px 7px 0;
}

.msg_tx {
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 5px;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  -ms-word-wrap: break-word;
  word-wrap: break-word;

  a { color: #006fe1; text-decoration: inherit; }
}

.msg_expand-cnt {
  display: none;
  overflow: hidden;
}

.msg_img {
  position: relative;
  overflow: hidden;
  margin: 7px 0;
  border-radius: 5px;
  img {
    position: absolute;
    left: 0;
  }
}

.msg_con {
  @include pie-clearfix;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  padding: 0;
  list-style-type: none;

  margin-bottom: 8px;
}

.msg_con_count {
  float: left;
  padding: 7px 12px;
  font-size: 10px;
  color: #999;
  text-transform: uppercase;
  line-height: 16px;
  text-align: right;
  border-right: 1px solid #e8e8e8;
  strong {
    display: block;
    color: #333;
    font-size: 14px;
    font-weight: bold;
  }
}
.msg_con_count:first-child { min-width: 20px; }

.msg_con_avatar-row {
  @include pie-clearfix;


  .user-a {
    display: inline-block;
    padding: 11px 0;

    .user-a_avatar {
      position: relative;
      width: 24px;
      height: 24px;
      border-radius: 3px;
      margin-right: 2px;
    }

    strong, span { display: none; }
  }

  .user-a:first-child {
    padding-left: 12px;
  }
}

.msg_info {
  color: #999;
  margin-bottom: 3px;

  a {
    color: inherit;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  .msg_info_report {
    display: none;
    cursor: pointer;
  }
  .msg_info_report:hover {
    text-decoration: underline;
  }
}

.msg_menu {
  @include pie-clearfix;
}

.msg_menu-left {
  float: left;
  color: #999;
  padding: 0;
  .act-collapse { display: none; }
}

.msg_menu-right {
  float: right;
  color: #ddd;
}

.menu-btn {
  display: inline-block;
  position: relative;
}

.message-tl:hover {
  background-color: #f7f9fa;
}

.message-tl.expanded:hover {
  background-color: #fff;
}


/* content-menu */

.message {
  .content-menu-btn:hover { text-decoration: underline; }
}

.message-tl {

}

.message-tl:hover {
  .msg_menu-right { color: #999; }
}

/* when dropdown is open */
.message-tl .msg_menu-right.active { color: #999; }


/*----------------- end of content-footer ---------------- */


.message {

  .msg_menu {
    font-size: 12px;
  }

  .msg_info {
    font-size: 12px;
  }
}


.message .content-menu-btn_count {
  display: none;
}
