@import "compass/css3";
@import "compass/layout";

.mio {
  margin: 0 0 20px 0;
  position: relative;
  width: 540px;
}

.mio > .box {
  overflow: hidden;
  font-size: 14px;
  background: #fff;
  padding: 15px 20px;
  /* box-shadow: 0 1px 5px rgba(0,0,0,0.36); */
  border: 3px solid rgba(0,0,0,0.1);
  word-wrap: break-word;
  @include border-radius(6px);
  position: relative;
  @include box-sizing(border-box);
  -webkit-font-smoothing: antialiased;
  min-height: 90px;
}

.mio * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: 0;
}


/*------------------ PostTypes --------------------*/

.mio .content-types {
  margin: 0 0 0 12px;
  padding: 0;
  list-style-type: none;
  height: 65px;
}

.mio .content-types .type {
  height: 65px;
  width: 76px;
  display: block;
  float: left;
  text-align: center;
  cursor: pointer;
}

.mio .content-types .type span {
  display: block;
  color: #575d69;
  line-height: 20px;
  padding: 45px 10px 0 10px;
  background-image: url(/assets/post_icons_sprite.png);
  background-repeat: no-repeat;
  transition: background-position 0.1s;
}

.mio .content-types [data-content-type="message"] span {
  background-position: -148px -14px;
  padding-left: 9px;
  padding-right: 8px;
}

.mio .content-types [data-content-type="article"] span {
  background-position: 2px -14px;
}

.mio .content-types [data-content-type="private-message"] span {
  background-position: -299px -14px;
}

.mio .content-types [data-content-type="picture"] span {
  background-position: -73px -14px;
}

.mio .content-types [data-content-type="video"] span {
  background-position: -448px -14px;
}

.mio .content-types [data-content-type="audio"] span {
  background-position: -370px -14px;
  padding-left: 16px;
}

.mio .content-types [data-content-type="quote"] {
  width: 74px;
  span {
    background-position: -373px -14px;
  }
}

.mio .content-types [data-content-type="link"] span {
  background-position: -223px -14px;
}

.mio .content-types .type:hover span {
  background-position-y: -20px;
}

.mio .content-types .type:active span {
  background-position-y: -14px;
}

.mio .content-types [data-content-type="private-message"] {
  width: 73px;
  span {
    padding: 45px 7px 0;
  }
}

.mio .content-types [data-content-type="picture"] {
  width: 75px;
}

/*------------------ post-header --------------------*/

.mio-box .mio-header {
  margin-bottom: 10px;

  .user-a {
    color: #999;

    strong {
      font-size: 16px;
      font-weight: 500;
    }

    span {
      font-size: 12px;
    }
  }

  .cog {
    position: absolute;
    top: 0;
    right: 0;
    height: 20px;
    width: 20px;
    background: transparent url(assets/ajax_post_forms_sprite.png) -40px 0 no-repeat;
    opacity: .31;
    cursor: pointer;
  }
}

/*------------------ post-menu --------------------*/

.mio-box .post-menu {
  margin-top: 15px;
  .btn-group .act-dropdown-toggler {
    width: 34px;
    height: 32px;
    i {
      font-size: 20px;
      position: absolute;
      top: 5px;
      left: 10px;
    }
  }
  .act-drop-post {
    float: right;
  }
}


/*------------------ mio-box --------------------*/

.mio-box {
  position: relative;
  margin: 100px auto 120px;

  opacity: 0;
  @include scale(0.7);
}

.mio-box:before {
  content: '';
  top: -3px;
  left: -3px;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
  @include border-radius(6px);
  border: 3px solid rgba(0, 0, 0, 0.1);
  @include box-shadow(0px 0px 15px rgba(0, 0, 0, 0.15), 0px 0px 1px 1px rgba(0, 0, 0, 0.1));
}

.mio-box_cnt {
  position: relative;
  overflow: hidden;
  padding: 15px 20px;
  background-color: #fff;
  @include box-sizing(border-box);
  @include border-radius(8px);
}

.mio-box_overlay {
  @include stretch(0, 0, 0, 0);
  cursor: wait;
  display: none;
}
