@import "compass/layout";
@import "compass/css3";

/*------------------ Picture --------------------*/

.mio-box-picture {
  height: 520px;
  width: 520px;
}

.mio-box-picture {
  transition: box-shadow .25s ease,background-color .1s linear,height .5s cubic-bezier(0.190,1.000,0.220,1.000);
  color: #fff;
}

.mio-box-picture:before {
  border-style: dashed;
  background-color: #f7f7f7;
  @include transition(background-color 1s, border-color 1.5s);
}

.mio-box-picture .mio-box_cnt {
  @include stretch(0, 0, 0, 0);
  border-radius: 10px;
  padding: 0;
}

.mio-box-picture .picture {
  @include stretch(0, 0, 0, 0);

  .image {
    opacity: 0;
    @include stretch(0, 0, 0, 0);
    overflow: hidden;

    img, canvas {
      position: absolute;
    }
  }

  .image.show {
    opacity: 1;
  }
}

.mio-box-picture.has-image {

  .picture {
    background-color: #16191B;
  }

  .user-a {
    color: rgba(255, 255, 255, .9);
  }
}

.mio-box-picture.has-image:before {
  background: #000;
  border-color: rgba(255, 255, 255, .7);
}

.mio-box-picture .dropzone {
  position: relative;
  height: 520px;
  transition: 0.5s;
}
.mio-box-picture.has-image .dropzone {
  @include opacity(0);
}


.mio-box-picture {
  .imgly-container .imgly-controls-container {
    .imgly-controls-item.imgly-controls-item-orientation,
    .imgly-controls-item.imgly-controls-item-focus,
    .imgly-controls-item.imgly-controls-item-crop,
    .imgly-controls-item.imgly-controls-item-text,
    .imgly-controls-item.imgly-controls-item-frames {
      display: none;
    }

    .imgly-controls-item.imgly-controls-item-filters {
      border-left: 1px solid #363636;
    }
    .imgly-controls-item-create-content {
      background: url("/assets/imgly/done.png") no-repeat center center;
    }
    .imgly-controls-item-close {
      background: url("/assets/imgly/close.png") no-repeat center center;
    }
  }
}



.mio-box-picture {
  .rtb-title, .rtb-desc { outline: 0; }
  .rtb-title {
    font-size: 30px;
    font-weight: 700;
    .ph { color: rgba(255, 255, 255, 0.65); }
  }
  .rtb-desc {
    margin-top: 12px;
    font-size: 14px;
    font-weight: 100;
    line-height: 22px;
    color: rgba(255,255,255,0.65);
    .ph { color: rgba(255,255,255,0.35); }
  }
}

.mio-box-picture  .dropzone {
  .act-close-box {
    position: absolute;
    right: -10px;
    top: -10px;
    opacity: 0.2;
    cursor: pointer;

    img {
      width: 80px;
    }
  }
  .act-close-box:hover {
    opacity: 0.7;
  }

  .help {
    position: absolute;
    width: 100%;
    height: 100%;
    display: table;
    cursor: pointer;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #f7f7f7;
  }

  .help-text {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #c4c4c4;

    .icon {
      display: block;
      background: transparent url(ajax_post_forms_sprite.png) -760px 0 no-repeat;
      width: 54px;
      height: 48px;
      margin: 0 auto 5px;
      color: rgba(0,0,0,0.58);
      text-shadow: 0 1px 0 #fff;
      opacity: 0.31;
    }
  }

  input {
    @include stretch(0, 0, 0, 0);
    @include opacity(0);
    display: block;
    direction: ltr;
    background-image: none;
    margin: 0;
    cursor: pointer;
  }

}
