
/*------------------ Article --------------------*/

.mio-box.mio-box-article {
  width: 660px;
}

.mio-box-article {
  padding: 0;

  .post-header {
    padding: 15px 20px 0 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  header {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    min-height: 182px;
    position: relative;
    margin-bottom: 6px;
  }

  header.has-cover .user-a {
    color: rgba(255, 255, 255, .7);
  }
  
  .post-menu {
    padding: 0 20px 15px 20px;
  }
}

.mio-box-article {

  .add-cover {
    position: relative;
    border: none;
    background-color: transparent;
    padding: 0;
    opacity: 0.35;
    cursor: pointer;

    input {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      top: 0;
      left: 0;
      cursor: pointer;
    }
  }
  .add-cover:hover {
    opacity: 0.75;
  }

}

/*  rtb-title  */

.mio-box-article header {

  .rtb-title {
    margin: 0 0 8px 0;
    font-weight: 700;
    font-size: 34px;
    line-height: 1.1;
    padding-left: 4px;
    max-height: 74px;
    overflow: hidden;

    outline: 0;
    word-wrap: break-word;
  }

  .rtb-title {
    color: #333332;
    .ph { color: #b3b3b1; }
  }

}

/*  title && sub-title color with cover image  */

.mio-box-article header.has-cover {

  .cover {
    background-color: #000;
  }

  .overlay {
    opacity: 1;
  }

  .add-cover svg {
    fill: #fff;
  }

  .rtb-title {
    color: #fff;
    .ph { color: rgba(255,255,255,0.65); }
  }
}

.mio-box-article header .content {
  position: relative;
  margin-top: 48px;
  padding: 15px 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
}

.mio-box-article .cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  img {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
    opacity: 0;
  }
}

.mio-box-article .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .35);
  opacity: 0;
}

.mio-box-article-body {
  position: relative;
  padding: 0 20px;
}

