.document-editor-tooltip {
  position: absolute;
  color: #57ad68;
  height: 20px;
  width: 20px;
  font-size: 12px;
  line-height: 18px;
  display: block;
  top: 0;
  left: 0;

  .document-editor-tooltip_ctrl {
    position: relative;
    width: 100%;
    height: 100%;

    input {
      opacity: 0;
      position: absolute;
      line-height: 20px;
      top: 0;
      right: 0;
      cursor: pointer;
    }

    .document-editor-tooltip_ctrl_i {
      position: relative;
      width: 100%;
      height: 100%;
      background-image: url(/assets/plus_circle.png);
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: cover;
      cursor: pointer;
      opacity: .6;
    }

    .document-editor-tooltip_ctrl_i:hover { opacity: 1; }
  }

  .document-editor-tooltip_popover {
    position: absolute;
    z-index: 100;

    left: 35px;
    top: -81px;
    display: none;

    .inner {
      padding: 20px;
      color: #fff;
      background: #262625;
      border: 1px solid;
      border-color: #262625 #1c1c1b #121211;
      box-shadow: 0 0 2px #262625;
      background-image: -webkit-gradient(linear,0 0,0 100%,from(rgba(49,49,47,0.97)),to(#262625));
      background-image: -moz-linear-gradient(top,rgba(49,49,47,0.97),#262625);
      background-image: -webkit-linear-gradient(top,rgba(49,49,47,0.97),#262625);
      background-image: -o-linear-gradient(top,rgba(49,49,47,0.97),#262625);
      background-image: linear-gradient(to bottom,rgba(49,49,47,0.97),#262625);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f731312f',endColorstr='#ff262625',GradientType=0);

      border-radius: 4px;
    }

    .arrow {
      position: absolute;
      top: 50%;
      left: -14px;
      margin-bottom: -7px;
      clip: rect(-4px 14px 18px 0);
    }

    .arrow:after {
      background: #262625;
      border: 1px solid #121211;
      -webkit-transform: rotate(45deg) translate(6px,-6px);
      box-shadow: -1px 1px 1px -1px rgba(0,0,0,0.7);
      content: '';
      display: block;
      width: 14px;
      height: 14px;
    }

    ul {
      li {
        cursor: pointer;
        margin-bottom: 6px;
        position: relative;
        overflow: hidden;

        .i {
          position: relative;
          background-repeat: no-repeat;
          background-size: cover;
          width: 36px;
          height: 36px;
          line-height: 36px;
          font-size: 27px;;
          text-align: center;
        }
      }

      .act-insert-figure input { opacity: 0; }
    }

    .act-insert-figure {
      input {
        position: absolute;
        width: 100%;
        height: 150%;
        top: -17px;
        left: 0;
        cursor: pointer;
      }
      .i {
        background-image: url(camera2.png);
      }

    }
  }

  .dropline {
    position: absolute;
    width: 516px;
    height: 18px;
    left: 13px;
    display: none;
  }

  .dropline > .horizontal {
    position: absolute;
    width: 100%;
    height: 1px;
    top: 50%;
    left: 0;
    background-color: #00a7fb;
  }

  .dropline > .horizontal:before, .dropline > .horizontal:after {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 10px;
    border: 2px solid #00a7fb;
  }

  .dropline > .horizontal:before {
    top: -4px;
    left: -7px;
  }

  .dropline > .horizontal:after {
    top: -4px;
    right: -7px;
  }
}
