.article-box-document > blockquote {
  position: relative;
  min-height: 33px;
  text-align: center;
  font-style: italic;
  font-size: 24px;
  line-height: 1.4;
  margin-bottom: 20px;
  padding: 0 55px;

  quotes: "\201C""\201D""\2018""\2019";
}
.article-box-document > blockquote:before {
  position: absolute;
  content: '';
  left: 15px;
  top: 1px;
  height: 30px;
  width: 33px;
  display: block;
  background-image: url(quote-icon.png);
  background-size: cover;
}