.mio_process {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  
  .mio_process-spinner {
    width: 42px;
    height: 42px;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    display: none;
    opacity: 0;
   
    background: url(spinner_42px_ffffff.gif);
  }
}