.topic-box {
  width: 540px;

  .topic-box-header {
    position: relative;

    input {
      border: 0;
      outline: 0;
      color: #444;
      font-size: 14px;
      font-weight: bold;
      line-height: 18px;
      width: 100%;
    }
  }

  .topic-box-editor {
    margin: 0 -20px;
  }
}

.topic-box-menu {

  .act-close-box {
    float: right;
  }

  .spinner {
    position: relative;
    top: 6px;
    left: 5px;
    display: none;
  }
}
