.mio-box-message {
  width: 540px;
}

.mio-box-message {
  position: relative;

  .content {
    position: relative;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    overflow: hidden;

    .text {
      min-height: 100px;
      padding: 8px 12px;
      outline: 0;

      div {
        min-height: 20px;
        width: 100%;

        a {
          text-decoration: none;
          color: #0084B4;
        }
      }
    }

    .extra {
      padding: 0 12px 12px;
      display: none;

      .image {
        position: relative;
        display: inline-block;
        margin-top: 12px;

        .dismiss {
          position: absolute;
          margin-top: 0;
          top: -7px;
          right: -8px;
          z-index: 30;
          width: 16px;
          height: 15px;
          background: #222;
          opacity: 0.5;
          border-radius: 2px;
          cursor: pointer;

          i {
            width: 10px;
            height: 12px;
            background-image: url(/assets/twitter_web_sprite_icons.png);
            background-repeat: no-repeat;
            background-position: -120px -510px;
            position: absolute;
            top: 2px;
            left: 3px;
          }
        }
        .dismiss:hover {
          opacity: 0.7;
        }
        .dismiss:active {
          opacity: 0.9;
        }
      }

    }
    .extra:before {
      content: '';
      display: block;
      border-top: 1px solid #e3e3e3;
      width: 240px;
    }

    .process {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(255, 255, 255, .7);
      display: none;
    }

    /* just for sidebar */
    .new {
      display: none;
    }
  }
  .menu {
    position: relative;
    margin-top: 15px;

    color: #999;

    .length-limit {
      display: inline-block;
      line-height: 30px;
      font-size: 14px;
      margin-left: 10px;
      vertical-align: top;
      padding-top: 1px;
      box-sizing: border-box;
      height: 30px;
      overflow: hidden;
      text-align: right;
    }

    .add-image {
      margin-left: 11px;
      position: relative;
      overflow: hidden;
    }

    .image-selector {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      line-height: 30px;
      opacity: 0;
      cursor: pointer;
    }

    .spinner {
      position: relative;
      top: 6px;
      left: 5px;
      display: none;
    }

    .act-close-box {
      float: right;
    }
  }
}

.mio-box-message .add-image.has-image  {
  border-color: #5295cc;
  color: #5295cc;
}

.mio-box-message .location {
  display: inline-block;
  position: relative;
  display: none;
}

.mio-box-message .use-location {
  padding-top: 6px;
}

.mio-box-message .use-location .message-location {
  width: 11px;
  background-position: -90px -530px;
  height: 17px;
  background-image: url(/assets/twitter_web_sprite_icons.png);
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
}

.mio-box-message .use-location .has-location {
  background-position: -90px -590px;
}

.mio-box-message .use-location.active {
  background-color: #ddd;
  background-image: none;
  border-color: #ccc;
  box-shadow: inset 0 2px 4px rgba(0,0,0,.1),0 1px 0 rgba(255,255,255,.5);
}

.mio-box-message .use-location .caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: top;
  border-top: 4px solid #bbb;
  border-top-color: #bbb;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  box-shadow: 0 -1px 0 rgba(0,0,0,.75);
  transition: 0.08s;
  border-top-color: #bbb;
  margin: 7px 0 0 0;
}

.mio-box-message .use-location.has-location .caret {
  border-top-color: #019ad2;
}

.mio-box-message .popover {
  left: -16px;
}

.mio-box-message .popover:after {
  border-bottom-color: #f3f3f3;
}

.mio-box-message .popover > .inner {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  background: #f3f3f3;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.75);
  width: 240px;
  height: 150px;
}
