@import "compass/utilities/general/clearfix";

.document-editor {
  position: relative;
  min-height: 200px;
  cursor: text;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  letter-spacing: .01rem;
  color: #444;

  outline: 0;

  padding: 20px 0;
  @include pie-clearfix;
}


.document-editor .document-block {
  border: 1px dashed #dde1e4;
  border-radius: 3px;
  position: relative;
}
