.mio-box-under-construction {
  width: 540px;
  .mio-box_cnt {
    height: 440px;
  }
}

.mio-box-under-construction {
  .under-construction {
    margin-top: 190px;
    text-align: center;
    color: #999;
  }

  .act-close-box {
    position: absolute;
    right: -10px;
    top: -10px;
    cursor: pointer;
    opacity: .35;

    img { width: 80px; }
  }

  .act-close-box:hover {
    opacity: .65;
  }
  .act-close-box:active {
    opacity: 1;
  }
}