.zen-blocks > figure {

  margin-bottom: 20px;

  cursor: default;
  position: relative;
  text-align: center;
  line-height: 0;

  figcaption {
    display: none;
    cursor: text;
    text-align: center;
    margin-top: 6px;
    color: #666665;
    color: #999;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4;
    font-style: italic;
    letter-spacing: .01rem;
    line-height: 1.4;
    outline: 0;
    padding: 0 100px;
  }

  .fig_image {
    position: relative;
    display: inline-block;
    max-width: 84%;

    img {
      display: block;
      max-width: 100%;
      height: auto;
    }

    .fig_f {
      position: absolute;
      margin: 0 auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      .fig_f_focus-target {
        z-index: 100;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        font-size: 0;
        cursor: default;
      }
    }
  }
}


.zen-blocks > figure.active {

  .fig_image img {
    box-shadow: 0 0 0 3px orange;
  }
}
