#navbar {
  background: #141414;
  background: -moz-linear-gradient(top, #2c2c2c 0, #121212 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2c2c2c), color-stop(100%, #121212));
  background: -webkit-linear-gradient(top, #2c2c2c 0, #121212 100%);
  background: -o-linear-gradient(top, #2c2c2c 0, #121212 100%);
  background: -ms-linear-gradient(top, #2c2c2c 0, #121212 100%);
  background: linear-gradient(top, #2c2c2c 0, #121212 100%);
  border-top: 1px solid #343434;
  height: 39px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-width: 1024px;
  z-index: 20000;
  box-shadow: 0 2px 2px rgba(0,0,0,.2);
  color: #fff;

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.no-js #navbar {
  top: 45px;
}

.navbar_inner {
  width: 860px;
  margin: -1px auto 0;
  height: 40px;
  position: relative;
}

#logo {
  display: inline-block;
  height: 40px;
  width: 82px;
  position: absolute;
  top: 0;
  left: 20px;
  margin: 0;
}

.logo_anchor {
  display: block;
  overflow: hidden;
  text-indent: -999em;
  height: 100%;
  background-image: url(/assets/coobii_logo.png);
  background-repeat: no-repeat;
  background-position: 0 1px;
}

#navbar .default-invisible {
  display: none;
}

#navbar .tabs {
  margin-left: 140px;
}

#navbar {
  .userpin {
    border-right: 1px solid #141414;
    border-left: 1px solid #141414;
    height: 40px;
    width: 42px;
    line-height: 36px;
    margin: -1px 0 0 0;
    padding: 0;
    position: absolute;
    top: -1px;
    right: 0;

    .guest-user-icon {
      position: relative;
      left: 5px;
      top: 5px;
    }

    .user-a {
      width: 42px;
      height: 40px;
      display: block;
      position: relative;
    }

    .user-a_avatar {
      position: absolute;
      top: 6px;
      left: 5px;
      border-radius: 2px;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, .21);
      width: 32px;
      height: 32px;
    }

    strong, span { display: none; }
  }

  .user-a:before, .user-a:after {
    background: -webkit-linear-gradient(top,#383838 0,#212121 100%);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 1px;
  }
  .user-a:before {
    left: 0;
  }
  .user-a:after {
    right: 0;
  }
}

.nav-tabs {
  margin: 0;
  padding: 0;
  float: left;
  height: 40px;
  line-height: 40px;
  margin-left: 150px;
}

.nav-tabs_tab {
  padding: 0 9px;
  min-width: 6px;
  color: rgba(255,255,255,.5);
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  letter-spacing: normal;
  word-spacing: normal;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
}

.nav-tabs_tab > .i {
  opacity: 0.5;
}

.nav-tabs_tab.active > .i, .nav-tabs_tab.active:hover > .i {
  opacity: 1;
}

.nav-tabs_tab:hover > .i {
  opacity: 0.8;
}

.nav-tabs_tab > .i {
  position: relative;
  display: inline-block;
  height: 40px;
  width: 35px;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.08s;
  -webkit-transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  background-image: url(/assets/navbar_sprite.png);
  background-size: 210px 36px;
  background-repeat: no-repeat;
}

.nav-tabs_tab > .p {
  display: none;
  box-shadow: 0 0 7px 4px rgba(85, 173, 242, 1);
  height: 2px;
  width: 2px;
  position: absolute;
  bottom: -2px;
  left: 50%;
  margin-left: -1px;
}

.nav-tabs_tab.active > .p {
  display: block;
}

.act-tab-space > .i {
  background-position: 0 2px!important;
}

.act-tab-notification > .i {
  background-position: -35px 2px!important;
}

.act-tab-explorer > .i {
  background: none;
  color: #fff;
  font-size: 19px;
  position: relative;
  top: 1px;
}

.act-tab-settings > .i {
  background-position: -105px 2px!important;
}

.tab.preferences .caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-top: 17px;
  margin-left: -6px;
  vertical-align: top;
  border-top: 4px solid #bbb;
  border-top-color: #bbb;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  box-shadow: 0 -1px 0 rgba(0,0,0,.75);
  transition: 0.08s;
}

.tab.preferences:hover .caret {
  border-top-color: #fff;
}

.act-tab-logout > .i {
  background-position: -140px 2px!important;
}


.search {
  position: absolute;
  top: 0;
  right: 270px;
  padding: 0;
  width: 190px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 40px;
}

.search .form {
  position: relative;
  background: #313131 url(/assets/nav-dropdown-noise.gif);
  margin: 6px 0 0;
  height: 28px;
  width: 100%;
  border-radius: 28px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.25) inset;
}

.search .form .icon {
  position: absolute;
  top: 6px;
  left: 10px;
  opacity: .4;
}

.search .form input {
  display: block;
  outline: 0;
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0 10px 0 30px;
  border: none;
  background: transparent;
  color: rgba(255,255,255,0.69);
  font-weight: normal;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -moz-user-select: text;
  font-size: 13px;
}

.search .form input::-webkit-input-placeholder {
  color: rgba(255,255,255,0.4);
  font-size: 13px;
}

.search .form input:-moz-placeholder {
  color: rgba(255,255,255,0.4);
  font-weight: bold;
  font-size: 13px;
}

.search .form input::-moz-placeholder {
  color: rgba(255,255,255,0.4);
  font-weight: bold;
  font-size: 13px;
}

.search .form input:-ms-input-placeholder {
  color: rgba(255,255,255,0.4);
  font-weight: bold;
  font-size: 13px;
}
