.fm-page-notification {
  position: relative;
  display: none;
  width: 1000px;
  margin: 60px auto;

  .side-pannel, .main-page {
    opacity: 0;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.15),0px 0px 1px 1px rgba(0,0,0,0.1);
    border-radius: 7px;
    overflow: hidden;

    header {
      background-color: #f3f3f3;
      height: 39px;
      line-height: 40px;
      position: relative;
      z-index: 100;
      border-bottom: 1px solid #c6c6c6;

      .title {
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        color: #000;
        font-size: 17px;
        font-weight: 500;
      }
    }
  }

  .side-pannel {
    width: 400px;
    position: fixed;
    margin-left: 800px;
    height: 500px;
  }

  .main-page {
    position: relative;
    width: 500px;
    height: 1000px;
    opacity: 0;
    top: 100px;
  }
}