@import "compass/utilities/general/clearfix";

.page-section {
  @include pie-clearfix;
}

.page-section-main-right {
  float: right;
  width: 220px;
}

.page-section-main-left {
  float: left;
  width: 440px;
}
