.page-module-images {

}

$pg-image-size: 66px;
$pg-image-margin: 11px;

.pg-image {
  position: relative;
  display: inline-block;
  float: left;
  height: $pg-image-size;
  width: $pg-image-size;
  border: 1px solid #ddd;
  box-sizing: border-box;
  cursor: pointer;
  margin-bottom: $pg-image-margin;
  overflow: hidden;
  background-size: cover;

  img {
    position: absolute;
    opacity: 0;
  }

}

.pg-image:nth-child(3n+2) {
  margin-left: $pg-image-margin;
  margin-right: $pg-image-margin;
}
