@import "compass/utilities/general/clearfix";

.page-module {
  font-size: 12px;
  margin-bottom: 20px;
}

.page-module-header {
  margin-bottom: 10px;

  h2 {
    font-weight: 700;
    font-size: 12px;
    margin: 0;
  }
  @include pie-clearfix;
}

.page-module-menu {
  float: right;
  cursor: pointer;

  display: none; /* currently no menus yet.. */
}

.page-module-body {
  @include pie-clearfix;
}

.page-module-blank-state {
  font-style: italic;

}

.page-module-menu:hover {
  text-decoration: underline;
}

.page-module-title {
  color: #000;
  font-weight: bold;
  float: left;
}
