#page-navigator {
  position: absolute;
  right: 70px;

  .pn-caret {
    display: inline-block;
    display: none;
    width: 0;
    height: 0;
    vertical-align: top;
    border-top: 4px solid #000000;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";

    margin-top: 8px;
    margin-left: 0;

    border-top-color: #ffffff;
    border-bottom-color: #ffffff;

    position: absolute;
    right: 9px;
    top: 11px;
  }

  .pn-dropdown {
    display: none;
    position: absolute;
    top: 38px;
    right: 2px;
    width: 240px;
    height: 300px;
    background-color: #313131;
    background-image: url(/assets/nav-dropdown-noise.gif);
    box-shadow: 0 4px 9px rgba(0,0,0,.35);
  }

  .pg-bar {
    position: relative;
    background: #2b2b2b;
    padding: 5px 0 3px;
    font-size: 12px;
  }



  .pg-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    max-width: 178px;
  }

  .pg-go {
    padding: 0 5px;
    cursor: pointer;
    background-color: red;
    display: inline-block;
    height: 100%;
    position: absolute;
    top: 0;
    line-height: 22px;
    right: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
}

.pn-meter {
  position: relative;
  border-right: 1px solid #141414;
  border-left: 1px solid #141414;
  height: 40px;
  width: 170px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0 5px;
  font-size: 13px;
  cursor: pointer;
}

.pn-meter:before, .pn-meter:after {
  background: -webkit-linear-gradient(top,#383838 0,#212121 100%);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 1px;
}
.pn-meter:before {
  left: 0;
}
.pn-meter:after {
  right: 0;
}

#page-navigator.dropdown-opened .pn-meter {
  background-color: #313131;
  background-image: url(/assets/nav-dropdown-noise.gif);
}

.pn-name {
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 109px;
  display: inline-block;
  color: rgba(255,255,255,.5);
  line-height: 40px;
  top: 1px;
}

.pn-bubble {
  display: inline-block;
  background: orange;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  position: relative;
  top: 13px;
  margin: 0 5px;
  vertical-align: top;
  opacity: .5;
}

.pn-meter:hover {
  .pn-name {
    color: rgba(255,255,255,.7);
  }
}
.pn-meter.active {
  .pn-name {
    color: rgba(255,255,255,1);
  }
  .pn-bubble {
    opacity: 1;
  }
}
