@import "compass/utilities/general/clearfix";

$page-color: orange;
$page-nav-item-padding: 16px;
$page-nav-item-border-color: #e9eaed;
$page-nav-item-hover-bg-color: #f6f7f8;
$page-header-padding-side: 10px;

.page {
  .slide-card {
    width: 700px;
  }
}

.page-banner {
  position: relative;
  border-top: 3px solid $page-color;
  background-color: #f5f8fa;
  height: 260px;
  overflow: hidden;
  background-image: url(/assets/nyan_cat.jpg);
  background-size: cover;
}

.page-header {
  position: relative;
  top: 0;
  border-bottom: 1px solid #e7e7e7;
  height: 40px;
  width: 700px;
  margin: 0 auto;
  box-sizing: border-box;
  line-height: 40px;
  padding: 0 $page-header-padding-side;
  background-color: #fff;
  z-index: 100;
  @include pie-clearfix;
}

.page-nav {
  display: inline-block;
  margin: 0;
  padding: 0;
  float: left;

  .page-nav-item {
    position: relative;
    display: inline-block;
    border-left: $page-nav-item-border-color solid 1px;
    vertical-align: middle;
    line-height: 28px;
    padding: 0 $page-nav-item-padding;
    text-overflow: ellipsis;
    color: #4e5665;
    cursor: pointer;
  }
  .page-nav-item:hover {
    background-color: $page-nav-item-hover-bg-color;
  }
  .page-nav-item:hover,
  .page-nav-item:hover+.page-nav-item {
    border-color: $page-nav-item-hover-bg-color;
  }
  .page-nav-item.active {
    color: #141823;
  }
  .page-nav-item:first-child {
    border: none;
  }

  .page-nav-item-underline {
    display: none;
    background: $page-color;
    bottom: 0;
    height: 4px;
    left: -3px;
    margin-bottom: -4px;
    padding: 0 3px;
    position: relative;
    width: 100%;
  }
  .page-nav-item.active .page-nav-item-underline {
    display: block;
  }
}

.page-actions {
  float: right;
  margin-right: 14px;
  color: #4e5665;
}
.page-actions > span {
  position: relative;
  i {
    margin-right: 4px;
  }
}
.page-action-btn {
  padding: 0 16px;
  height: 28px;
  display: inline-block;
  vertical-align: middle;
  line-height: 28px;
  cursor: pointer;
}
.page-action-btn:hover {
  background-color: #f6f7f8;
}
.act-new-topic {
  .spinner {
    vertical-align: middle;
    position: relative;
    top: -1px;
    display: none;
  }
}

.page-body {
  min-height: 500px;
  padding: 20px;
  box-sizing: border-box;
}

.page-footer {
  height: 37px;
  border-top: 1px solid #e7e7e7;
  line-height: 38px;
  color: #999;
  background-color: #fff;

  padding: 0 12px;

  font-size: 12px;
}

.page-header .topic-header {

  .topic-header-btn {
    border-right: #e9eaed solid 1px;
    padding-right: 10px;
    margin-right: 10px;
    cursor: pointer;
    color: #999;
    line-height: 28px;
    display: inline-block;
    vertical-align: middle;
  }
  .topic-header-btn:hover {
    color: #666;
  }
  .topic-header-btn:active {
    color: #000;
  }
}

.topic-title {
  display: inline-block;
  line-height: 28px;
  vertical-align: middle;
}

.topic-actions {
  @extend .page-actions;
}
.topic-actions > span {
  position: relative;
  i {
    margin-right: 4px;
  }
}
.topic-action-btn {
  @extend .page-action-btn;
}
.act-new-post {
  .spinner {
    vertical-align: middle;
    position: relative;
    top: -1px;
    display: none;
  }
}

.topic-title-h2 {
  font-weight: 700;
  font-style: normal;
  letter-spacing: -.04em;
  font-size: 38px;
  line-height: 1.1;
  margin-bottom: 8px;
}


.message-list {
  float: right;
  width: 240px;
}
