@import "compass/utilities/general/clearfix";

$avatar-padding: 10px;
$avatar-size: 32px;

.message-pg {
  margin-bottom: 10px;
  font-size: 12px;
}
.message-pg:last-child {
  margin-bottom: 0;
}

.message-pg .user-a {

  .user-a_avatar {
    width: $avatar-size;
    height: $avatar-size;
    left: - $avatar-padding - $avatar-size;
    top: -2px;
    border-radius: 4px;
  }

  strong {
  }

  .user-a_suffix {
    font-size: 9px !important;
    color: #999;
  }
}

.message-pg-h {
  padding-left: $avatar-padding + $avatar-size;
  min-height: $avatar-size;
}

.message-pg-info {
  color: #999;
}

.message-pg-menu {
  cursor: pointer;
}
.message-pg-menu:hover {
  text-decoration: underline;
  color: inherit;
}

.message-pg-image {
  max-width: 100%;
}

.message-pg-tx {
  line-height: 15px;
  margin-bottom: 4px;
  margin-top: 2px;
}
