@import "compass/utilities/general/clearfix";
$avatar-size: 48px;
$avatar-margin-right: 15px;
$post-padding: 25px;
$block-margin: 20px;
$comment-avatar-size: 36px;
$comment-padding: 10px;
$reply-avatar-size: 24px;

.post-sa {
  padding-left: $avatar-size + $avatar-margin-right;
  width: 440px;
  margin-bottom: $post-padding;
  margin-left: auto;
  margin-right: auto;
}

.post-body {
}

.post-header {
  border-top: 1px solid rgba(0,0,0,.1);
  padding-top: $post-padding;
  @include pie-clearfix;

  .post-info {
    float: right;
    font-size: 12px;
    color: #999;
    position: relative;
    top: 3px;
  }
}
.post:first-child .post-header {
  border: 0;
}
.post.after-bar .post-header {
  border: 0;
}

.post-header .user-a {
  float: left;

  strong {
    font-size: 18px;
  }

  .user-a_suffix {
    color: #999;
    position: relative;
  }

  .user-a_avatar {
    width: $avatar-size;
    height: $avatar-size;
    left: - $avatar-size - $avatar-margin-right;
    box-shadow: inset #BBB 0px 0 2px 0px;
    border-radius: 5px;
  }
}

.post-footer {
  margin-top: 10px;
  @include pie-clearfix;

  .content-menu-btn {
    cursor: pointer;
    margin-right: 7px;

    .content-menu-btn_i {
      display: none;
    }

    .content-menu-btn_count {
      background: rgba(0,0,0,.05);
      color: rgba(0,0,0,.3);
      padding: 3px 6px;
      border-radius: 2px;
      font-weight: 700;
      margin-left: 2px;
    }
    .content-menu-btn_count.not-zero {
      display: inline;
    }
  }


}

.post .comment-area {
  display: none;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 3px;
  margin-top: 9px;
  margin-bottom: 14px;

  .comments {
    padding: 0 10px;
  }
  .content {
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 3px;
  }
  .add-comment {
    padding: 0 10px 10px;
    margin-top: 10px;

    .reply-to {
      font-size: 12px;
      margin-bottom: 5px;
    }
  }
  .place-holder {
    line-height: 35px;
    padding: 0 8px;
    color: #999;
  }
  textarea {
    font-size: 14px;
    padding: 12px 10px;
  }
}

.post .comment-area .add-comment {
  .extra {
    padding: 0 10px 6px;
  }
}

.post .comment-area .edit-comment .user-a {
  position: absolute;
  font-size: 0;

  .user-a_avatar {
    width: 35px;
    height: 35px;
    border-radius: 4px;
    left: -45px;
  }
}

.post .comment-area.logged-in .edit-comment {
  padding-left: 45px;
}
.post .comment-area .add-comment .content.active textarea {
  min-height: 60px;
}

.post .comment {
  padding-left: $comment-avatar-size + 10px;
  margin-top: $comment-padding;

  .comment_h {
    padding-top: $comment-padding;
    border-top: 1px solid rgba(0,0,0,.1);
  }
  .comment_b {
    margin-top: 4px;
  }
  .comment_menu {
    margin-top: 3px;
    font-size: 12px;
    color: #999;
  }
  .comment_h .time {
    font-size: 12px;
    color: #999;
  }
  .extra {
    margin: 5px 0;

    img {
      max-width: 90%;
      border-radius: 5px;
    }
    .act-view-image {
      font-size: 12px;
      color: inherit;
    }
  }
}
.post .comments > .comment:first-child {
  margin-top: 15px;
}
.post .comments > .comment:first-child > .comment_h {
  padding-top: 0;
  border: 0;
}
.post .comment:last-child {
  margin-bottom: 15px;
}

.post .comment .user-a {
  .user-a_avatar {
    width: $comment-avatar-size;
    height: $comment-avatar-size;
    left: - $comment-avatar-size - 10px;
    border-radius: 4px;
  }
  .user-a_suffix {
    font-size: 12px;
    color: #999;
  }
}

.post .replies {
  border-top: 1px solid rgba(0,0,0,.1);
  margin-top: 10px;
}

.post .replies .comment {
  padding-left: $reply-avatar-size + 8px;
}

.post .replies .comment:first-child {
  margin-top: 0;
  .comment_h {
    border: 0;
  }
}
.post .replies .comment:last-child {
  margin-bottom: 10px;
}


.post .replies .comment .user-a {
  .user-a_avatar {
    width: $reply-avatar-size;
    height: $reply-avatar-size;
    left: - $reply-avatar-size - 8px;
    border-radius: 3px;
  }
}

.post.primer {

  margin-bottom: 0;

  .comment-area {
    display: block;
    margin-top: 20px;
  }
}

.post-blocks {
  word-wrap: break-word;
  clear: left;
  font-size: 18px;
  margin-top: 3px;
  letter-spacing: .01rem;
  line-height: 1.5;
  color: rgba(0,0,0,.8);
}

.post-sa .post-block-figure {
  margin: 10px;

  img {
    display: block;
    max-width: 100%;
  }
}
