.post-tl {
  width: 540px;
}

.post-tl-body {
  background-color: #f7f9fa;
  padding: 10px 12px 16px;

  font-size: 18px;
  line-height: 24px;
}

.post-tl .post-block {
  margin: 10px 0;
}
.post-tl .post-block:first-child {
  margin-top: 0;
}
.post-tl .post-block:last-child {
  margin-bottom: 0;
}

.post-tl {
  .content-menu {
    display: none;
  }
}

.post-tl .post-block-figure {
  img {
    display: block;
    max-width: 100%;
    border-radius: 6px;
  }
}
