.fm_l {
  position: absolute;
  opacity: 0.75;
  filter: "alpha(opacity=75)";
  -ms-filter: "alpha(opacity=75)";

  width: 16px;
  top: 0;
  right: 0;
  bottom: 0;

  user-select: none;
  -webkit-user-select: none;

  transition: opacity 0.5s;

}

.fm_l.hide {
  opacity: 0;
}

.fm_l {
  .button-up, .button-down {
    display: block;
    position: absolute;
    height: 20px;
    width: 16px;
    left: 0;
    overflow: hidden;
    margin: 0 auto;
    cursor: pointer;

    background-image: url(scrollbar_buttons.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    opacity: 0.4;
  }

  .button-up {
    background-position: -32px 0;
    top: 0;
  }

  .button-down {
    bottom: 0;
    background-position: -32px -20px;
  }

}

.fm_l .dragger-container {
  margin: 20px 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: auto;

  .dragger {
    position: absolute;
    height: 125px;
    top: 32px;
    cursor: pointer;
    width: 100%;

    .bar {
      position: relative;
      line-height: 125px;
      background: rgba(255,255,255,0.75);
      width: 4px;
      height: 100%;
      margin: 0 auto;
      border-radius: 10px;
      text-align: center;
    }
  }

  .rail {
    position: relative;
    background: rgba(255,255,255,0.1);
    width: 2px;
    height: 100%;
    margin: 0 auto;
    border-radius: 10px;
  }
}


.fm_l:hover {
  .button-up, .button-down {
    opacity: 0.75;
  }
  .dragger-container {
    .bar {
      background: rgba(255,255,255,1);
    }
  }
  .rail {
    background: rgba(255,255,255,0.3);
  }
}
.fm_l {
  .button-up:active, .button-down:active {
    opacity: 1;
  }
}