@import "compass/utilities/general/clearfix";

.setting-box-category {
  ol { @include clearfix; }
  li { width: 50%; float: left; text-align: center; }
  .avatar-field {
    margin-bottom: 10px;
    .field_label { display: none; }
    .field_ctrls { margin: 0; }

    .avatar { margin: 0 auto; }
  }

  .category_name {
    font-size: 13px;
    color: #666;
  }
}