.setting-box {
  color: #333;
  position: relative;

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    cursor: wait;
    display: none;
    background-color: rgba(255, 255, 255, .4);
  }

  .setting-box_h {
    border-bottom: 1px solid #e8e8e8;

    .setting-box_h_inn {
      min-height: 20px;
      padding: 12px 12px 10px 12px;
      background-color: #fff;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom-width: 0;
      border-radius: 5px 5px 0 0;

      h2 {
        color: #66757f;
        font-size: 20px;
        font-weight: 200;
        margin: 0;
      }
    }
  }

  .setting-box_cnt {
    min-height: 100px;
    padding: 12px;
    background-color: #fff;
    border-bottom: 1px solid #e1e8ed;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }

  .setting-box_f {
    border-radius: 0 0 6px 6px;

    .setting-box_f_inn {
      padding: 20px;
      background-color: #fff;
      border-radius: 0 0 5px 5px;
      border-left: 1px solid rgba(0, 0, 0, 0.1);
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .spinner {
      display: none;
      position: relative;
      top: 5px;
      left: 10px;
    }
  }
}


.setting-box {
  fieldset {
    margin-bottom: 15px;

    legend {
      display: none;

      float: left;
      width: 100px;
      padding-top: 5px;
      text-align: right;
      margin: 0;
      font-size: 13px;
      line-height: 20px;
    }

    .fields {  }

  }

  hr {
    margin: 20px -12px;
    border: 0;
    border-top: 1px solid #eee;
    height: 0;
    padding: 0;
  }

  .field {

    .field_label {
      float: left;
      width: 100px;
      padding-top: 5px;
      text-align: right;
      margin-right: 20px;
      font-size: 13px;
      line-height: 20px;
    }

    .field_ctrls {

    }
  }
}



.setting-box {

  .avatar-field {
    margin-bottom: 10px;

    .img-picker {
      top: 12px;
      left: 325px;
    }
  }

  .text-field input,
  .textarea-field textarea {
    display: inline-block;

    font-size: 13px;
    line-height: 20px;
    padding: 4px;

    vertical-align: middle;
    margin: 0 0 5px 0;
    outline: 0;
    box-sizing: border-box;
    width: 100%;

    border: 1px solid #d9d9d9;
    -webkit-box-shadow: inset 0px 1px 0px 0px #fafafa;
    border-radius: 2px;

    -webkit-transition-property: box-shadow, border;
    -webkit-transition-duration: 0.35s;
  }

  .text-field input:focus, .textarea-field textarea:focus {
    border-color: #1780fb;
    box-shadow: 0px 0px 2px #3b7fca;
    -webkit-box-shadow: #3b7fca 0px 0px 2px;
  }

  .text-field input {
    width: 210px;
  }

  .textarea-field textarea {
    resize: none;
    width: 330px;
  }
}
