.sidebar-fly {
  position: absolute;

  width: 215px;
  top: 80px;
  right: 20px;

  display: none;

  padding: 20px 0 20px 20px;
}

.sidebar-fly:before {
  content: '';
  display: block;
  position: absolute;
  height: 400px;
  width: 1px;
  top: 44px;
  left: 0;
  border-left: 1px solid rgba(0, 0, 0, .11);
}

.sidebar-fly {
  .sidebar-module-myblog {
    .sidebar-module_h {
      .user-a {
        font-size: 0;
        display: block;
        height: 200px;
        margin-bottom: 14px;

        .user-a_avatar {
          width: 200px;
          height: 200px;
          border-radius: 100px;
        }

        strong { font-size: 0; }
      }
      small, .link-arrow { display: none; }
    }
  }
}

.explorer-sidebar-fly {
  .act-back-top {
    width: 50px;
    height: 50px;
    float: right;
    margin-right: 20px;
    cursor: pointer;
    opacity: .4;
  }

  .act-back-top:hover {
    opacity: .6;
  }
  .act-back-top:active {
    opacity: .8;
  }
}

.explorer-sidebar-fly:before {
  display: none;
}
