/* ----------- Sidebar  ----------- */

@import "compass/css3/filter";
@import "compass/css3/transition";

.user-slide .sidebar {
  position: relative;
  float: right;
  width: 215px;
  padding: 20px 0 20px 20px;
  color: #666;
}

.sidebar-overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  cursor: progress;
}

.user-slide .sidebar:before {
  content: '';
  display: block;
  position: absolute;
  width: 1px;
  top: 44px;
  left: 0;
  bottom: 74px;
  border-left: 1px solid rgba(0,0,0,.11);
}


.sidebar-module {
  margin-bottom: 25px;
}

.sidebar-module_tb {
  float: right;
}

.sidebar-module_h, .sidebar-module_f {
  position: relative;
  font-size: 13px;
  color: #666;
}

/* --------------- line shadow ------------- */
.sidebar-module_h {
  border-bottom: 1px solid rgba(0,0,0,.14);
  padding: 0 8px 6px;

  .sidebar-module_name { font-size: 18px; }
}
.sidebar-module_f {
  border-top: 1px solid rgba(0,0,0,.14);
  padding: 6px 12px 0;
}

.sidebar-module_h:after, .sidebar-module_f:before  {
  content: "";
  height: 5px;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 100;
}

/* -------------  end of line shadow ----------  */
.sidebar-module-menus {
  color: #666;
  overflow: hidden;
  padding: 0 5px;
  margin: 0;
}

.sidebar-module-menus li {
  border-bottom: 1px solid rgba(0,0,0,.07);
  position: relative;
  padding: 12px 13px 10px 13px;
  font-size: 14px;
  cursor: pointer;
}

.sidebar-module-menus li:hover {
  background-color: rgba(255,255,255,.57);
}

.sidebar-module-menus li:last-child {
  border-bottom-width: 0;
}

.sidebar-module-menus li {
  a {
    color: inherit;
    text-decoration: inherit;
    cursor: inherit;
  }

  .i {
    position: relative;
    display: inline-block;
    width: 30px;
    left: 0;

    @include transition-property(left);
    @include transition-duration(.25s);

    img {
      position: absolute;
      top: -17px;
      left: 0;

      opacity: 0.65;

      @include filter( grayscale(100%) );
      @include transition-property(opacity, filter, -webkit-filter);
      @include transition-duration(.25s);
    }
  }

  .count {
    color: rgba(0,0,0,.32);
    font-size: 12px;
    position: absolute;
    top: 13px;
    right: 10px;
    transition: color .25s ease;
    -moz-transition: color .25s ease;
  }
}

.sidebar-module-menus li:hover .i { left: -3px; }

.sidebar-module-menus li.active .i img {
  @include filter( grayscale(0) );
  opacity: 1;
}

.sideabr-module-menus .link-arrow {
  font-size: 0;
  display: block;
  height: 13px;
  width: 13px;
  margin-top: 4px;
  background-position: 8px -1749px;
  background-repeat: no-repeat;
  opacity: 0.25;
  position: absolute;
  top: 10px;
  right: 10px;
}

.sidebar-module-menus .link-arrow:hover {
  opacity: 0.5;
}
