article[data-content-type="picture"][data-view-point="radar"] {
  .image img {
    max-width: 215px;
    border-radius: 5px;
  }

  .content-footer_info {
    display: none;
  }

  .front_bottom { display: none; }

  .content-footer { text-align: center; }

  .content-footer_menu {
    float: none;
    display: inline-block;
    li { display: none; }
    .act-comment { display: inline-block; }
    .act-like { display: inline-block; }
    .act-share { display: inline-block; }
    .act-mark { display: inline-block; }
  }
}
