.sidebar-module-category {
  .sidebar-module-menus {
    li .i {
      img {
        width: 24px;
        height: 24px;
        top: -18px;
        border-radius: 12px;
      }

      .icon-plus {
        position: absolute;
        width: 36px;
        height: 36px;
        top: -24px;
        left: -5px;
      }
    }
  }

  .sidebar-module_f {

    cursor: default;
    
    .act {
      cursor: pointer;
      color: #999;
    }
    .act:hover {
      color: inherit;
    }
    .fa-list-ul { font-size: 12px; }
    .fa-th-large { font-size: 12px; }

    span { cursor: pointer; }
  }
}

.sidebar-module-category.list-view {
  .act-view-list { display: none; }
}

.sidebar-module-category.icon-view {
  .act-view-icon { display: none; }

  .sidebar-module-menus {

  }

  .sidebar-module-menus li {
    width: 50%;
    box-sizing: border-box;
    border-bottom-width: 0;
    float: left;
    padding: 10px 8px 8px 8px;

    span { display: block; text-align: center; }

    .i {
      height: 40px;
      width: 40px;
      margin: 0 auto 8px;
      background-color: rgba(0, 0, 0, .3);
    }

    .tx {
      overflow: hidden;
      text-overflow: ellipsis;
      word-wrap: break-word;
      white-space: nowrap;
      font-size: 13px;
      line-height: 20px;
    }
  }
}