@import "compass/utilities/general/clearfix";

.sidebar-module-explore {

  .sidebar-module_h { padding: 0 8px 0; }

  .user-a {
    display: block;
    height: 60px;
    padding-left: 60px;
    padding-top: 5px;

    .user-a_avatar {
      width: 50px;
      height: 50px;
      border-radius: 5px;
    }

    strong {
      font-size: 14px;
      color: #333333;
      display: block;
      margin-bottom: 5px;
    }
    span {
      color: #999;
      font-size: 12px;
    }

    .user-a_headline {
      display: block;
      margin-top: 7px;
      color: #333;
    }
  }

  .user-stat {
    @include pie-clearfix;
    border-top: 1px solid #e8e8e8;
    border-color: rgba(0, 0, 0, 0.11);
    text-align: center;
    cursor: default;
    margin: 0;
    padding: 0;
    .user-stat-friends { cursor: pointer; }
    .user-stat-followers { cursor: pointer; }
  }

  .user-stat_count {
    display: inline-block;
    padding: 7px 12px;
    font-size: 10px;
    color: #999;
    text-transform: uppercase;
    line-height: 16px;
    text-align: right;
    border-right: 1px solid #e8e8e8;
    strong {
      display: block;
      color: #666;
      font-size: 14px;
      font-weight: bold;
    }
  }
  .user-stat_count:last-child {
    border-right-width: 0;
  }

  .sidebar-module-menus {
    li:first-child { margin-top: 2px; }
    li .i {
      img { height: 30px; }
    }
    li[data-li-name="index"] img { height: 35px; top: -23px; left: -5px; }
    li[data-li-name="marks"] img { left: -2px; top: -21px; }
    li[data-li-name="likes"] img { height: 25px; top: -18px; left: 1px; }
  }
}
