@import "compass/css3/filter";

.sidebar-module-myblog {
}

.sidebar-module-myblog .sidebar-module_h {

  .blog-a {
    color: inherit;
    text-decoration: none;
  }

  h3 {
    position: relative;
    margin: 0 0 5px;
    padding: 0;
    display: block;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
  }

  .user-a {
    strong {
      font-size: 18px;
    }

    .user-a_suffix {
      display: none;
    }
  }

  small {
    display: block;
    font-size: 11px;
    text-decoration: none;
    color: #8a9bb0;
    margin-top: 5px;
  }

  .link-arrow {
    display: block;
    height: 13px;
    width: 13px;

    background-position: 0 -1650px;
    background-repeat: no-repeat;
    opacity: .25;
    position: absolute;
    top: 10px;
    right: 11px;
    padding: 1px;
    color: rgba(255,255,255,0.32);
    cursor: pointer;
  }

  #blog-url-arrow {

    background-position: 0 -1750px;
    width: 7px;
    height: 8px;
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: -1px;
    opacity: .15;
    margin-left: 4px;
  }

}


.sidebar-module-myblog {
  li .i { width: 30px; }
  li .icon {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    top: -21px;
    background-image: url(/assets/post_icons_sprite.png);
    background-repeat: no-repeat;
    background-size: 790%;
    @include filter( grayscale(0) );
  }
  li[data-content-type="message"] .icon { background-position: -70px 0; }
  li[data-content-type="picture"] .icon { background-position: -36px -2px; }
  li[data-content-type="link"] .icon { background-position: -105px -2px;; }
  li[data-content-type="article"] .icon { background-position: 0 -2px;; }
  li[data-content-type="quote"] .icon { background-position: -173px -1px; }
}
