.sidebar-module-suggestions {

  li {
    padding-left: 58px;
  }

  .user-a {
    display: block;
    padding-top: 1px;
    margin-bottom: 6px;

    .user-a_avatar {
      width: 42px;
      height: 42px;
      border-radius: 4px;
      left: -50px;
    }

    strong { font-size: 13px; color: #333; }
    span { font-size: 12px; color: #999; }
    .user-a_headline { display: block; color: #333; }
  }

  .sidebar-module_f {
    cursor: default;
    span { cursor: pointer; }
    i { position: relative; }
    .fa-refresh { margin-right: 3px; }
    .fa-search { margin-right: 1px; top: -1px; }
  }
}