.sidebar-module.mio-box-message {
  width: auto;
  .mio-box_cnt {
    padding: 0;
    background: transparent;
    border-radius: 0;
    padding-bottom: 4px;
  }
}

.sidebar-module.mio-box-message .content {
  border: 1px solid #ccc;
}

.sidebar-module.mio-box-message.active .content {
  border-color: #56b4ef;
  /* box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 0 8px rgba(82,168,236,.6); */
}

.sidebar-module.mio-box-message .text {
  font-size: 13px;
  padding: 6px 8px 5px;
  line-height: 18px;
  word-wrap: break-word;
  height: 19px;
  min-height: 19px;
  color: #aaa;
  outline: 0;
}

.sidebar-module.mio-box-message.expand .text {
  height: auto;
  min-height: 80px;
  color: #333;
}

.sidebar-module.mio-box-message .content .new {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 13px;
  line-height: 18px;
  color: #aaa;
  padding: 6px 8px;
  cursor: text;
}

.sidebar-module.mio-box-message.expand .content .new {
  display: none;
}

.sidebar-module.mio-box-message .extra {
}

.sidebar-module.mio-box-message .menu {
  padding: 0 4px;
  margin-top: 8px;
  display: none;
}

.sidebar-module.mio-box-message.expand .menu {
  display: block;
}

.sidebar-module.mio-box-message .menu .length-limit {
  margin-left: 6px;
}

.sidebar-module.mio-box-message .menu .act-close-box {
  display: none;
}

.sidebar-module.mio-box-message .extra {
  position: relative;
}

.sidebar-module.mio-box-message .extra:before {
  position: absolute;
  width: 80%;
}

.sidebar-module.mio-box-message .extra img {
  display: block;
}
