@import "compass/css3/transition";
@import "compass/css3/transform";

.slider {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.slider, .slider.hide {
  opacity: 0;
  overflow: hidden;
}
.slider.show {
  opacity: 1;
}

.slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  min-width: 1024px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.slide-card {
  margin: 0 auto;
  position: relative;

  box-shadow: 1px 1px 8px rgba(0,0,0,0.4);

  background-color: #fcfcfc;
  background-color: rgba(255,255,255,0.98);
}

.slide {
  @include translate3d(0, 0, 0);
  @include transition-property(transform);
  @include transition-duration(600ms);
}
.slide.hide {
  @include translate3d(0, 100%, 0);
  @include transition-property(transform);
  @include transition-duration(600ms);
}

.slide::scrollbar {
  width: 0;
  height: 0;
}

.slide::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.slide-h-w {
  display: none;
  position: absolute;
  z-index: 10000;
  top: 0;
  left: 0;
  right: 0;
  min-width: 1024px;
}

#user-fm .fm_m {
  overflow-y: auto;
}

.carousel-nav {
  position: absolute;
  height: 60px;
  width: 30px;
  top: 50%;
  margin-top: -30px;
  background-image: url(/assets/arrows.png);
  cursor: pointer;
  z-index: 1000;
  display: none;
}

.carousel-prev {
  left: 0;
  background-position: 0 0;
}
.carousel-prev:hover {
  background-position: 0 -60px;
}
.carousel-prev:active {
  background-position: 0 -120px;
}

.carousel-next {
  right: 0;
  background-position: -30px 0;
}
.carousel-next:hover {
  background-position: -30px -60px;
}
.carousel-next:active {
  background-position: -30px -120px;
}
