.space-w {
  left: 0;
}

.space {

}

.space_h {

  .slide-toggler {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    color: rgba(0,0,0,.2);
    cursor: pointer;

    i {
      font-size: 18px;
      position: relative;
      top: 7px;
      left: 4px;
    }
  }
  .slide-toggler:hover {
    color: rgba(0,0,0,.4);
  }
  .slide-toggler:active {
    color: rgba(0,0,0,.7);
  }

}

.space_h {

}

.space_b {

}

.space_cnt {

}

.space_f {

}
