.post[data-post-type="article"][data-view-point="space"] {
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #c4cde0;
  background: #fff;
  padding: 13px 15px;
  border-radius: 4px;

  width: 540px;

  .cover {
    height: 260px;
    position: relative;

    .image {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 2px;

      img {
        display: block;
        width: 100%;
      }
    }
  }

  .title {
    font-size: 26px;
    margin: 12px 0 8px;
  }

  .summary {
    color: #7A7A7B;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 10px;
  }

}
