.post[data-post-type="link"] {
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #c4cde0;
  background: #fff;
  padding: 13px 15px;
  border-radius: 3px;
}

.post[data-post-type="link"] {
  width: 540px; 
}

.post[data-post-type="link"] header {
  position: relative;
  text-align: center;
  padding: 12px 10px 18px;
  border: 1px solid #EFEFEF;
  background: url(http://static.tumblr.com/thpaaos/heoklyiqd/link-bg.png) 1px 0px;
  border-radius: 2px;
  margin-bottom: 14px;

  .link_thumbnail {
    position: absolute;
    left: 0;
    top: 0;
    width: 70px;
    height: 70px;
    background-image: url(http://b.thumbs.redditmedia.com/simP8cNgiKjN6WrO.jpg);
    background-repeat: no-repeat;
  }

  .link_b {
    padding-right: 32px;
  }

  .title {
    display: block;
    text-decoration: none;
    color: #2F2F2F;
    font-size: 24px;
    margin-bottom: 4px;
  }

  .domain {
    color: gray;
    font-size: 12px;
  }

  .arrow {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 12px solid #2f2f2f;
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -8px;
    display: block;
  }
}