article[data-content-type="picture"][data-view-point="timeline"] {
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #c4cde0;
  background: #fff;
  padding: 0;
  border-radius: 4px;
  overflow: hidden;

  width: 540px;

  .image {
    cursor: pointer;
    position: relative;

    img {
      display: block;
      width: 100%;
    }
  }
}
