@import "compass/utilities/general/clearfix";

.topic-ebd {
  position: relative;
  border-bottom: 1px solid #e1e8ed;
  @include pie-clearfix;
}

.topic-ebd-header {
  height: 40px;
  line-height: 40px;
  padding-left: 12px;
  padding-right: 40px;

  a {
    text-decoration: none;
    color: inherit;
  }

  .topic-ebd-header-tx {
    width: 480px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
  }

  .topic-ebd-header-toggler {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    color: rgba(0,0,0,.3);

    display: none !important;
  }

  .topic-ebd-header-toggler:hover {
    color: rgba(0,0,0,.5);
  }
  .topic-ebd-header-toggler:active {
    color: rgba(0,0,0,.7);
  }

  .topic-ebd-pg-name {
    color: #999;
    cursor: pointer;
  }
  .topic-ebd-pg-name:hover {
    color: #666;
  }
  .topic-ebd-pg-name:active {
    color: #333;
  }

  .topic-ebd-title {
    cursor: pointer;
  }
}

.topic-ebd-thumbs {
  float: right;
  @include pie-clearfix;
}

.topic-ebd-thumb {
  margin-left: 5px;
  position: relative;
  float: left;
  width: 50px;
  height: 50px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;

  img {
    position: absolute;
    opacity: 0;
  }
}

.topic-ebd-thumb:hover {
  border-color: orange;
}
