.topic-events {
  width: 500px;
  margin: 0 auto 15px;
}

.topic-event {
  position: relative;
  margin-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  border-left: 2px solid rgba(0,0,0,.1);
}

.topic-event-type {
  height: 30px;
  width: 30px;
  background: #E6E6E6;
  display: inline-block;
  padding: 2px;
  border: 2px solid #FFF;
  position: absolute;
  left: -16px;
  top: 10px;
  border-radius: 999em;
  -webkit-border-radius: 999em;
  color: rgba(0,0,0,.44);
  box-sizing: border-box;
}

.topic-event-type:before {
  content: "";
  display: inline-block;
  font-family: fontello;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 22px;
  font-size: 10px;
  text-align: center;
  position: relative;
  color: #fff;
}

.topic-event-type.open {
  background-color: #60AC52;
}
.topic-event-type.open:before {
  content: "\e816";
}
.topic-event-type.close {
  background-color: #c74c4c;
}
.topic-event-type.close:before {
  content: "\e818";
}

.topic-event-content {
  line-height: 20px;
  color: rgba(0,0,0,.44);
  margin-left: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  display: block;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;

}

.topic-event-content .user-a {

  .user-a_avatar {
    display: inline-block;
    width: 18px;
    height: 18px;
    position: relative;
    vertical-align: top;
    margin-left: 10px;
    margin-right: 5px;
    border-radius: 999em;
    top: 1px;
  }

  .user-a_suffix {
    display: none;
  }
}
