@import "compass/utilities/general/clearfix";

.topic-list {
  width: 390px;

  .topic-list-header {
    color: #000;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 10px;
  }

}

.topic-list > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.topic-list-item {
  display: table;
  table-layout: fixed;
  width: 100%;
  line-height: 1;
  margin: 15px 0 0;
  padding: 15px 0 0;
  border-top: 1px solid #f2f2f2;
  vertical-align: top;
  word-wrap: break-word;
  word-break: break-all;
}

.topic-list-item:first-child {

}

.topic-list-item-title {
  line-height: 1.25;
  font-size: 16px;
  margin: 0;
  font-weight: normal;

  a {
    color: inherit;
    text-decoration: none;
  }

  a:hover {
    border-bottom: 1px solid orange;
  }
}

.topic-list-item-summary {
  color: #666;
  font-size: 12px;
  margin-top: 5px;
  line-height: 16px;
}

.topic-list-item-thumbs {
  padding: 0;
  margin-top: 7px;
  list-style-type: none;
  @include pie-clearfix;
}

.topic-list-item-thumb {
  position: relative;
  display: inline-block;
  float: left;
  margin-right: 9px;
  height: 60px;
  width: 60px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
  background-size: cover;

  img {
    position: absolute;
    opacity: 0;
  }
}
.topic-list-item-thumb:hover {
  border-color: orange;
}

.topic-list-item-info {
  font-size: 12px;
  @include pie-clearfix;
  line-height: 18px;
  margin-top: 9px;
}

.topic-list-item-info .user-a {
  .user-a_avatar {
    display: inline-block;
    width: 18px;
    height: 18px;
    position: relative;
    border-radius: 3px;
    vertical-align: top;
    top: -1px;
  }
  .user-a_suffix {
    display: none;
  }
}

.topic-list-footer {
  border-top: 1px solid #f2f2f2;
  margin-top: 15px;
  padding-top: 25px;
}

.topic-list-pagination {
  font-size: 12px;
  line-height: 14px;

  span {
    display: inline-block;
    margin: 0 2px;
    padding: 6px 8px;
    font-weight: 400;
    vertical-align: top;
    border: 1px solid #ebebeb;
    color: #999;
    cursor: pointer;
  }

  span:hover {
    cursor: pointer;
    background-color: #f0f0f0;
    color: #000;
  }

  span.current, span.current:hover {
    cursor: default;
    border-color: transparent;
    background-color: transparent;
    color: #000;
  }

}
