@import "compass/utilities/general/clearfix";

.topic-bar {
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 3px;
  width: 500px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  @include pie-clearfix;
}

.topic-bar > li {
  padding: 7px 10px;
  float: left;
  text-align: center;
}

.topic-bar > li.count {
  span {
    font-size: 12px;
  }

  h4 {
    font-size: 12px;
    margin: 0;
    font-weight: 400;
  }
}

.topic-bar .buttons {

  float: right;

  padding: 10px 10px 9px;

  .btn {

  }
}
