$page-nav-item-padding: 16px;
$page-nav-item-border-color: #e9eaed;
$page-nav-item-hover-bg-color: #f6f7f8;

.page-header .topic-header {
  position: absolute;
  left: 0;
  top: 0;
}

.topic-header {
  width: 700px;
  height: 40px;
  margin: 0 auto;
  background-color: #fff;
  line-height: 40px;
  box-sizing: border-box;
  border-bottom: 1px solid #e7e7e7;
}

.topic-header-btn {
  padding: 0 10px;
  cursor: pointer;
  color: #999;
  line-height: 28px;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
}
.topic-header-btn:hover {
  color: #666;
  background-color: $page-nav-item-hover-bg-color;
  border-right-color: $page-nav-item-hover-bg-color;
}
.topic-header-btn:active {
  color: #000;
}

.topic-header-page-btn {
  margin-left: 10px;
  border-right: #e9eaed solid 1px;
}

.topic-title {
  display: inline-block;
  line-height: 28px;
  vertical-align: middle;
  color: inherit;
  text-decoration: none;
  padding-left: 10px;
}

.topic-actions {
  float: right;
}

.act-new-post {
  .spinner {
    vertical-align: middle;
    position: relative;
    top: -1px;
    display: none;
  }
}

.topic-title-h2 {
  font-weight: 700;
  font-style: normal;
  letter-spacing: -.04em;
  font-size: 38px;
  line-height: 1.1;
  margin-bottom: 8px;
}
