.user-a {
  position: relative;
  text-decoration: none;
  color: inherit;
}

.user-a_avatar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0;
  overflow: hidden;

  img { width: 100%; opacity: 0; }
}

.user-a {
  strong {
    font-weight: 400;
  }

  span {

  }
}
