.user-bar {
  padding: 10px 12px 7px 66px;
  border-bottom: 1px solid #e8e8e8;

  .user-a {
    display: block;
    margin-bottom: 5px;

    .user-a_avatar {
      width: 46px;
      height: 46px;
      left: -55px;
      border-radius: 4px;
    }

    strong {
      font-size: 14px;
      color: #333;
    }

    .user-a_suffix {
      font-size: 12px;
      color: #999;
    }
  }

  .user-bar_b {
    font-size: 12px;
    min-height: 30px;

    .user-bar_headline {
      margin-bottom: 5px;
    }

    .user-bar_bio {
      line-height: 14px;
    }
  }

  .user-bar_main {
    display: inline-block;
    width: 310px;
  }

  .user-bar_side {
    float: right;
    display: inline-block;
    vertical-align: top;
  }
}

.user-bar:last-child {
  margin-bottom: 0;
}