@import "compass/utilities/general/clearfix";

.user-slide-card {
  width: 900px;
  /* min-height: 500px; */
}

.user-slide_h {
  position: relative;
  height: 40px;
  width: 900px;
  background-color: #fff;
  border-bottom: 1px solid #e7e7e7;
  padding: 0 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0 auto;
  top: 0;
  z-index: 1000;

  .user-a {
    font-size: 24px;
    line-height: 40px;

    strong {
    }

    .user-a_suffix { display: none; }
  }

  .user-slide_h_title {
    line-height: 40px;
    font-size: 24px;
  }
}

.user-slide_b {
  padding: 20px 20px 20px 20px;
  min-height: 800px;
  @include pie-clearfix;
}

.user-slide.h-in-fm .user-slide_b {
  padding-top: 60px;
}

.user-slide_cnt {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 625px;
  padding: 0 55px 0 30px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  float: left;
  min-height: 1px;
}


.user-slide_f {
  height: 37px;
  border-top: 1px solid #e7e7e7;
  background: #fff;
  font-size: 12px;
  line-height: 38px;
  color: #999;

  padding: 0 12px;

  .act-return-top {
    float: right;
    cursor: pointer;
  }

  .beian {
    text-decoration: inherit;
    color: inherit;
    margin-left: 190px;
  }
}
