@-webkit-keyframes move {
  0% { padding-top: 2px; }
  100% { padding-top: 8px; }
}

@-moz-keyframes move {
  0% { padding-top: 2px; }
  100% { padding-top: 8px; }
}

@keyframes move {
  0% { padding-top: 2px; }
  100% { padding-top: 8px; }
}

footer[data-footer-type="user"] {
  .act-show-slider {
    position: absolute;
    width: 40px;
    top: 0;
    bottom: 0;
    left: 50%;
    cursor: pointer;
    opacity: 0.5;
    padding-top: 2px;

    animation: move 1s linear infinite alternate;
    -webkit-animation: move 1s linear infinite alternate;
    -moz-animation: move 1s linear infinite alternate;

    img {
      width: 40px;
    }

    img:last-child {
      margin-top: -26px;
    }
  }

  .act-show-slider:hover {
    opacity: 0.75;
  }
}
