.post-viewer {
  padding-bottom: 100px;

  .topic-w {
    position: relative;
    margin: 0 auto;
    width: 700px;
    box-shadow: 1px 1px 8px rgba(0,0,0,.4);
    background: rgba(255,255,255,.98);

    margin-top: 100px;
  }
}

.post-viewer .posts {
  padding: 20px;
}
