#showcase .action-bar {
  text-align: right;
  position: fixed;
  z-index: 100;
}

#showcase .action-bar {
  img { opacity: 0.7; cursor: pointer; }
  img:hover { opacity: 1; }
}

.message-viewer {
  padding: 100px 0;
  min-width: 1024px;

  .action-bar {
    width: 370px;
    top: 68px;
    left: 50%;
  }
}

.message-viewer .comment-area {
  background-color: #fff;
  border: 1px solid #e8e8e8;
  border-top: 0;
  border-radius: 0 0 5px 5px;
  width: 540px;
  margin: 0 auto;
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.message-viewer .comment-area.logged-in .edit-comment {
  padding-left: 48px;
}

.message-viewer .add-comment {
  padding: 10px 12px;

  .caret {
    position: absolute;
    top: -8px;
    left: 34px;
    border-width: 0 10px 8px;
    border-color: transparent transparent #ddd;
    font-size: 0;
    border-style: solid;

    .inner {
      position: absolute;
      top: 2px;
      left: -9px;
      border-width: 0 9px 7px;
      border-color: transparent transparent #fff;
      font-size: 0;
      border-style: solid;
    }
  }

  .reply-to {
    margin-bottom: 5px;
    color: #666;
  }

  .content {
    transition: .2s linear border;
    border: 1px solid #ccc;
    border-radius: 3px;

    .place-holder {
      color: #999;
      line-height: 36px;
      padding: 0 8px;
    }

    textarea {
      line-height: 20px;
      font-size: 14px;
      padding: 7px 10px;
    }
  }

  .extra {
    padding: 6px 10px;
  }
}

.message-viewer .edit-comment .user-a {
  position: absolute;
  font-size: 0;

  .user-a_avatar {
    width: 38px;
    height: 38px;
    left: -48px;
  }
}


.message-viewer .comments {
  background-color: #f7f9fa;
}

.message-viewer .comment {
  border-top: 1px solid #ddd;
  position: relative;
  padding: 10px 12px 6px 0;
  padding-left: 62px;

  .user-a {
    .user-a_avatar {
      top: 0;
      left: -50px;
      width: 38px;
      height: 38px;
      border-radius: 4px;
    }

    strong {
      font-size: 14px;
      color: #333;
    }

    span {
      font-size: 12px;
      color: #999;
    }
  }

  .time {
    color: #999;
    font-size: 12px;
  }

  .comment_h {
    margin-bottom: 5px;
  }

  .comment_b {
    margin-bottom: 4px;
    padding-right: 14px;
  }

  .comment_menu {
    font-size: 13px;
    line-height: 15px;
    color: rgba(29,47,58,.5);

    .comment_menu_btn:hover {
      color: rgba(29,47,58,.74);
    }
  }

  .extra {
    margin-top: 6px;

    .act-view-image {
      color: #006fe1;
      font-size: 13px;
    }
    .view-image:hover {

    }

    img {
      max-width: 450px;
      border-radius: 5px;
    }
  }

  .replies {
    margin-top: 8px;

    .comment {
      padding-left: 42px;
      padding-right: 0;

      .time {
        display: none;
      }

      .extra {
        img {
          max-width: 408px;
        }
      }
    }

    .comment:last-child {
      padding-bottom: 0;
    }

    .user-a_avatar {
      width: 32px;
      height: 32px;
      left: -42px;
    }
  }
}

.message-viewer .add-comment .content.active {
  border-color: #56b4ef;
  height: auto;

  textarea {
    min-height: 60px;
  }
}
