.timeline {
  width: 800px;
  margin: 40px auto 60px;
  position: relative;

  .timeline_bar {
    background: #9eb5c6;
    width: 6px;
    height: 100%;
    margin-left: -3px;
    position: absolute;
    left: 50%;
    top: 0;
    border-radius: 20em;
    box-shadow: inset 0 0 1px 0 rgba(0,0,0,.5), 0 0 1px 0 rgba(255,255,255,.6);
  }

  .timeline_cnt {
    padding-top: 30px;
  }
  .timeline_cnt:after {
    content: '.';
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
  }

  .timeline_cnt-l { float: left; }
  .timeline_cnt-r { float: right; }
}

.timeline .leaf {
  position: relative;
  background: #fff;
  color: #666;
  border: solid 1px #bec3c7;
  padding: 14px;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  margin-bottom: 20px;
  width: 324px;

  .arrow {
    width: 9px;
    height: 15px;
    position: absolute;
    top: 21px;
  }

  .dot {
    width: 6px;
    height: 6px;
    background: #fff;
    border: solid 3px #60829f;
    position: absolute;
    top: 22px;
    border-radius: 20em;
  }
}

.leaf[data-side="l"] {
  .arrow {
    background: url(/assets/post-arrow.png) no-repeat;
    right: -9px;
  }

  .dot {
    right: -53px;
  }
}

.leaf[data-side="r"] {
  .arrow {
    background: url(/assets/post-arrow-alt.png) no-repeat;
    left: -9px;
  }

  .dot {
    left: -53px;
  }
}

.leaf {
  font-size: 13px;
  color: #333;

  a {
    text-decoration: inherit;
    color: #3b5998;
  }
}

.leaf .header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
  height: 50px;
  padding-left: 50px;

  .user-a {
    color: #333;
    display: block;
    line-height: 20px;
    display: inline-block;

    .user-a_avatar {
      left: -50px;
      width: 42px;
      height: 42px;
      border-radius: 3px;
      top: -2px;
    }

    strong {
      font-size: 14px;
    }
    .user-a_suffix {
      display: none;
      font-size: 11px;
    }
  }

  .date {
    display: block;
    font-size: 12px;
  }
}

.leaf[data-content-type="message"] {
  .tx {
    word-wrap: break-word;
    line-height: 20px;
  }
}

.leaf[data-content-type="picture"] {
  .image {
    img {
      max-width: 100%;
      border-radius: 4px;
    }
  }
}
