@import "compass/utilities/general/clearfix";

.welcome-register-box {
  background: #fff;
  border: 1px solid #e1e8ed;
  background: #fff;
  border-radius: 4px;

  @include clearfix;

  h2 {
    border-bottom: 1px solid #e1e8ed;
    box-shadow: 0 1px 0 #fff;
    color: #66757f;
    display: block;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 12px;
    padding: 10px 12px;
    position: relative;
    text-shadow: 0 1px 0 rgba(255,255,255,0.6);
    line-height: 22px;
  }

  p {
    display: block;
    margin: 6px auto;
    width: 276px;
  }

  input {
    display: inline-block;
    padding: 4px;
    margin: 0;
    outline: 0;
    background-color: #fff;
    border: 1px solid #ccd6dd;
    width: 266px;
    height: 20px;
    box-shadow: inset 0 1px 0 #eee,#fff 0 1px 0;
    transition: background .2s linear;
    border-radius: 3px;
    font-size: 13px;
    line-height: 20px;
  }

  input:focus {
    border: 1px solid #56b4ef;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.05),0 0 8px rgba(82,168,236,0.6);
  }

  button {
    margin: 4px 12px 10px;
    padding-left: 12px;
    padding-right: 12px;

    float: right;
  }
}

.placeholder {
  color: #8899a6!important;
  white-space: nowrap;
  cursor: text;
  transition: opacity .1s,font-size .1s
}

.placeholder:focus {
  opacity: .6;
  -ms-filter: "alpha(opacity=60)"
}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
  color: #8899a6;
  opacity: 1;
  -ms-filter: "alpha(opacity=100)"
}

input:-moz-placeholder,textarea:-moz-placeholder {
  color: #8899a6;
  opacity: 1;
  -ms-filter: "alpha(opacity=100)"
}

input::-moz-placeholder,textarea::-moz-placeholder {
  color: #8899a6;
  opacity: 1;
  -ms-filter: "alpha(opacity=100)"
}

input:-ms-input-placeholder,textarea:-ms-input-placeholder {
  color: #8899a6;
  opacity: 1;
  -ms-filter: "alpha(opacity=100)"
}

input::placeholder,textarea::placeholder {
  color: #8899a6;
  opacity: 1;
  -ms-filter: "alpha(opacity=100)"
}

input:focus::-webkit-input-placeholder,textarea:focus::-webkit-input-placeholder {
  opacity: .6;
  -ms-filter: "alpha(opacity=60)"
}

input:focus:-moz-placeholder,textarea:focus:-moz-placeholder {
  opacity: .6;
  -ms-filter: "alpha(opacity=60)"
}

input:focus::-moz-placeholder,textarea:focus::-moz-placeholder {
  opacity: .6;
  -ms-filter: "alpha(opacity=60)"
}

input:focus:-ms-input-placeholder,textarea:focus:-ms-input-placeholder {
  opacity: .6;
  -ms-filter: "alpha(opacity=60)"
}

input:focus::placeholder,textarea:focus::placeholder {
  opacity: .6;
  -ms-filter: "alpha(opacity=60)"
}
