#creator-list {
  width: 700px;
  margin: 0 auto;
  text-align: center;
  .ph { display: inline-block; width: 120px; }
  .line-middle { margin: -14px; }
}

.hex {
  position: relative;
  width: 120px;
  height: 122px;
  cursor: pointer;
  display: inline-block;
}

.hex_i {
  width: 120px;
  height: 120px;
}

/* the blue color #5C92D2 */
.hex_bg {
  position: absolute;
  left: 6px;
  top: -3px;
  opacity: 0.35;
  transition: 0.25s;

  .hex_bg_top {
    width: 0;
    border-bottom: 32px solid #fff;
    border-left: 54px solid transparent;
    border-right: 54px solid transparent;
  }

  .hex_bg_middle {
    width: 108px;
    height: 62px;
    background: #fff;
  }

  .hex_bg_bottom {
    width: 0;
    border-top: 32px solid #fff;
    border-left: 54px solid transparent;
    border-right: 54px solid transparent;
  }
}

.hex:hover .hex_bg {
  opacity: 0.75;
}
