.welcome-footer {
  .float-right {
    float: right;
  }
}


#loginform label {
  position: relative;
  font-weight: 400;
  cursor: default;
  padding: 0 0 5px 2px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  font-size: 11px;
  text-transform: uppercase;
}

#loginform input[type=text],
#loginform input[type=password] {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-size: 13px;
  font-weight: 400;
  display: block;
  width: 100%;
  padding: 5px;
  border: 3px solid #ebe6e2;
  border-radius: 5px;
  outline: none;

  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#loginform input[type=text]:focus,
#loginform input[type=password]:focus {
  border-color: #bbb;
}

#loginform > p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

#loginform {
  float: left;
  display: inline-block;
  padding-left: 25px;
  border-left: 1px solid rgba(255,255,255,1);
}

.btn-w {
  float: left;
  border-right: 1px solid #EBE6E2;
  margin-top: 6px;
  padding: 3px 25px;
}

.welcome-footer {

  .btn {
    height: 38px;
    line-height: 38px;
    position: relative;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    box-shadow: inset 0 1px rgba(255,255,255,0.3);
    padding: 0 15px;
  }

  .btn-login {
    margin-left: 7px;
    margin-top: 9px;
  }
}


.welcome-text {
  display: inline-block;
  float: left;
  font-size: 34px;
  font-weight: 200;
  line-height: 60px;
  margin: 0;
}


.welcome-footer {
  .stats {
    float: left;
    padding-top: 10px;
    margin: 0;
    list-style-type: none;
  }
  .stats_entry {
    float: left;
    margin-left: 20px;
  }
  .stats_entry_number {
    font-size: 20px;
    font-weight: 200;
    line-height: 20px;
    margin-bottom: 4px;
  }

  .stats_entry_desc {
    font-size: 11px;
  }
}
