@import "compass/utilities/general/clearfix";

.welcome-form {
  width: 350px;
  margin: 0 auto;
  text-align: center;

  h1 {
    font-weight: 300!important;
    font-size: 42px;
    letter-spacing: -.04em;
    padding: 10px 15px;
    margin-bottom: 24px;
  }

  form {
    margin-top: 24px;
  }

  .flash.error {
    color: #c33;
  }

  input[type=text],
  input[type=password],
  input[type=email] {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px 0;
    font-size: 18px;
    font-weight: 300;
    border: 0;
    outline: 0;
    line-height: 1.428571429;
    color: rgba(0,0,0,.8);
    vertical-align: middle;
    background-color: #fff;
    -webkit-transition: color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: color ease-in-out .15s,box-shadow ease-in-out .15s;
  }

  .field {
    position: relative;
    padding-bottom: 20px;

    label {
      position: absolute;
      bottom: 0;
      left: -50px;
      width: 50px;
      padding-right: 350px;
      height: 20px;
      font-size: 11px;
      color: rgba(49,49,49,.57);
      text-align: right;
    }
    label:after {
      position: absolute;
      zoom: 1;
      content: "";
      height: 1px;
      width: 340px;
      left: 60px;
      top: 50%;
      background-color: rgba(49,49,49,.16);
    }
  }

  input[type=submit] {

  }
}

.register-form {
  display: none;
}

.welcome-form {
  .avatar-field {
    .avatar {
      margin: 0 auto;
    }
    .field_label {
      display: none;
    }
  }
  .img-picker {
    top: -50px;
    left: 300px;
  }
}
