.welcome-overlay {
  background-color: rgba(255, 255, 255, .4);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  cursor: wait;
}

.welcome-header {
  position: absolute;

  padding: 5px 30px;

  .breadcrumb {
    padding: 10px 20px;
    padding-left: 0;
    list-style: none;
    background-color: rgba(0,0,0,0);
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
    border: 0 none;
    margin-bottom: 0;
    height: inherit;
    font-size: inherit;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    li {
      display: inline;

      a {
        color: rgba(0,0,0,.3);
        text-decoration: none;
      }
    }

    li+li:before {
      padding: 0 5px;
      color: rgba(0,0,0,.3);
      content: "›";
      font-weight: 300;
    }
  }
}

.welcome-container {
  margin-right: auto;
  margin-left: auto;

  padding: 56px 15px;
}
