/* ----------- Works ----------- */

.works {
  position: relative;
}

.works article {
  display: block;
  margin-bottom: 20px;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.works .blank-state {

  margin: 50px 0;

  .blank-state_icon {
    display: block;
    margin: 0 auto;
    width: 47px;
    height: 58px;
    background-image: url(/assets/blank_state_document.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .blank-state_indication {
    margin-top: 10px;
    text-align: center;
    color: #999;
    font-size: 12px;
    cursor: default;
    line-height: 18px;

    a { color: inherit; text-decoration: inherit; }
  }
}
