@import "compass/utilities/general/clearfix";

.zen-editor {
  position: relative;
  padding: 0 20px;
}

.zen-blocks {
  position: relative;
  padding: 20px 0;
  outline: 0;
  min-height: 200px;
  cursor: text;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  color: #444;
  @include pie-clearfix;
}

.zen-blocks > * {
  border: 1px dashed #dde1e4;
  border-radius: 3px;
  position: relative;
  margin-bottom: 20px;
}

.zen-blocks > p {
  margin-top: 0;
  min-height: 22px;

  i {
    font-style: italic;
  }

  b {
    font-weight: bold;
  }

  u {
    text-decoration: underline;
  }
}

.zen-blocks > p:last-child {
  margin-bottom: 0;
}

.zen-blocks > figure {
  cursor: default;
  position: relative;
  text-align: center;

  .fig_image {
    position: relative;
    display: inline-block;
    max-width: 84%;

    img {
      display: block;
      max-width: 100%;
      height: auto;
    }

    .fig_f {
      position: absolute;
      margin: 0 auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      .fig_f_focus-target {
        z-index: 100;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
      }
    }
  }
}

.zen-blocks > figure.active {
  figcaption {
    display: block;
  }

  .fig_image img {
    -webkit-box-shadow: 0 0 0 3px orange;
  }
}

.zen-tooltip {
  position: absolute;
  height: 20px;
  width: 20px;
  display: block;
  top: 0;
  left: 0;

  .zen-tooltip_ctrl {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    input {
      opacity: 0;
      position: absolute;
      line-height: 20px;
      top: 0;
      right: 0;
      cursor: pointer;
    }

    .zen-tooltip_ctrl_i {
      position: relative;
      width: 100%;
      height: 100%;
      background-image: url(/assets/plus_circle.png);
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: cover;
      cursor: pointer;
      opacity: .6;
    }

    .zen-tooltip_ctrl:hover .zen-tooltip_ctrl_i { opacity: 1; }
  }

  .zen-dropline {
    position: absolute;
    width: 540px;
    height: 20px;
    left: 0px;
    display: none;
  }

  .zen-dropline > .horizontal {
    position: absolute;
    height: 1px;
    top: 50%;
    left: 14px;
    right: 14px;
    background-color: #00a7fb;
  }

  .zen-dropline > .horizontal:before, .zen-dropline > .horizontal:after {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 10px;
    border: 2px solid #00a7fb;
  }

  .zen-dropline > .horizontal:before {
    top: -4px;
    left: -7px;
  }

  .zen-dropline > .horizontal:after {
    top: -4px;
    right: -7px;
  }
}
