<%= content_for :title, "登录 Coobii | Coobii - " + I18n.t("coobii_intro") %>

<% flash[:user] ||= {} %>

<div class="welcome-header">
  <ul class="breadcrumb">
    <li>
      <a href="/">首页</a>
    </li>
    <li>
      <a href="/login">登录</a>
    </li>
  </ul>
</div>

<div class="welcome-container">

  <%= form_tag("/sessions", method: "post", class: "login-form welcome-form") do %>

    <h1>登录</h1>

    <% if flash[:error] %>
        <p class="flash error"><%= flash[:error] %></p>
    <% end %>

    <% if flash.now[:notice] %>
      <p class="flash notice"><%= flash.now[:notice] %></p>
    <% end %>

    <p class="field">
      <%= label_tag(:username_or_email, "登录") %>
      <%= text_field_tag(:username_or_email, flash[:user][:username_or_email], placeholder: "用户名或邮件地址") %>
    </p>

    <p class="field">
      <%= label_tag(:password, "密码") %>
      <%= password_field_tag(:password, nil, placeholder: "密码") %>
    </p>

    <%= submit_tag("登录", class: "btn btn-white") %>

  <% end %>

</div>
