<div
  class="viewer <%= @content.type %>-viewer"
  data-viewer-type="content"
  data-content-type="<%= @content.type %>"
  data-user-id="<%= @content.user.id %>"
  data-content-id="<%= @content.id %>">
  <%= yield :content %>
</div>
