<%
message = content.message
title = "#{ @user.display_name } (#{ @user.username }) 的消息: #{ message.title_text }"
%>

<% content_for(:title, title) %>

<% content_for :content do %>
  <div class="viewer-cnt">
    <%= render :partial => "timeline_contents/#{content.type}",
    :layout => 'timeline_contents/base',
    :locals => {
    tag_name: :div,
    content: content,
    collapse_image: false,
    html_class: 'message-sa message content-sa content',
      viewpoint: 'showcase' }
    %>
  </div>
  <div class="action-bar">
    <%= image_tag "showcase_back_icon.png", class:"act-back" %>
  </div>
<% end %>


<%= render partial: 'viewers/base' %>
