<% content_for :content do %>
  <%= render :partial => "contents/#{@content.type}",
  :layout => 'contents/base',
  :locals => { content: @content } %>
<% end %>

<%= render template: 'viewers/base' %>
