<%
post = content.post
title = "#{ @user.display_name } (#{ @user.username }) 的帖子"
%>

<% content_for(:title, title) %>

<% content_for :content do %>
  <div class="topic-w">
    <%= render partial: 'topics/viewer_header', locals: { post: post, topic: post.topic } %>
    <%= render partial: 'topics/body', locals: { topic: post.topic, post: post } %>
  </div>
<% end %>


<%= render partial: 'viewers/base' %>
