<% topic = post.topic %>
<% content = post.content %>

<% master = if user_signed_in? && post.user_id == current_user.id then true else false end %>

<ul class="topic-bar">
  <li class="count posts-count">
    <span><%= post.topic.posts_count %></span>
    <h4>帖子</h4>
  </li>
  <li class="count views-count">
    <span><%= post.topic.views_count %></span>
    <h4>浏览</h4>
  </li>
  <li class="count likes-count">
    <span><%= post.content.likes_count %></span>
    <h4>赞</h4>
  </li>
  <li class="buttons">

    <% if topic.state == 'close' %>
      <button class="btn btn-red">话题已关闭</button>
    <% end %>

    <% if master && topic.state ==  'open' %>
      <button class="btn btn-red act-close-topic">关闭话题</button>
    <% end %>

    <% if !master %>
      <% if logged_in? && content.liked_by?(current_user) %>
        <button class="btn btn-green">已赞</button>
      <% else %>
        <button class="btn btn-white act-like-topic">赞此话题</button>
      <% end %>
    <% end %>

  </li>
</ul>
