<div class="topic" data-id="<%= topic.id %>">
  <div class="posts">

    <% if defined?(post) %>

      <%= render partial: 'contents/post', locals: { :post => post } %>

    <% else %>

      <% @posts.each_with_index do |p, idx| %>
        <%= render partial: 'contents/post', locals: { :post => p, :floor => idx+1 } %>
        <% if p.primer %>
          <%= render partial: 'topics/events', locals: {topic: topic} %>
          <%= render partial: 'topics/bar', locals: { topic: topic, post: p } %>
        <% end %>
      <% end %>

    <% end %>

  </div>
</div>
