<div class="topic-events">
  <% topic.topic_events.each do |e| %>
    <div class="topic-event">
      <span class="topic-event-type <%= e.type %>"></span>
      <span class="topic-event-content">
        <%= render partial: 'users/anchor', locals: {user: User.find_by_id(e.user_id)} %>
        <% if e.type == "open" %>
          开启话题
        <% elsif e.type == "close" %>
          关闭话题
        <% end %>
      </span>
    </div>
  <% end %>
</div>
