<div class="topic-header">
  <a class="topic-header-btn topic-header-page-btn act-view-page" href="/<%= topic.page.display_ns %>" target="_blank">
    <%= topic.page.display_name %>
  </a>

  <a class="topic-title" href="/<%= topic.page.display_ns %>/topics/<%= topic.id %>" target="_blank"><%= topic.title %></a>

  <span class="topic-actions">
    <a class="topic-header-btn act-view-user" href="/<%= post.user.username %>">
      返回
    </a>
  </span>
</div>
