<%
title = @topic.title
%>

<%= content_for(:title, title) %>
<%= content_for(:namespace, @page.name_lower) %>
<%= content_for(:namespace_type, 'page') %>

<% content_for :hero do %>
  <%= render partial: 'users/hero', locals: { :display => 'hide' } %>
<% end %>

<% content_for :slider do %>
  <div class="slider show">
    <%= render partial: 'users/space', locals: { :display => 'hide' } %>
    <%= render partial: 'pages/slide', locals: { :topic => @topic } %>
  </div>
<% end %>

<%= render partial: 'users/frame', locals: {:background => BackgroundHelper.to_style(@page)} %>

<div class="slide-h-w"></div>

<% content_for :showcase do %>
<% end %>
