<ul class="content-menu">

  <li class="content-menu-btn act-delete">
    <div class="content-menu-btn-w act-dropdown-toggler">
      <span class="content-menu-btn_i">
        <i class="icon-trash"></i>
      </span>
      <span class="content-menu-btn_tx">删除</span>
    </div>
  </li>

  <li class="content-menu-btn act-share {{#if shared }}shared{{/if}}">
    <span class="content-menu-btn-w">
      <span class="content-menu-btn_i">
        <i class="icon-share"></i>
      </span>
      <span class="content-menu-btn_tx">分享</span>
      <span class="content-menu-btn_count">{{ shares_count }}</span>
    </span>
  </li>

  <li class="content-menu-btn act-mark {{#if marked }}marked{{/if}}">
    <span class="content-menu-btn-w">
      <span class="content-menu-btn_i">
        <i class="icon-star"></i>
      </span>
      <span class="content-menu-btn_tx">收藏</span>
      <span class="content-menu-btn_count">{{ marks_count }}</span>
    </span>
  </li>

  <li class="content-menu-btn act-like {{#if liked }}liked{{/if}}">
    <span class="content-menu-btn-w">
      <span class="content-menu-btn_i">
        <i class="icon-heart"></i>
      </span>
      <span class="content-menu-btn_tx">赞</span>
      <span class="content-menu-btn_count">{{ likes_count }}</span>
    </span>
  </li>

</ul>
