<div class="post-header">
  <div class="post-info">
    {{#if floor}}
      <span class="">-{{ floor }}-</span>
    {{/if}}
  </div>
</div>

<div class="post-body">
  <div class="post-blocks">

  </div>
</div>

<div class="post-footer">

</div>
