<a class="topic-header-btn topic-header-page-btn act-back" target="_blank">
  <i class="fa fa-chevron-left"></i>
  {{ page.display_name }}
</a>

<a class="topic-title" target="_blank">{{ title }}</a>

<span class="topic-actions">
  <span class="topic-action-btn act-new-post">
    <i class="fa fa-plus"></i>发帖
    <img class="spinner" src="/assets/icn_loading_animated-vflff1Mjj.gif">
  </span>
</span>
