<a class="topic-header-btn topic-header-page-btn" target="_blank">
  {{ page.display_name }}
  <i class="fa fa-chevron-right"></i>
</a>

<a class="topic-title" target="_blank">{{ title }}</a>

<span class="topic-actions">
  <span class="topic-action-btn act-close">
    <i class="fa fa-times"></i>关闭
  </span>
</span>
