<li class="count posts-count">
  <span>{{ posts_count }}</span>
  <h4>帖子</h4>
</li>
<li class="count views-count">
  <span>{{ views_count }}</span>
  <h4>浏览</h4>
</li>
<li class="count likes-count">
  <span>{{ likes_count }}</span>
  <h4>赞</h4>
</li>
<li class="buttons">

</li>
