<div class="sidebar-module_h">

  <!-- user-a -->
  <!--        -->
  <!------------>

  <ul class="user-stat">
    <li class="user-stat_count user-stat-likes">
      <strong>{{ counts.likes }}</strong>
      赞
    </li>
    <li class="user-stat_count user-stat-friends">
      <strong>{{ counts.friends }}</strong>
      正在关注
    </li>
    <li class="user-stat_count user-stat-followers">
      <strong>{{ counts.followers }}</strong>
      关注者
    </li>
  </ul>

</div>

<ul class="sidebar-module-menus">
  <li data-li-name="index">
    <span class="i">
      <img src="/assets/brightness.svg">
    </span>
    <span class="tx">我的关注</span>
  </li>
  <li data-li-name="marks">
    <span class="i">
      <img src="/assets/star.svg">
    </span>
    <span class="tx">收藏夹</span>
  </li>
  <li data-li-name="likes">
    <span class="i">
      <img src="/assets/heart.svg">
    </span>
    <span class="tx">我赞过的</span>
  </li>
</ul>

<div class="sidebar-module_f">
</div>
