<div class="sidebar-module_h">
  <small class="user-url">coobii.com/{{ username }}<span id="blog-url-arrow"></span></small>
  <span class="link-arrow"></span>
</div>

<ul class="sidebar-module-menus">
  <li data-content-type="message">
    <span class="i"><span class="icon"></span></span>
    <span class="tx">消息</span>
    <span class="count">{{ counts.messages }}</span>
  </li>
  <li data-content-type="picture">
    <span class="i"><span class="icon"></span></span>
    <span class="tx">图像</span>
    <span class="count">{{ counts.pictures }}</span>
  </li>
  <li data-content-type="link">
    <span class="i"><span class="icon"></span></span>
    <span class="tx">超链接</span>
    <span class="count">{{ counts.links }}</span>
  </li>
  <li data-content-type="article">
    <span class="i"><span class="icon"></span></span>
    <span class="tx">日志</span>
    <span class="count">{{ counts.articles }}</span>
  </li>
  <li data-content-type="quote">
    <span class="i"><span class="icon"></span></span>
    <span class="tx">引用</span>
    <span class="count">{{ counts.quotes }}</span>
  </li>
</ul>
