<div class="sidebar-module_h">
  <span class="sidebar-module_name">通知</span>
</div>

<ul class="sidebar-module-menus">
  <li>暂无任何通知</li>
  <li>查看全部</li>
  <li>查看全部 14 条通知</li>
</ul>

<div class="sidebar-module_f">
  <span class="act act-notifications-settings">
    <i class="fa fa-cog"></i>配置通知
  </span>
</div>
