<div class="sidebar-module_h">
  <span class="sidebar-module_name">设置</span>
</div>

<ul class="sidebar-module-menus">

  <li data-page="profile">
    <span class="i">
    </span>
    <span class="tx">个人资料</span>
  </li>

</ul>
