<div class="sidebar-module_h">
  <span class="sidebar-module_name">推荐关注</span>
</div>

<ul class="sidebar-module-menus">

</ul>

<div class="sidebar-module_f">
  <span class="act act-add-category">
    <i class="icon-arrows-cw"></i>换一组
  </span>

</div>
