<a class="user-a" rel="nofollow" target="_blank" href="/<%= user.username %>" data-id="<%= user.id %>" data-username="<%= user.username %>" data-display-name="<%= user.display_name %>">
  <div class="user-a_avatar" style="background-image: url(<%= user.avatar_url nil %>); background-repeat: no-repeat;">
    <img src="<%= user.avatar_url nil %>">
  </div>
  <span class="user-a_tx">
    <strong class="user-a_display-name"><%= user.display_name %></strong>
    <span class="user-a_suffix">
      <span class="user-a_at">@</span><span class="user-a_username"><%= user.username %></span>
    </span>
  </span>
</a>
