<%
bg_color = "background-color: rgba(0, 0, 0,  0);" if params[:controller] == 'contents'
  bg_color = "background-color: rgba(0, 0, 0, .2);" if params[:controller] == 'users'
    is_author = if user_signed_in? && current_user.id == @user.id then true else false end
%>

<% background_style = if defined?(background) then background else BackgroundHelper.to_style(@user) end %>

<div id="user-fm" class="fm"
     data-is-author="<%= is_author %>"
     data-user-id="<%= @user.id %>"
     data-user-username="<%= @user.username %>"
     data-user-display-name="<%= @user.display_name %>"
     >

  <div class="fm_bg" style="<%= background_style %>" ></div>
  <div class="fm_bg-overlay" style="<%= bg_color %>"></div>
  <div class="fm_m">
    <%= yield :hero %>
    <%= yield :slider %>
  </div>
</div>

<% if logged_in? %>
  <div class="carousel-nav carousel-prev"></div>
  <div class="carousel-nav carousel-next"></div>
<% end %>
