<%
is_master = user_signed_in? && current_user.id == @user.id
%>

<div class="hero <%= display %>" data-hero-type="user">

  <% if is_master %>
    <div class="message-popout">
      <div class="arrow"></div>

      <header>
        <i class="act-close-popout"></i>
      </header>

      <div class="message-popout_b">

      </div>

      <footer>

      </footer>
    </div>
  <% end %>

  <div class="sidebar">
    <aside class="side">
      <ul class="tabs">
        <li class="tab-user"><a href="#"><i class="icon-user"></i> Koakuma</a></li>
        <li class="tab-messages active"><a href="#"><i class="icon-message"></i> Messages</a></li>
        <li class="tab-pictures"><a href="#"><i class="icon-camera"></i> Pictures</a></li>
      </ul>
    </aside>

    <section class="main">
      <div class="cnt cnt-user" style="display: none;">
        <%= render :partial => "users/anchor", :locals => { :user => @user } %>
      <% if is_master  %>
        <button class="btn act-change-bg"><i class="icon-wrench"></i>更换背景</button>
      <% elsif user_signed_in? %>
        <% if current_user.following?(@user) %>
          <button class="btn btn-white follow-btn" data-following="<%= current_user.following?(@user) %>"><i class="icon-ok"></i>正在关注</button>
        <% else %>
          <button class="btn btn-white follow-btn" data-following="<%= current_user.following?(@user) %>"><i class="icon-plus"></i>关注</button>
        <% end %>
      <% else %>
        <button class="btn btn-white follow-btn" data-following="false"><i class="icon-plus"></i>关注</button>
      <% end %>
      </div>

      <div class="cnt cnt-messages">
        <% if @message_contents.length == 0 %>
          <%= render "users/hero_message_blank" %>
        <% else %>
          <ul>
            <% @message_contents.each do |c| %>
              <%= render :partial => "users/hero_message", :locals => { :content => c } %>
            <% end %>
          </ul>
        <% end %>
      </div>

      <div class="cnt cnt-pictures" style="display: none;">
        <% if @picture_contents.length == 0 %>
          <%= render "users/hero_picture_blank" %>
        <% else %>
          <ul>
            <% @picture_contents.each do |c| %>
              <%= render :partial => "users/hero_picture", :locals => { :content => c } %>
            <% end %>
          </ul>
        <% end %>
      </div>
    </section>


  </div>

  <div class="hero_cnt">

  </div>

  <footer class="ns-footer" data-footer-type="user">
    <div class="footer_in">
      <div class="act-show-slider">
        <%= image_tag asset_path('down_arrow2.svg') %>
        <%= image_tag asset_path('down_arrow2.svg') %>
      </div>
    </div>
  </footer>

</div>
