<%
message = content.message
image_attr = message.image_attributes
user = content.user
%>

<li class="item item-message">
  <%= render partial: 'users/anchor', locals: {user: user} %>
  <p><%= message.cooked %></p>
  <% if message.image.url %>
    <%
    attr = ImagesHelper.hero_msg_attr(image_attr)
    %>
    <%= content_tag :div,
    :class => 'image',
      :style => "height: #{ attr[:fram_height] }px; width: #{ attr[:img_width] }px;" do -%>
    <%= tag(:img,
            :src => message.image.url,
            :style => "top:#{ attr[:top] }px; width:#{ attr[:img_width] }px;",
            :'data-image-width' => image_attr["width"],
            :'data-image-height' => image_attr["height"]) %>
  <% end -%>
  <% end %>
  <footer>
    <%= render partial: 'users/anchor', locals: {user: user} %>
    <time datetime="<%= content.created_at %>" pubdate><%= TimeHelper.time_ago(content.created_at) %></time>
  </footer>
</li>
