<div class="space user-slide slide hide" style="<%= if display == 'hide' then 'display: none;' end %>">

  <div class="space-card user-slide-card slide-card">

    <div class="space_h user-slide_h">
      <%= render partial: 'users/anchor', locals: { user: @user } %>
      <% unless logged_in? %>
        <span class="slide-toggler">
          <i class="icon-down-open"></i>
        </span>
      <% end %>
    </div>
    <div class="space_b user-slide_b">
      <div class="space_cnt user-slide_cnt">
        <%= render partial: 'users/space_content' %>
      </div>
    </div>

    <%= render 'users/space_footer' %>

  </div>

</div>
