<%
is_master = user_signed_in? && @user.id == current_user.id
%>

<div class="space-content">
  <% if user_signed_in? and current_user.id == @user.id %>
    <%= render template: 'mio/frame' %>
  <% end %>

  <div class="contents">

    <ol>
      <% @contents.each do |c| %>
        <%= render :partial => "timeline_contents/#{c.type}", :layout => 'timeline_contents/base', :locals => { content: c } %>
      <% end %>
    </ol>

    <div class="indication">

      <div class="contents-pagination">
        <%= paginate(@contents) %>
      </div>

      <div class="contents-load-more">
        <span class="load-more-btn" style="<%= if @contents.last_page? then "display: none;" end %>">
          加载更多
          <img class="spinner" src="/assets/icn_loading_animated-vflff1Mjj.gif">
        </span>
      </div>

      <% if @contents.length == 0 %>
        <p class="contents-blank-state">暂无任何内容</p>
      <% end %>

    </div>

  </div>

</div>
