<div class="comment_h">

  <small class="time">{{ time_ago }}</small>
</div>
<div class="comment_b">
  <div class="text">
    {{text}}
  </div>
  <div class="extra">
  </div>
</div>
<div class="comment_menu">
  <span class="vote">
    <span class="comment_menu_btn vote-up">
      <span class="count">{{ up }}</span><i class="icon-up-open"></i>
    </span>
    <span class="comment_menu_btn vote-down">
      <span class="count">{{ down }}</span><i class="icon-down-open"></i>
    </span>
  </span>
  <span class="bullet">•</span>
  <span class="comment_menu_btn act-reply">回复</span>
</div>
<ul class="replies"></ul>
