<div class="caret"><div class="inner"></div></div>
<div class="add-comment">
  <div class="reply-to">
    <span class="reply-to-text">回复:</span>
    <span class="reply-to-username"></span>
    <span class="act-cancel-reply"><i class="icon-minus"></i></span>
  </div>
  <div class="edit-comment">
    <div class="content">
      <textarea></textarea>
      <div class="place-holder">发表评论...</div>
      <div class="extra"><div class="image"></div></div>
    </div>
    <div class="menu">
      <span class="spinner">

      </span>
      <button class="btn btn-white add-image">
        <input class="image-selector" type="file"></input>
        <i class="icon-camera"></i>
      </button>
      <button class="btn btn-blue create-comment">发表</button>
    </div>
  </div>

</div>
<ul class="comments">

</ul>
