<div class="leaf content"
     data-side="<%= side %>"
     data-content-type="<%= content.type %>"
     data-view-point="welcome-timeline">
  <div class="dot"></div>
  <div class="arrow"></div>
  <div class="leaf-cnt">
    <div class="header">
      <%= render :partial => 'users/anchor', :locals => { user: content.user } %>
      <span class="date"><%= content.created_at.strftime("%B %e, %Y") %></span>
    </div>
    <%= yield %>
  </div>
</div>
