<footer class="welcome-footer ns-footer" data-footer-type="welcome">
  <div class="footer_in">

    <h1 class="welcome-text">欢迎</h1>

    <ul class="stats">
      <li class="stats_entry">
        <div class="stats_entry_number"><%= @counts[:users] %></div>
        <div class="stats_entry_desc">创造者</div>
      </li>
      <li class="stats_entry">
        <div class="stats_entry_number"><%= @counts[:works]%></div>
        <div class="stats_entry_desc">作品</div>
      </li>
      <li class="stats_entry">
        <div class="stats_entry_number"><%= @counts[:messages] %></div>
        <div class="stats_entry_desc">消息</div>
      </li>
    </ul>

    <div class="float-right">

      <div class="btn-w">
        <form action="/register" method="post">
          <input type="submit" value="注册" class="btn btn-realism btn-orange btn-register">
        </form>
      </div>

      <form name="loginform" id="loginform" action="/sessions" method="post">
        <p>
          <label for="username_or_email">
            <i class="icon-user"></i>
            用户名
            <input type="text" placeholder="用户名或电子邮箱" spellcheck="false" name="username_or_email" autocomplete="on">
          </label>
        </p>

        <p>
          <label for="username_or_email">
            <i class="icon-lock"></i>
            密码
            <input type="password" placeholder="密码" name="password">
          </label>
        </p>

        <p class="submit">
          <input type="submit" id="login" class="btn btn-realism btn-blue btn-login" value="登录">
        </p>

      </form>
    </div>
  </div>
</footer>
