<div class="welcome-register-box">
  <h2>
    <strong>注册 Coobii</strong>
  </h2>
  <form action="/register" id="welcome-register-form" method="post">
    <p>
      <input type="text" autocomplete="off" name="display_name" max-length="20" placeholder="昵称">
    </p>
    <p>
      <input type="email" autocomplete="off" name="email" placeholder="邮件地址">
    </p>
    <p>
      <input type="password" name="password" placeholder="密码">
    </p>
    <button type="submit" class="btn btn-realism btn-orange btn-register">注册 Coobii</button>
  </form>
</div>
