<% unless contents.empty? %>
  <div class="timeline">
    <div class="timeline_bar"></div>
    <div class="timeline_cnt">

      <div class="timeline_cnt-l">

        <% contents.each do |c| %>
          <% side = cycle("l", "r") %>
          <% if side == 'l' %>
            <%= render :partial => "welcome/#{ c.type }",
            :layout => "welcome/base",
            :locals => { content: c, side: side } %>
          <% end %>
        <% end %>

      </div>

      <div class="timeline_cnt-r">

        <% contents.each do |c| %>
          <% side = cycle("l", "r") %>
          <% if side == 'r' %>
            <%= render :partial => "welcome/#{ c.type }",
            :layout => "welcome/base",
            :locals => { content: c, side: side } %>
          <% end %>
        <% end %>

      </div>

    </div>
  </div>
<% end %>
