<% content_for :title, "Coobii - " + I18n.t(:coobii_intro) %>

<nav id="navbar">
  <div class="navbar_inner">
    <h1 id="logo" class="logo">
      <a class="logo_anchor" href="/">Coobii</a>
    </h1>
  </div>
</nav>

<div id="container">

  <div class="welcome-fm fm">
    <div class="fm_bg"></div>

    <div class="fm_overlay"></div>

    <div class="fm_m">

      <div class="welcome-container">

        <div id="creator-list"></div>

        <%= render partial: 'timeline', locals: { :contents => @contents } %>
        <%= render partial: 'footer' %>

      </div>

    </div>
    <div class="fm_l"></div>

  </div>


</div>
