<div class="mio">
  <div class="box">
    <ul class="content-types no-select visual">
      <li class="type" data-content-type="message">
        <span><%=t :mio_posttype_message %></span>
      </li>
      <li class="type" data-content-type="private-message">
        <span><%=t :mio_posttype_private_message %></span>
      </li>
      <li class="type" data-content-type="picture">
        <span><%=t :mio_posttype_picture %></span>
      </li>
      <li class="type" data-content-type="link">
        <span><%=t :mio_posttype_link %></span>
      </li>
      <li class="type" data-content-type="article">
        <span><%=t :mio_posttype_article %></span>
      </li>
      <li class="type" data-content-type="quote">
        <span><%=t :mio_posttype_quote %></span>
      </li>
    </ul>
  </div>
</div>
