<% background_style = if defined?(background) then background else BackgroundHelper.to_style(page) end %>

<div class="page-fm fm">

  <div class="fm_bg" style="<%= background_style %>" ></div>
  <div class="fm_bg-overlay"></div>
  <div class="fm_m">
    <%= yield :slider %>
  </div>
</div>
<div class="carousel-nav carousel-prev"></div>
<div class="carousel-nav carousel-next"></div>
<div class="slide-h-w"></div>
