<div class="page-module-images page-module">

  <div class="page-module-header">
    <h2 class="page-module-title">图片</h2>
    <span class="page-module-menu">+上传</span>
  </div>

  <div class="page-module-body">

    <% if @page_images.blank? %>

      <%= render partial: 'pages/blank_state', locals: {text: "没有任何内容"} %>

    <% else %>

      <% @page_images.each do |i| %>

        <% url = i.image.url %>
        <span class="pg-image" style="background-image: url(url);">
          <%= image_tag(url) %>
        </span>

      <% end %>

    <% end %>
  </div>

</div>
