<div class="page-module-intro page-module">

  <div class="page-module-header">
    <h2 class="page-module-title">简介</h2>
  </div>

  <div class="page-module-body">

    <div style="margin-bottom: 5px;">
      <span>／人<span style="color:red;">◕</span> ‿‿ <span style="color:red;">◕</span>人＼</span>
      <span>
        <span style="color:black;">~</span>
        <span style="color:deeppink;">w</span>
        <span style="color:darkorange;">e</span>
        <span style="color:green;">l</span>
        <span style="color:blue;">c</span>
        <span style="color:chocolate;">o</span>
        <span style="color:darkblue;">m</span>
        <span style="color:darkviolet;">e</span>
        <span style="color:black;">~</span>
      </span>
    </div>
    <ul class="page-links">
      <li>coobii.com/tt</li>
      <li>coobii.com/teatime</li>
      <li>coobii.com/放课后的茶话会</li>
    </ul>

  </div>
</div>
