<% message = content.message %>

<div class="message message-pg">
  <div class="message-pg-h">
    <%= render partial: 'users/anchor', locals: { user: message.user } %>
    <div class="message-pg-info">
      <span class="message-pg-date"><%= TimeHelper.time_ago(content.created_at) %></span>
      <span class="message-pg-menu">详细</span>
    </div>
  </div>
  <div class="message-pg-b">
    <div class="message-pg-tx">
      <%= message.text %>
    </div>
    <% if message.image.url %>
      <%= image_tag(message.image.url, class: "message-pg-image") %>
    <% end %>
  </div>
</div>
