<div class="page-module-messages page-module">

  <div class="page-module-header">
    <h2 class="page-module-title">留言</h2>
    <span class="page-module-menu">+添加</span>
  </div>

  <div class="page-module-body">


      <%= render partial: 'pages/blank_state', locals: {text: "没有任何内容"} %>


  </div>

</div>
