<div class="page page-slide slide">
  <div class="page-card slide-card">

    <div class="page-banner"></div>

    <div class="page-header">

      <ul class="page-nav">
        <li class="page-nav-item active" data-section="main">
          <span><%= @page.display_name %></span>
          <span class="page-nav-item-underline"></span>
        </li>
      </ul>

      <span class="page-actions">
        <span class="page-action-btn act-new-topic">
          <i class="fa fa-plus"></i>新话题
          <img class="spinner" src="/assets/icn_loading_animated-vflff1Mjj.gif">
        </span>
      </span>

      <% if defined?(topic) %>
        <%= render partial: 'topics/header', locals: { :topic => topic } %>
      <% end %>

    </div>

    <div class="page-body">

      <% if defined?(topic) %>

        <%= render partial: 'topics/body', locals: { topic: topic } %>

      <% else %>

        <div class="page-section-main page-section">
          <div class="page-section-main-left">
            <%= render partial: 'pages/topic_list' %>
          </div>

          <div class="page-section-main-right">
            <%= render partial: 'pages/messages' %>
          </div>

        </div>

      <% end %>

    </div>

    <div class="page-footer slide-footer">
      <span class="copyright">© 2014 coobii.com, all rights reserved</span>
      <span class="act-return-top">回到顶部</span>
    </div>

  </div>
</div>
