<li class="topic-list-item" data-topic-id="<%= topic.id %>">
  <h3 class="topic-list-item-title">
    <a href="/<%= topic.page.name %>/topics/<%= topic.id %>" title="<%= topic.title %>"><%= topic.title %></a>
  </h3>


<ul class="topic-list-item-thumbs">
  <% topic.thumbnails.first(4).each do |t| %>
    <% url = t.image.thumb.url  %>
    <li class="topic-list-item-thumb" style="background-image: url(<%= url %>);">
      <img src="<%= url %>">
    </li>
  <% end %>
</ul>


<div class="topic-list-item-info">
  <%= render partial: 'users/anchor', locals: { :user => topic.user } %>
  <span style="float: right;" class="topic-list-item-views-count">
    <span><%= topic.views_count %></span>
    <span>浏览</span>
  </span>
</div>
</li>
