<div class="topic-list page-module">
  <div class="topic-list-header page-module-header">
    <h2>话题</h2>
  </div>

  <% if @topics.blank? %>
    <%= render partial: 'pages/blank_state', locals: {text: "没有任何内容"} %>
  <% else %>
    <ul>
      <% @topics.each do |t| %>
        <%= render partial: 'pages/topic_item', locals: { :topic => t } %>
      <% end %>
    </ul>
  <% end %>

  <div class="topic-list-footer">
    <div class="topic-list-pagination">
      <%= paginate(@topics) %>
    </div>
  </div>
</div>
