<%
title = @page.display_name
%>

<%= content_for(:title, title) %>
<%= content_for(:namespace, @page.name_lower) %>
<%= content_for(:namespace_type, 'page') %>

<% content_for :slider do %>
  <div class="slider show">
    <%= render partial: 'pages/slide' %>
  </div>
<% end %>

<%= render partial: 'pages/frame', locals: {:background => BackgroundHelper.to_style(@page), :page => @page} %>

<% content_for :showcase do %>
<% end %>
