<span class="content-footer-caret">
  <span class="content-footer-caret-inner"></span>
</span>
<div class="content-footer_info">
  <div class="content-footer_dtl">
    <span class="content-footer_dtl_date">{{ fancy_date }}</span>
  </div>
</div>
