<div class="msg_b">
  <div class="msg_h">
    <small class="msg_h_time">{{ time_ago }}</small>
  </div>

  <div class="msg_tx">

  </div>

  {{#if image }}
    <div class="msg_img">
    </div>
  {{/if}}

  <div class="msg_expand-cnt">

    <div class="msg_dtl">

      <ul class="msg_con">
        <li class="msg_con_count">
          <strong>{{ shares_count }}</strong>
          分享
        </li>
        <li class="msg_con_count">
          <strong>{{ marks_count }}</strong>
          收藏
        </li>
        <li class="msg_con_count">
          <strong>{{ likes_count }}</strong>
          赞
        </li>
        <li class="msg_con_avatar-row">
          <a class="user-a" href="/Koakuma"><div class="user-a_avatar" style="">
            <img src="">
          </div>
          <strong class="user-a_display-name">小恶魔</strong>
          <span class="user-a_at">@</span><span class="user-a_username">Koakuma</span>
          </a>
        </li>
      </ul>

      <div class="msg_info">
        <span class="msg_info_date">{{ fancy_time }}</span>
        <span class="msg_info_detail-dot">
          ·
        </span>
        <a class="act-view-content" href="/{{ user.username }}/messages/{{ id }}">详情</a>
        <span class="msg_info_report act-report">报告内容</span>
      </div>

    </div> <!-- end msg_dtl -->

    <div class="msg_ext">

    </div> <!-- end msg_ext -->

  </div> <!-- end msg_expand-cnt -->

  <div class="msg_menu">
    <ul class="msg_menu-left">
      {{#unless image }}
        <li class="menu-btn msg_toggle-size msg_toggle-size_expand act-expand">
          <span class="menu-btn_i"></span>
          <span class="menu-btn_tx">展开</span>
        </li>
        <li class="menu-btn msg_toggle-size msg_toggle-size_collapse act-collapse">
          <span class="menu-btn_i"></span>
          <span class="menu-btn_tx">收起</span>
        </li>
        {{else}}
        <li class="menu-btn msg_toggle-size msg_toggle-size_expand
            msg_toggle-size-with-icon
            msg_toggle-size-with-icon-image act-expand">
          <span class="menu-btn_i"></span>
          <span class="menu-btn_tx">展开</span>
        </li>
        <li class="menu-btn msg_toggle-size msg_toggle-size_collapse
            msg_toggle-size-with-icon
            msg_toggle-size-with-icon-image act-collapse">
          <span class="menu-btn_i"></span>
          <span class="menu-btn_tx">收起</span>
        </li>
      {{/unless}}
    </ul>
    <div class="msg_menu-right"></div>
  </div>
</div>
