<div class="topic topic-ebd">
    <div class="topic-ebd-header">
      <span class="topic-ebd-header-tx">
        <span class="topic-ebd-pg-name">
          {{ page.display_name }}
          <i class="icon-right-open"></i>
        </span>
        <span class="topic-ebd-title">{{ title }}</span>
      </span>
      <span class="topic-ebd-header-toggler">
        <i class="icon-down-open"></i>
      </span>
    </div>
</div>
