<div class="user-a_avatar" style="background-repeat: no-repeat;"></div>
<span class="user-a_tx">
    <strong class="user-a_display-name">{{ display_name }}</strong>
    <span class="user-a_suffix">
        <span class="user-a_at">@</span><span class="user-a_username">{{ username }}</span>
    </span>
</span>
