<div class="user-bar_main">
  <div class="user-bar_h">
  </div>
  <div class="user-bar_b">
    <div class="user-bar_headline">
      {{ headline }}
    </div>
    <div class="user-bar_bio">
      {{ bio }}
    </div>
  </div>
</div>
<div class="user-bar_side">

</div>
