<div class="content-box_h">
  <div class="content-box_h_inner">
    <h2>{{ title }}</h2>
  </div>
</div>

<div class="content-box_top-bar">

</div>

<div class="content-box_b">

</div>

<div class="content-box_bottom-bar">
</div>

<div class="content-box_f">
  <div class="content-box_f_inner">
    <div class="icon">
      <i class="content-box-logo"></i>
    </div>
  </div>
</div>
