<div class="explorer-card user-slide-card slide-card">
  <div class="user-slide_b explorer_b">
    <div class="user-slide_cnt explorer_cnt">
    </div>
  </div>
  <div class="user-slide_f explorer_f">
    <span class="copyright">© 2014 coobii.com, all rights reserved</span>
    <span class="act-return-top">回到顶部</span>
  </div>
</div>
