<div class="setting-box_h">
  <div class="setting-box_h_inn">
    <h2>密码</h2>
  </div>
</div>
<div class="setting-box_cnt">

</div>
<div class="setting-box_f">
  <div class="setting-box_f_inn">
    <span class="btn btn-blue act-save">保存</span>
    <img class="spinner" src="/assets/icn_loading_animated-vflff1Mjj.gif">
  </div>
</div>
<div class='overlay'></div>
