<div class="setting-box_h">
  <div class="setting-box_h_inn">
    <h2>个人资料</h2>
  </div>
</div>
<div class="setting-box_cnt">
</div>
<div class="setting-box_f">
  <div class="setting-box_f_inn">
    <button class="btn btn-blue act-save">保存</button>
    <img class="spinner" src="/assets/icn_loading_animated-vflff1Mjj.gif">
  </div>
</div>
<div class='overlay'></div>
