<div class="settings-card user-slide-card slide-card">
  <div class="user-slide_b settings_b">
    <div class="user-slide_cnt settings_cnt">
    </div>
  </div>
  <div class="user-slide_f settings_f">
    <span class="copyright">© 2014 coobii.com, all rights reserved</span>
    <span class="act-return-top">回到顶部</span>
  </div>
</div>
