<span class="field_label">
  <span class="field_label_tx"></span>
</span>
<div class="field_indication field_indication-top"></div>
<span class="field_ctrls"></span>
<div class="field_indication field_indication-bottom"></div>
