<div class="pn-meter">
  <span class="pn-bubble"></span>
  <span class="pn-name">放课后的茶话会</span>
  <span class="pn-caret"></span>
</div>

<div class="pn-dropdown">
  <div class="pg">
    <div class="pg-bar">
      <span class="pg-bubble"></span>
      <span class="pg-name">放课后的茶话会</span>
      <span class="pg-go">查看</span>
    </div>
    <div class="pg-body"></div>
  </div>
</div>
