<ul class="page-nav">
  <li class="page-nav-item" data-section="main">
    <span>放课后的茶话会</span>
    <span class="page-nav-item-underline"></span>
  </li>
</ul>

<span class="page-actions">
  <span class="page-action-btn act-new-topic">
    <i class="fa fa-plus"></i>新话题
    <img class="spinner" src="/assets/icn_loading_animated-vflff1Mjj.gif">
  </span>
</span>
