<div class="page-card slide-card">

  <div class="page-banner"></div>

  <div class="page-body"></div>

  <div class="page-footer">
    <span class="copyright">© 2014 coobii.com, all rights reserved</span>
    <span class="act-return-top">回到顶部</span>
  </div>

</div>
