<%
viewpoint = if viewpoint then viewpoint else "timeline" end

  liked = if user_signed_in? && content.liked_by?(current_user) then true else false end
    marked = if user_signed_in? && content.marked_by?(current_user) then true else false end
      shared = if user_signed_in? && content.shared_by?(current_user) then true else false end
%>

<%
unless defined? tag_name
  tag_name = :li
end
unless defined? html_class
  html_class = "content content-tl ".concat("#{ content.type } #{ content.type }-tl ")
end
%>

<%= content_tag(tag_name,
                :class => html_class,
                :'data-id' => content.detail.id,
                :'data-content-id' => content.id,
                :'data-content-type' => content.type,
                :'data-user-id' => content.user.id,
                :'data-liked' => liked,
                :'data-marked' => marked,
                :'data-shared' => shared,
                :'data-view-point' => viewpoint) do
-%>

<%= yield %>

<% end -%>
