<div class="content-footer">
  <span class="content-footer-caret">
    <span class="content-footer-caret-inner"></span>
  </span>
  <div class="content-footer_info">

    <%= render partial: 'users/anchor', locals: { user: content.user } %>

    <div class="content-footer_dtl">
      <span class="content-footer_dtl_date"><%= content.created_at.strftime("%B %e, %Y") %></span>
    </div>

  </div>

  <%= render partial: 'contents/menu', locals: { content: content } %>

</div>
