<%
message = content.message
image_attr = message.image_attributes
user = content.user
%>

<div class="msg_b">
  <div class="msg_h">

    <%= render partial: 'users/anchor', locals: { user: user } %>

    <small class="msg_h_time"><%= TimeHelper.time_ago(content.created_at) %></small>
  </div>

  <div class="msg_tx">
    <%=raw message.cooked %>
  </div>

  <% if message.image.url %>
    <%
    attr = ImagesHelper.msg_attr(image_attr)
    if defined?(collapse_image) && collapse_image == false
      attr[:fram_height] = attr[:img_height]
      attr[:top] = 0
    end
    %>
    <%= content_tag :div,
    :class => 'msg_img',
      :style => "height: #{ attr[:fram_height] }px; width: #{ attr[:img_width] }px;" do -%>
    <%= tag(:img,
            :src => message.image.url,
            :style => "top:#{ attr[:top] }px; width:#{ attr[:img_width] }px;",
            :'data-image-width' => image_attr["width"],
            :'data-image-height' => image_attr["height"]) %>
  <% end -%>
  <% end %>

  <div class="msg_expand-cnt">

    <div class="msg_dtl">

      <div class="msg_info">
        <span class="msg_info_date"><%= message.fancy_time %></span>
        <span class="msg_info_detail-dot">
          ·
        </span>
        <a class="act-view-content" href="/<%= user.username %>/messages/<%= message.id %>"><%=t 'message.details' %></a>
        <span class="msg_info_report act-report"><%=t 'message.report' %></span>
      </div>

    </div> <!-- end msg_dtl -->

    <div class="msg_ext">

    </div> <!-- end msg_ext -->

  </div> <!-- end msg_expand-cnt -->

  <div class="msg_menu">
    <ul class="msg_menu-left">
      <% unless message.image.url %>
        <li class="menu-btn msg_toggle-size msg_toggle-size_expand act-expand">
          <span class="menu-btn_i"></span>
          <span class="menu-btn_tx"><%=t 'message.expand' %></span>
        </li>
        <li class="menu-btn msg_toggle-size msg_toggle-size_collapse act-collapse">
          <span class="menu-btn_i"></span>
          <span class="menu-btn_tx"><%=t 'message.collapse' %></span>
        </li>
      <% else %>
        <li class="menu-btn msg_toggle-size msg_toggle-size_expand
            msg_toggle-size-with-icon
            msg_toggle-size-with-icon-image act-expand">
          <span class="menu-btn_i"></span>
          <span class="menu-btn_tx"><%=t 'message.expand' %></span>
        </li>
        <li class="menu-btn msg_toggle-size msg_toggle-size_collapse
            msg_toggle-size-with-icon
            msg_toggle-size-with-icon-image act-collapse">
          <span class="menu-btn_i"></span>
          <span class="menu-btn_tx"><%=t 'message.collapse' %></span>
        </li>
      <% end %>
    </ul>
    <div class="msg_menu-right">
      <%= render partial: "contents/menu", locals: { content: content } %>
    </div>
  </div>
</div>
