<% picture = content.picture %>
<% image = picture.image %>
<% user = content.user %>

<%
   attr = ImagesHelper.pic_attr(image)
%>

<div class="image">
  <%= image_tag image.url,
      width: 540,
      style: "top: #{ attr[:top].to_s }px"
      %>
</div>

<%= render partial: "timeline_contents/footer", locals: { content: content } %>
