<% post = content.post %>
<% topic = post.topic %>
<% post_user = post.user %>
<% topic_user = topic.user %>

<%= render partial: "timeline_contents/topic_ebd", locals: { post: post, topic: topic } %>

<div class="post-tl-body">

  <%= render partial: 'contents/post_blocks', locals: { post: post } %>

</div>

<%= render partial: "timeline_contents/content_footer", locals: { content: content } %>
