<%
user = post.user
page = topic.page
thumbs = topic.thumbnails.first(4)
%>

<div class="topic topic-ebd" data-thumbs=<%= thumbs.length %>>
    <div class="topic-ebd-header">
      <span class="topic-ebd-header-tx">
        <a class="topic-ebd-pg-name" href="/<%= page.display_ns %>" target="_blank">
          <%= page.display_name %>
          <i class="icon-right-open"></i>
        </a>
        <a class="topic-ebd-title" href="/<%= user.username %>/posts/<%= post.id %>" target="_blank"><%= topic.title %></a>
      </span>
      <span class="topic-ebd-header-toggler">
        <i class="icon-down-open"></i>
      </span>
    </div>
</div>
