<%= stylesheet_link_tag 'mio', media: 'all' %>
<%= stylesheet_link_tag 'mio_article', media: 'all' %>
<%= stylesheet_link_tag 'mio_article_document', media: 'all' %>
<%= stylesheet_link_tag 'mio_article_text', media: 'all' %>
<%= stylesheet_link_tag 'mio_article_figure', media: 'all' %>
<%= stylesheet_link_tag 'mio_article_list', media: 'all' %>
<%= stylesheet_link_tag 'mio_article_quote', media: 'all' %>
<%= stylesheet_link_tag 'mio_article_tooltip', media: 'all' %>
<%= stylesheet_link_tag 'medium-editor', media: 'all' %>
<%= stylesheet_link_tag 'button', media: 'all' %>
<%= stylesheet_link_tag 'user-a', media: 'all' %>

<style>
    #container {

    }
    .test-menu {
        width: 660px;
        margin: 20px auto;
    }
</style>

<div id="container">

</div>

<div class="test-menu">
    <button class="act-tojson">toJSON</button>
    <button class="act-put">PUT</button>
</div>
