<%= stylesheet_link_tag 'button', media: 'all' %>
<%= stylesheet_link_tag 'field', media: 'all' %>
<%= stylesheet_link_tag 'field_avatar', media: 'all' %>
<%= stylesheet_link_tag 'image_picker', media: 'all' %>

<style>
    #container {
        position: relative;
        border: 3px solid rgba(0, 0, 0, 0.1);
        border-radius: 6px;
        margin: 100px auto 0;
        width: 300px;
        box-sizing: border-box;
        padding: 20px;
    }
    .test-menu {
        width: 300px;
        margin: 20px auto
    }
</style>

<div id="container">

</div>

<div class="test-menu">
  <button class="act-log">log</button>
</div>
