<%= stylesheet_link_tag 'button', media: 'all' %>
<%= stylesheet_link_tag 'dropdown', media: 'all' %>

<style>
    #container {
        position: relative;
        border: 3px solid rgba(0, 0, 0, 0.1);
        border-radius: 6px;
        margin: 100px auto 0;
        width: 300px;
        box-sizing: border-box;
        padding: 20px;
    }
    .test-menu {
        width: 300px;
        margin: 20px auto
    }
</style>

<div id="container">
    <span class="btn-group">
        <span class="btn btn-blue act-create-post">Button</span>
        <span class="btn btn-blue act-dropdown-toggler"><i class="fa fa-angle-down"></i></span>
    </span>
</div>

<div class="test-menu">
</div>
