<%= stylesheet_link_tag 'field', media: 'all' %>
<%= stylesheet_link_tag 'field_checkbox', media: 'all' %>
<%= stylesheet_link_tag 'field_switch', media: 'all' %>
<%= stylesheet_link_tag 'field_text', media: 'all' %>
<%= stylesheet_link_tag 'field_textarea', media: 'all' %>
<%= stylesheet_link_tag 'field_radio', media: 'all' %>


<style>
    #container {
        position: relative;
        border: 3px solid rgba(0, 0, 0, 0.1);
        border-radius: 6px;
        margin: 100px auto 0;
        width: 300px;
        box-sizing: border-box;
        padding: 20px;
    }
    .field { margin-bottom: 20px; }
    .test-menu {
        width: 300px;
        margin: 20px auto
    }
</style>

<div id="container">

</div>

<div class="test-menu">
  <button class="act-log">log</button>
</div>
