<%= stylesheet_link_tag 'mio', media: 'all' %>
<%= stylesheet_link_tag 'mio_message', media: 'all' %>
<%= stylesheet_link_tag 'button', media: 'all' %>
<%= stylesheet_link_tag 'user-a', media: 'all' %>

<style>
    #container {

    }
    .test-menu {
        width: 660px;
        margin: 20px auto;
    }
</style>

<div id="container">

</div>

<div class="test-menu">

</div>
