<%= stylesheet_link_tag 'mio', media: 'all' %>
<%= stylesheet_link_tag 'mio_picture', media: 'all' %>
<%= stylesheet_link_tag 'btn', media: 'all' %>
<%= stylesheet_link_tag 'user-a', media: 'all' %>
<%= stylesheet_link_tag 'imgly', media: 'all' %>

<style>
 .mio-box.picture-box {
   border-color: rgba(0, 0, 0, .15);
 }
</style>

<div id="container">
  <div class="test-menu">
    <button class="act-log">log</button>
  </div>
</div>
