<%= stylesheet_link_tag 'sidebar', media: 'all' %>
<%= stylesheet_link_tag 'sidebar_category', media: 'all' %>

<style>
    .sidebar { float: right; margin-right: 20px; }
</style>

<div class="space">
  <div class="sidebar"></div>
</div>
