<%= stylesheet_link_tag 'sidebar', media: 'all' %>
<%= stylesheet_link_tag 'sidebar_myblog', media: 'all' %>
<%= stylesheet_link_tag 'sidebar_fields', media: 'all' %>
<%= stylesheet_link_tag 'field', media: 'all' %>
<%= stylesheet_link_tag 'field_switch', media: 'all' %>

<style>
    .sidebar { float: right; margin-right: 20px; }
</style>

<div class="space">
    <div class="sidebar"></div>
</div>
