<%= stylesheet_link_tag 'button', media: 'all' %>
<%= stylesheet_link_tag 'sidebar', media: 'all' %>
<%= stylesheet_link_tag 'mio_message', media: 'all' %>
<%= stylesheet_link_tag 'sidebar_message_box', media: 'all' %>

<style>
    .sidebar { float: right; margin-right: 20px; }
</style>

<%# DONE 删除图像后光标应该聚焦到文字框 %>
<%# DONE 没有文字时按钮应该是灰色 %>
<%# DONE 高度自动增加 %>

<div class="space">
  <div class="sidebar"></div>
</div>