<%= stylesheet_link_tag 'sidebar', media: 'all' %>
<%= stylesheet_link_tag 'button', media: 'all' %>
<%= stylesheet_link_tag 'sidebar_radar', media: 'all' %>

<style>
    body {
        background-image: url(https://abs.twimg.com/images/themes/theme1/bg.png);
        background-position: left top;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-color: #C0DEED;
    }
    .space {
        width: 800px;
        margin: 0 auto;
        height: 1000px;
        background: rgba(255, 255, 255, 0.8);
    }
    .sidebar { float: right; margin-right: 20px; }
</style>

<div class="space">
  <div class="sidebar"></div>
</div>
