<div class="fig_image">
  <div class="fig_f">
    <div class="image-upload-progress">
      <span class="bar"></span>
    </div>
    <div class="fig_f_focus-target" contenteditable="true"></div>
  </div>
</div>
