<%
    showcase_display =  params[:controller] == 'contents'
%>

<div id="showcase" style="<%= if showcase_display then 'display: block; background-color: rgba(0, 0, 0, .5);' else '' end %>">
  <div id="showcase-fm" class="fm">
    <div class="fm_bg"></div>
    <div class="fm_overlay"></div>
    <div class="fm_m">
      <%= yield :showcase %>
    </div>
  </div>
</div>
