<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9" lang="zh-cn"><![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10" lang="zh-cn"><![endif]-->
<!--[if gt IE 10]><!-->
<html class="no-js" lang="zh-cn">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <!--[if ie]><meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/><![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title><%= yield :title %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">

    <%= favicon_link_tag 'favicon.ico' %>

    <%= stylesheet_link_tag 'main', media: 'all' %>
    <%= javascript_include_tag 'modernizr', media: 'all' %>
  </head>
  <body
    class=""
    data-init-ns="<%= yield :namespace %>"
    data-init-ns-type="<%= yield :namespace_type %>"
    data-init-ns-title="<%= yield :namespace_title %>"
    <% if user_signed_in? %>
    data-logged-in
    data-identity="<%= yield :identity %>"
    data-current-user-id="<%= current_user.id %>"
    data-current-user-username="<%= current_user.username %>"
    data-current-user-display-name="<%= current_user.display_name %>"
    <% else %>
    data-identity="guest"
    <% end %>
    >
    <!--
      ______                       __        __  __
     /      \                     |  \      |  \|  \
    |  $$$$$$\  ______    ______  | $$____   \$$ \$$
    | $$   \$$ /      \  /      \ | $$    \ |  \|  \
    | $$      |  $$$$$$\|  $$$$$$\| $$$$$$$\| $$| $$
    | $$   __ | $$  | $$| $$  | $$| $$  | $$| $$| $$
    | $$__/  \| $$__/ $$| $$__/ $$| $$__/ $$| $$| $$
     \$$    $$ \$$    $$ \$$    $$| $$    $$| $$| $$
      \$$$$$$   \$$$$$$   \$$$$$$  \$$$$$$$  \$$ \$$
    -->

    <%= render partial: 'layouts/navbar' %>

    <div id="container">

      <noscript>
        <div class="no-script-alert">
          启用 Javascript 以浏览动态页面
        </div>
      </noscript>

      <!--[if IE 8]>
      <div class="incompatible-alert">
      <h4>抱歉</h4>
      <p>我们不再支持您的浏览器</p>
      </div>
      <![endif]-->

      <%= yield %>

      <%= render partial: 'layouts/showcase' %>
    </div>

    <%= javascript_include_tag 'main', media: 'all' %>
  </body>
</html>
