<!DOCTYPE html>
<html>
<head>
  <title>[TEST] <%= params[:test] %></title>
  <%= javascript_include_tag 'build/test-loader' %>
  <%= stylesheet_link_tag 'build/main', media: 'all' %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <%= yield %>
</body>
</html>
