<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="initial-scale=1.0">    <!-- So that mobile webkit will display zoomed in -->
  <meta name="format-detection" content="telephone=no"> <!-- disable auto telephone linking in iOS -->

  <title>Antwort - responsive Email Layout</title>
  <style type="text/css">

      /* Resets: see reset.css for details */
      .ReadMsgBody { width: 100%; background-color: #ebebeb;}
      .ExternalClass {width: 100%; background-color: #ebebeb;}
      .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height:100%;}
      body {-webkit-text-size-adjust:none; -ms-text-size-adjust:none;}
      body {margin:0; padding:0;}
      table {border-spacing:0;}
      table td {border-collapse:collapse;}
      .yshortcuts a {border-bottom: none !important;}


      /* Constrain email width for small screens */
      @media screen and (max-width: 600px) {
          table[class="container"] {
              width: 95% !important;
          }
      }

      /* Give content more room on mobile */
      @media screen and (max-width: 480px) {
          td[class="container-padding"] {
              padding-left: 12px !important;
              padding-right: 12px !important;
          }
      }

  </style>
</head>
<body style="margin:0; padding: 0;" bgcolor="eeeeee" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">

<!-- 100% wrapper (grey background) -->
<table border="0" width="100%" height="100%" cellpadding="0" cellspacing="0" bgcolor="#ebebeb">
  <tr><td height="30"></td></tr>
  <tr>
    <td align="center" valign="top" bgcolor="eeeeee" style="background-color: #eeeeee;">

      <!-- 600px container -->
      <table border="0" width="600" cellpadding="0" cellspacing="0" class="container">

        <tr>
          <td class="container-padding" style="padding-left: 30px; padding-right: 30px; font-size: 14px; line-height: 20px; font-family: Helvetica, sans-serif; color: #333;">

            <!-- ### BEGIN CONTENT ### -->
            <table border="0" width="560" align="center"
                   cellpadding="0" cellspace="0" class="container-middle">
              <tbody>
              <tr>
                <td align="center">
                  <%= image_tag attachments['top-rounded-bg.png'].url, alt:'', class: 'top-bottom-bg', style: 'display: block;', width: 560, height: 'auto' %>
                </td>
              </tr>
              <tr bgcolor="ffffff"><td height="7"></td></tr>
              <tr bgcolor="ffffff">
                <td>
                  <table width="528" border="0" align="center"
                         cellpadding="0" cellspacing="0"
                         class="mainContent">
                    <tbody>
                    <tr>
                      <td mc:edit="title1" class="main-header"
                          style="color: #484848; font-size: 16px;
                                  font-weight: normal; font-family:
                                  Helvetica, Arial, sans-serif;">
                        <multiline>
                          您好，只需确认邮箱地址就完成了！
                        </multiline>
                      </td>
                    </tr>
                    <tr><td height="10"></td></tr>
                    <tr>
                      <td mc:edit="text1" class="main-text"
                          style="color: #a4a4a4; font-size: 12px;
                                  font-weight: normal; font-family: Helvetica,
                                  Arial, sans-serif;">
                        <multiline>
                          您已成功创建了 Coobii 账号。请点击下面的按钮来确认邮箱地址并激活账号。
                        </multiline>
                      </td>
                    </tr>
                    <tr><td height="10"></td></tr>
                    <tr>
                      <td>
                        <a href="http://coobii.com" style="display: block; width: 80px;">
                          <%= image_tag attachments['btn-activate.png'].url, alt:'activate', class: 'btn', style: 'display: block', width: 80, height: 'auto' %>
                        </a>
                      </td>
                    </tr>
                    <tr><td height="10"></td></tr>
                    <tr>
                      <td mc:edit="text2" class="main-text-small"
                          style="color: #a4a4a4; font-size: 11px;
                                  font-weight: normal; font-family: Helvetica,
                                  Arial, sans-serif;">
                        <multiline>
                          如果点击无效，请复制下方网页地址，到浏览器地址栏打开：
                        </multiline>
                      </td>
                    </tr>
                    <tr>
                      <td mc:edit="text2" class="main-text-small"
                          style="color: #a4a4a4; font-size: 11px;
                                  font-weight: normal; font-family: Helvetica,
                                  Arial, sans-serif;">
                        <multiline>
                          http://coobii.com
                        </multiline>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr></tr>
              <tr>
                <td align="center">
                  <%= image_tag attachments['bottom-rounded-bg.png'].url, alt:'', class: 'top-bottom-bg', style: 'display: block', width: 560, height: 'auto' %>
                </td>
              </tr>
              </tbody>
            </table>
            <!-- ### END CONTENT ### -->

            <!-- footer -->
            <table border="0" width="560" align="center" cellpadding="0" cellspacing="0" class="container-middle">
              <tbody>
              <tr><td height="20"></td></tr>
              <tr>
                <td>
                  <table border="0" align="left" cellpadding="0" cellspacing="0" class="logo">
                    <tbody>
                    <tr>
                      <td align="center">
                        <a href="http://coobii.com" style="display: block;">
                          <%= image_tag attachments['logo.png'].url, alt:'logo', class: 'logo', style: 'display: block', width: 102, height: 28 %>
                        </a>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              </tbody>
            </table>
            <!-- end of footer -->

          </td>
        </tr>
      </table>
      <!--/600px container -->

    </td>
  </tr>
  <tr><td height="40"></td></tr>
</table>
<!--/100% wrapper-->
<br>
<br>
</body>
</html>

