<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9" lang="zh-cn"><![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10" lang="zh-cn"><![endif]-->
<!--[if gt IE 10]><!-->
<html class="no-js" lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <!--[if ie]><meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/><![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title><%= yield :title %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <%= favicon_link_tag 'favicon.ico' %>

    <%= stylesheet_link_tag 'main', media: 'all' %>
    <%= javascript_include_tag 'modernizr', media: 'all' %>
  </head>

  <body>
    <!--
      ______                       __        __  __
     /      \                     |  \      |  \|  \
    |  $$$$$$\  ______    ______  | $$____   \$$ \$$
    | $$   \$$ /      \  /      \ | $$    \ |  \|  \
    | $$      |  $$$$$$\|  $$$$$$\| $$$$$$$\| $$| $$
    | $$   __ | $$  | $$| $$  | $$| $$  | $$| $$| $$
    | $$__/  \| $$__/ $$| $$__/ $$| $$__/ $$| $$| $$
     \$$    $$ \$$    $$ \$$    $$| $$    $$| $$| $$
      \$$$$$$   \$$$$$$   \$$$$$$  \$$$$$$$  \$$ \$$
    -->

    <%= yield %>

    <div class="welcome-overlay"></div>

    <%= javascript_include_tag 'welcome' %>
  </body>

</html>
