<%= content_for :title, "注册 Coobii | Coobii - " + I18n.t("coobii_intro") %>

<% flash[:user] ||= {} %>

<div class="welcome-header">
  <ul class="breadcrumb">
    <li>
      <a href="/">首页</a>
    </li>
    <li>
      <a href="/register">注册</a>
    </li>
  </ul>
</div>

<div class="welcome-container">

    <%= form_tag("/registrations", method: "post", class: "register-form welcome-form") do %>

      <h1>注册</h1>

      <% if flash[:error] %>
        <% flash[:error].each do |msg| %>
          <p class="flash error"><%= msg %></p>
        <% end %>
      <% end %>

      <% if flash.now[:notice] %>
        <p class="flash notice"><%= flash.now[:notice] %></p>
      <% end %>

      <div class="avatar-field field">
        <%= label_tag(:avatar, "头像") %>
        <div class="avatar">
          <div class="avatar-ph"></div>
          <%= file_field_tag(:avatar) %>
        </div>
        <%= text_field_tag(:"avatar_attributes[scale]") %>
        <%= text_field_tag(:"avatar_attributes[offset_x]") %>
        <%= text_field_tag(:"avatar_attributes[offset_y]") %>
      </div>

      <p class="field">
        <%= label_tag(:display_name, "昵称") %>
        <%= text_field_tag(:display_name, flash[:user][:display_name], placeholder: "昵称") %>
      </p>

      <p class="field">
        <%= label_tag(:email, "邮件地址") %>
        <%= email_field_tag(:email, flash[:user][:email], placeholder: "邮件地址") %>
      </p>

      <p class="field">
        <%= label_tag(:password, "密码") %>
        <%= password_field_tag(:password, flash[:user][:password], placeholder: "创建密码") %>
      </p>

      <p class="field">
        <%= label_tag(:username, "用户名") %>
        <%= text_field_tag(:username, flash[:user][:username], placeholder: "选择你的用户名") %>
      </p>

      <p class="field">
        <%= label_tag(:invite_code, "邀请码") %>
        <%= text_field_tag(:invite_code, nil, placeholder: "邀请码") %>
      </p>

      <%= submit_tag("创建我的账号", class: "btn btn-white") %>

    <% end %>

</div>
